Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

normalize imports
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/libs/CallUtils.t.sol
Due: ethereum-contracts

added simple Dapp for closing optimism streams via L1 portal contract (#1457)
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/optimism-l1-stream-closer.html
Due: ethereum-contracts

normalize remaining + fix using
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

Shifting SuperfluidLoaderLib to libs
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidLoaderLibrary.sol
Due: ethereum-contracts

Remove space
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

rebasing
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

normalize imports (#1466)
  .all-contributorsrc
  README.md
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/libs/ERC777Helper.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/libs/CallUtils.t.sol
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/optimism-l1-stream-closer.html
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

wip
  .github/workflows/call.deploy-dry-run.yml
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
Due: ethereum-contracts

Moving SuperfluidLoaderLibrary to and ignoring solcover
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
Due: ethereum-contracts

Update deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

review comments
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
Due: ethereum-contracts

report cumulated tx fees spent in deploy script
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

added TODO to function codeChanged
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Foundry test framework (#1427)
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/libs/CallUtils.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

Update ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
Due: ethereum-contracts

using lib for ISuperToken
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

add handlers
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/test/foundry/apps/SuperAppTest.t.sol
Due: ethereum-contracts

Update coverage-cleanup.sh
  tasks/coverage-cleanup.sh
Due: none

add tests for lib
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

IDAv1Forwarder WIP
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/IDAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/utils/IDAv1Forwarder.t.sol
Due: ethereum-contracts

fix: updated README.md
  packages/starknet-contracts/README.md
Due: none

Adding foundry toga tests
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

Adding more tests
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

Refactor
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

organize superAppTester
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/SuperAppTest.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/handlers/Handler.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/handlers/IStreamHandler.sol
Due: ethereum-contracts

comments
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/SuperAppTest.t.sol
Due: ethereum-contracts

add support for a generic provider url template
  .github/workflows/handler.list-super-token.yml
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

Adding SuperfluidLoaderLib to provide host address for any network (#1464)
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  tasks/coverage-cleanup.sh
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Small script & workflow fixes (#1444)
  .github/workflows/handler.list-super-token.yml
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

use provider url template in workflows
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

update foundry input in nix flake
  flake.lock
Due: none

Add support for base-goerli network (#1449)
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
  yarn.lock
Due: ethereum-contracts

update foundry input in nix flake (#1471)
  flake.lock
Due: none

added fuzzing test
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

Add support for celo-alfajores network
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
Due: ethereum-contracts

Fixing tests
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

Update README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

added support for SAFE in ops-scripts, refs #1472
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

Minor update of README.md (#1475)
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

license cleanups
  LICENSE
  packages/automation-contracts/auto-unwrap-helpers/LICENSE
  packages/automation-contracts/autowrap/LICENSE
  packages/automation-contracts/scheduler/LICENSE
  packages/ethereum-contracts/LICENSE
  packages/js-sdk/LICENSE
  packages/sdk-core/LICENSE
  packages/sdk-redux-examples/LICENSE
  packages/sdk-redux/LICENSE
  packages/solidity-semantic-money/LICENSE
  packages/spec-haskell/LICENSE
  packages/subgraph/LICENSE
Due: ethereum-contracts, sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
