Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Require SDK-core 0.6.0 or higher
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
Due: none

Throw on transaction revert in SDK-redux transaction tracking
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/ethersError.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
Due: none

NFTDeployerLibrary
  packages/ethereum-contracts/contracts/superfluid/NFTDeployerLibrary.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

gelato resolver and tests
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
Due: none

gelato resolver and tests (#1251)
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
Due: none

CFANFTBase COFNFT WIP
  packages/ethereum-contracts/contracts/superfluid/CFANFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/COFNFT.sol
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

concept for a simplified, delegatable CFA receive hook
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1Receiver.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1Receiver.sol
  packages/ethereum-contracts/contracts/mocks/DelegatedCFAv1ReceiverHook.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector2.sol
Due: ethereum-contracts

better names
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1ReceiveHook.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1ReceiveHook.sol
  packages/ethereum-contracts/contracts/mocks/DelegatedCFAv1ReceiveHook.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector2.sol
Due: ethereum-contracts

Make daily slack bot ignore drafts until 90 days , fix link and no message when no prs
  tasks/daily-slack-bot.js
Due: none

expect CFA receiver hook to be sent by SuperToken (TCI) - further simplifies the code
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1ReceiveHook.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1ReceiveHook.sol
  packages/ethereum-contracts/contracts/mocks/DelegatedCFAv1ReceiveHook.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector2.sol
Due: ethereum-contracts

added celo to configs
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/src/getConfig.js
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
Due: ethereum-contracts, js-sdk

fix deploy script
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
Due: ethereum-contracts

Fix example project for SDK-redux
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/index.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
  yarn.lock
Due: none

Make daily slack bot ignore drafts until 90 days , fix link and no message when no prs (#1262)
  tasks/daily-slack-bot.js
Due: none

[SDK-redux] Fix transaction tracking for reverted transactions (#1255)
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/index.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/ethersError.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  yarn.lock
Due: none

NFT implementation WIP
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IIndexPublisherNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IIndexSubscriberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

add build to pre commit for contracts
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

add celo mainnet support
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/config/celo-mainnet.json
  packages/subgraph/networks.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

NFT contracts upgradability
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

minor cleanups
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
Due: ethereum-contracts

update startblock
  packages/subgraph/config/celo-mainnet.json
Due: none

constant outflow nft tests
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

Add build to pre commit for contracts (#1264)
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Fix the shamer not working when no PRs are there
  tasks/daily-slack-bot.js
Due: none

Add manual trigger
  .github/workflows/daily-slack-message.yml
Due: none

Fix the daily slack bot (#1266)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

Whoopsie
  .github/workflows/daily-slack-message.yml
Due: none

Manual slack bot trigger (#1267)
  .github/workflows/daily-slack-message.yml
Due: none

CIF NFT tests WIP
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
Due: ethereum-contracts

SuperAppBaseFlow draft and mock super app for testing
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
Due: ethereum-contracts

upgradability test wip
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

Upgradability tests
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

cfa nft integration
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
Due: ethereum-contracts

Add StreamId to FlowUpdatedEvent when querying from Subgraph
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  yarn.lock
Due: sdk-core

Reset whitespace of changelog
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

fix bad copy paste
  packages/subgraph/config/celo-mainnet.json
Due: none

fix tests w/ cfa integration
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
Due: ethereum-contracts

rename flowDataBySenderReceiver
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

cfa integration tests super happy path
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidNFTDeployerLibrary.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
Due: ethereum-contracts
