Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Don't wrap SubgraphClient's errors with SFError (#1075)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

[SDK-CORE] 0.5.6 Patch Fix (#1074)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

fix build (#1067)
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

[SDK-CORE] 0.5.6 Release (#1077)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

make yellowpaper pipeline work through nix
  devShells/spec/flake.nix
  packages/spec-haskell/Makefile
Due: none

try credential manager
  devShells/spec/flake.nix
Due: none

trivial stuff to trigger a push
  devShells/spec/flake.nix
Due: none

add sage
  devShells/spec/flake.nix
Due: none

patrician period patch
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/nodemon.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] _isPatricianPeriod Patch (#1080)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/nodemon.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
Due: ethereum-contracts

further refactoring cleanup
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/Agreement.types.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

fix tests expect
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

fix tests expect (#1082)
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

further refactoring cleanup (#1081)
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/Agreement.types.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

workflow improvements and other small changes
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/scripts/libs/common.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.js
  packages/ethereum-contracts/testsuites/all-contracts.js
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/types/custom.ts
  packages/sdk-core/tsconfig.test.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, js-sdk, sdk-core

add texlive packages
  devShells/spec/flake.nix
Due: none

yellow paper - finalizing introduction part
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Communism.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

[ETHEREUM-CONTRACTS] 1.4.1 final fixes (#1076)
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/scripts/libs/common.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.js
  packages/ethereum-contracts/testsuites/all-contracts.js
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/types/custom.ts
  packages/sdk-core/tsconfig.test.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, js-sdk, sdk-core

[ETHEREUM-CONTRACTS] backport 1.4.1 fixes
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/scripts/libs/common.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.js
  packages/ethereum-contracts/testsuites/all-contracts.js
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/types/custom.ts
  packages/sdk-core/tsconfig.test.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, js-sdk, sdk-core

fix build
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.js
Due: ethereum-contracts

remove js and js-sdk
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/js-sdk/package.json
Due: ethereum-contracts, js-sdk

fix imports
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

purge js-sdk from readme.md
  README.md
Due: none

just remove codecov badge
  README.md
Due: none

[ETHEREUM-CONTRACTS] backport 1.4.1 fixes (#1084)
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  README.md
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/scripts/libs/common.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/types/custom.ts
  packages/sdk-core/tsconfig.test.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, sdk-core

[yellowpaper] updated outline and added payment system section
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/assets/discrete-money-distribution.png
Due: none

money distribution models
  packages/spec-haskell/Makefile
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

DONE subsection: Money Distribution Models
  packages/spec-haskell/packages/core/src/Money/Theory/Distribution.lhs
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/assets/money-distribution-with-ctx.png
Due: none

add gnuplut to spec development
  devShells/spec/flake.nix
Due: none

subsection FILLED: payment primitives
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Theory/Distribution.lhs
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

subsection WIP: Payment Execution Environment Models
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Theory/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/utils/lhs2tex.sh
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

WIP Payment Execution Environment Models
  devShells/spec/flake.nix
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/assets/money-distribution-with-ctx.png
Due: none

src-internal should be symlink
  packages/spec-haskell/packages/core/src-internal/Lens/Internal.hs
Due: none

src-internal should be symlink
  packages/spec-haskell/packages/core/src-internal
Due: none

integrated CFAv1Forwarder into the sdk
  package.json
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/contracts.json
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/2_operation.test.ts
  yarn.lock
Due: sdk-core

[WIP] still in Payment Execution Environment sub section
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/utils/lhs2tex.sh
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none
