Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

Fix eslint errors
  packages/js-sdk/src/utils/general.js
  packages/js-sdk/test/Framework.test.js
Due: js-sdk

Reset yarn.lock
  yarn.lock
Due: none

Remove readme examples with ethers
  packages/js-sdk/README.md
  packages/js-sdk/src/batchCall.md
Due: js-sdk

add callback checks and remove state var redundancy
  examples/employment-based-loan/contracts/EmploymentLoan.sol
  examples/employment-based-loan/contracts/test/MockV3Aggregator.sol
Due: none

added test for IDA approval
  examples/stream-in-distribute-out/test/StreamSwapDistribute.test.js
Due: none

clean up mockv3aggregator file
  examples/employment-based-loan/contracts/test/MockV3Aggregator.sol
  examples/employment-based-loan/hardhat.config.js
  examples/employment-based-loan/test/EmploymentLoan.test.js
Due: none

added comments on validation
  examples/stream-in-distribute-out/contracts/base/StreamInDistributeOut.sol
Due: none

iterate on workflow
  .github/workflows/handler.contractdocs.yml
Due: none

make CFA_ID constant and fix ctx return redundancy in callback
  examples/employment-based-loan/contracts/EmploymentLoan.sol
Due: none

Employment loan fix (#877)
  examples/employment-based-loan/contracts/EmploymentLoan.sol
  examples/employment-based-loan/contracts/test/MockV3Aggregator.sol
  examples/employment-based-loan/hardhat.config.js
  examples/employment-based-loan/test/EmploymentLoan.test.js
Due: none

budget nft variables cleanup, remove migrations.sol
  examples/budget-nft/contracts/BudgetNFT.sol
  examples/budget-nft/contracts/Migrations.sol
  examples/budget-nft/hardhat.config.ts
  examples/budget-nft/test/BudgetNFT.test.ts
Due: none

remove unecessary cfa assertion in constructor
  examples/budget-nft/contracts/BudgetNFT.sol
  examples/budget-nft/test/BudgetNFT.test.ts
Due: none

more detailed readme
  examples/budget-nft/.env.template
  examples/budget-nft/README.md
  examples/budget-nft/scripts/deploy.js
  examples/budget-nft/scripts/editNFT.js
  examples/budget-nft/scripts/fundContract.js
  examples/budget-nft/scripts/issueNFT.js
  examples/budget-nft/scripts/mergeNFTs.js
  examples/budget-nft/scripts/splitNFT.js
  examples/budget-nft/scripts/transferNFT.js
Due: none

add deploy + interaction scripts
  examples/budget-nft/.env.template
  examples/budget-nft/README.md
  examples/budget-nft/hardhat.config.ts
  examples/budget-nft/scripts/deploy.js
  examples/budget-nft/scripts/editNFT.js
  examples/budget-nft/scripts/fundContract.js
  examples/budget-nft/scripts/issueNFT.js
  examples/budget-nft/scripts/mergeNFTs.js
  examples/budget-nft/scripts/splitNFT.js
  examples/budget-nft/scripts/transferNFT.js
Due: none

change wording in readme
  examples/budget-nft/.env.template
  examples/budget-nft/README.md
Due: none

remove unnecessary host var
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token/test/DividendRightsToken.test.ts
Due: none

change import schema
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token/test/DividendRightsToken.test.ts
Due: none

ensure consistent styling in imports
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
Due: none

add env to gitignore for safety
  examples/rewards-distribution-token/.eslintignore
Due: none

rm extra fluff from readme
  examples/rewards-distribution-token/README.md
Due: none

updated interface natspec to be more suitable for docgen
  .github/workflows/handler.update-evm-contracts-docs.yml
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
Due: ethereum-contracts

improved docgen templates
  packages/ethereum-contracts/docs/docgen-templates/contract.hbs
  packages/ethereum-contracts/docs/docgen-templates/event.hbs
  packages/ethereum-contracts/docs/docgen-templates/function.hbs
  packages/ethereum-contracts/docs/docgen-templates/helpers.js
  packages/ethereum-contracts/docs/docgen-templates/page.hbs
  packages/ethereum-contracts/docs/docgen-templates/struct.hbs
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

less polluted toc
  .github/workflows/handler.update-evm-contracts-docs.yml
  packages/ethereum-contracts/docs/docgen-templates/event.hbs
  packages/ethereum-contracts/docs/docgen-templates/function.hbs
  packages/ethereum-contracts/templates/.gitkeep
Due: ethereum-contracts

Workflow Edits + Subgraph 1.4.1 Patch (#872)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superToken.ts
Due: sdk-core

Branch Policy Sync
  .github/workflows/ci.canary.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
Due: none

Map flow update type to FlowUpdatedEvent
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

Fix budget nft (#878)
  examples/budget-nft/.env.template
  examples/budget-nft/README.md
  examples/budget-nft/contracts/BudgetNFT.sol
  examples/budget-nft/contracts/Migrations.sol
  examples/budget-nft/hardhat.config.ts
  examples/budget-nft/scripts/deploy.js
  examples/budget-nft/scripts/editNFT.js
  examples/budget-nft/scripts/fundContract.js
  examples/budget-nft/scripts/issueNFT.js
  examples/budget-nft/scripts/mergeNFTs.js
  examples/budget-nft/scripts/splitNFT.js
  examples/budget-nft/test/BudgetNFT.test.ts
Due: none

rm .github folder
  examples/nftbillboard-userdata/.github/ISSUE_TEMPLATE/bug_report.md
  examples/nftbillboard-userdata/.github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix listing script
  packages/ethereum-contracts/scripts/resolver-list-super-token.js
Due: ethereum-contracts

rm extra state vars
  examples/nftbillboard-userdata/packages/hardhat/contracts/RedirectAll.sol
  examples/nftbillboard-userdata/packages/hardhat/contracts/TradeableCashflow.sol
Due: none

adjust test file
  examples/nftbillboard-userdata/packages/hardhat/test/NFTBillboard.test.js
Due: none

fix deploy script by removing cfa param - no longer needed
  examples/nftbillboard-userdata/README.md
  examples/nftbillboard-userdata/packages/hardhat/deploy/00_deploy_tradeable_cashflow.js
  examples/nftbillboard-userdata/yarn.lock
Due: none

initial commit
  examples/money-router/.env.example
  examples/money-router/.eslintignore
  examples/money-router/.eslintrc.js
  examples/money-router/.gitignore
  examples/money-router/.npmignore
  examples/money-router/.prettierignore
  examples/money-router/.prettierrc
  examples/money-router/.solhint.json
  examples/money-router/.solhintignore
  examples/money-router/README.md
  examples/money-router/contracts/MoneyRouter.sol
  examples/money-router/hardhat.config.js
  examples/money-router/package.json
  examples/money-router/scripts/deploy.js
  examples/money-router/test/MoneyRouter.test.js
  examples/money-router/test/abis/fDAIABI.js
Due: none

remove local test
  .github/workflows/ci.pre-release-subgraph.yml
Due: none

Stream to distribution example (#871)
  examples/stream-in-distribute-out/.gitignore
  examples/stream-in-distribute-out/build-and-test.sh
  examples/stream-in-distribute-out/contracts/StreamSwapDistribute.sol
  examples/stream-in-distribute-out/contracts/base/StreamInDistributeOut.sol
  examples/stream-in-distribute-out/contracts/mocks/ERC20Mock.sol
  examples/stream-in-distribute-out/contracts/mocks/UniswapRouterMock.sol
  examples/stream-in-distribute-out/hardhat.config.js
  examples/stream-in-distribute-out/package.json
  examples/stream-in-distribute-out/test/StreamSwapDistribute.test.js
  examples/stream-in-distribute-out/test/util/create-supertoken.js
  examples/stream-in-distribute-out/test/util/deploy-sf.js
  examples/stream-in-distribute-out/yarn.lock
Due: none

Map flow update type to FlowUpdatedEvent (#882)
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

remove local-subgraph-url leak
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

Remove ethers support from js-sdk (#876)
  packages/js-sdk/README.md
  packages/js-sdk/package.json
  packages/js-sdk/src/Framework.d.ts
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/batchCall.md
  packages/js-sdk/src/loadContracts.d.ts
  packages/js-sdk/src/loadContracts.js
  packages/js-sdk/src/utils/general.js
  packages/js-sdk/test/Framework.test.js
  packages/js-sdk/test/ethers.test.js
  packages/js-sdk/webpack.config.js
Due: js-sdk

unused import ts fix
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

Branch Policy Sync (#881)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
