Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

missing addresses
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

missing addresses cont.
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

changeset
  packages/sdk-core/CHANGELOG.md
  packages/sdk-redux/CHANGELOG.md
Due: sdk-core

more radical purging
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/chainIds.ts
Due: ethereum-contracts

full OCD
  .github/ISSUE_TEMPLATE/subgraph-bug-report.md
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/subgraph/.env.example
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/store.ts
  sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
Due: ethereum-contracts

per unit semantic money logic copy to subgraph
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

[PROTOCOL-MONOREPO] remove deprecated networks (#1848)
  .github/ISSUE_TEMPLATE/subgraph-bug-report.md
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.verify-contracts.yml
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/deploy-gda-forwarder.sh
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/test/getConfig.test.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/hardhat.config.ts
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/tasks/deploy.sh
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/chainIds.ts
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/store.ts
  sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
  tasks/daily-slack-bot.js
Due: ethereum-contracts, sdk-core

fix up test case
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

mini fix
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

ignore test
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

no-op, trigger build
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

[SUBGRAPH] [BUG] PoolMember not getting updated when the member units change (#1877)
  .devcontainer/devcontainer.json
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/bugs/2024-03-06-pool-member-units-changed.test.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

fix tests
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

lint fixes
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
Due: ethereum-contracts

fix build errors
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
Due: ethereum-contracts

[SUBGRAPH] approval mapping (#1878)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
Due: none

new functions to lib
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

fix formatting
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
Due: ethereum-contracts

lint wip
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
Due: ethereum-contracts

yarn install lint fix
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
Due: ethereum-contracts

i love it when lint errors are the issue
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
Due: none

mini fix (#1888)
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

clean-up the test
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

fix test
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

add elaborate gda test for flow distribution
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

removed scroll-sepolia from hosted networks (not available)
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

changelog
  packages/metadata/CHANGELOG.md
Due: none

less wrong
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
Due: ethereum-contracts

fix surgery & adjust test
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] don't claim as a side effect of updateMemberUnits() (#1883)
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

[METADATA] remove nonexistent subgraph endpoint for scroll-sepolia (#1891)
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

switch canary to optimism-sepolia and change deploy script to fix the possibility of testnet bricking if interrupted
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix gda code changed detection
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

remove excess newlines
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

chore: remove repetitive words
  packages/subgraph/README.md
Due: none

missing branch
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/subgraph/README.md
Due: ethereum-contracts

fix reset case
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

getTotalAmountReceivedByMember implemented
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
Due: ethereum-contracts

[CI] [OPS-SCRIPTS] switch canary to optimism-sepolia (#1892)
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/subgraph/README.md
Due: ethereum-contracts

free range functions
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperfluidPool.prop.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
