Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

some refactoring of makeLiquidationPayoutsV2
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
Due: ethereum-contracts

fixes
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superToken.ts
Due: ethereum-contracts, sdk-core

bug fixes, added tests
  examples/stream-in-distribute-out/contracts/base/StreamInDistributeOut.sol
  examples/stream-in-distribute-out/test/StreamSwapDistribute.test.js
  examples/stream-in-distribute-out/test/util/create-supertoken.js
  examples/stream-in-distribute-out/test/util/deploy-sf.js
Due: none

test behavior change
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
Due: ethereum-contracts

remove needs as this syntax doesn't allow feature/dev deploy and is already being tested in pre-release workflow
  .github/workflows/handler.deploy-subgraph.yml
Due: none

new syntax fix
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
Due: ethereum-contracts

add instructions to readme
  examples/rewards-distribution-token/README.md
Due: none

fixes to deploy workflow
  examples/rewards-distribution-token/.env.example
  examples/rewards-distribution-token/README.md
  examples/rewards-distribution-token/package.json
  examples/rewards-distribution-token/scripts/deploy.ts
Due: none

fix deploy workflow
  examples/rewards-distribution-token/README.md
  examples/rewards-distribution-token/hardhat.config.ts
  examples/rewards-distribution-token/scripts/deploy.ts
Due: none

comment out networks in hardhat.config so tests pass
  examples/rewards-distribution-token/hardhat.config.ts
Due: none

Fix handler.deploy-subgraph.yml (#863)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

use goerli endpoint for feature sdk-core tests
  packages/sdk-core/package.json
Due: sdk-core

SDK-CORE: expose constants (#859)
  packages/sdk-core/src/index.ts
Due: sdk-core

various improvements
  examples/rewards-distribution-token/.env.example
  examples/rewards-distribution-token/README.md
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token/hardhat.config.ts
  examples/rewards-distribution-token/scripts/deploy.ts
Due: none

cleaner code
  examples/rewards-distribution-token/scripts/deploy.ts
Due: none

use dev-goerli
  packages/sdk-core/package.json
Due: sdk-core

Missing transfer events for liquidation (#855)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/libs/EventsEmitter.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/test/helpers/testers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/eventQueries.ts
  packages/subgraph/test/subgraph.test.ts
  packages/subgraph/test/validation/eventValidators.ts
Due: ethereum-contracts, sdk-core

Fixed rewards dist token example build(#858)
  examples/rewards-distribution-token/.env.example
  examples/rewards-distribution-token/.gitignore
  examples/rewards-distribution-token/README.md
  examples/rewards-distribution-token/build-and-test.sh
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token/hardhat.config.ts
  examples/rewards-distribution-token/package.json
  examples/rewards-distribution-token/scripts/deploy.ts
  examples/rewards-distribution-token/test/DividendRightsToken.test.ts
  examples/rewards-distribution-token/test/abis/fDAIABI.js
  examples/rewards-distribution-token/tsconfig.json
  examples/rewards-distribution-token/types/custom.d.ts
  examples/rewards-distribution-token/yarn.lock
Due: none

get correct chain id for subgraph test
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

get correct chain id for subgraph test (#866)
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

bump sdk-core versions + CHANGELOG update
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

bump sdk-core versions + CHANGELOG update (#868)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

use abi.encodeCall
  examples/budget-nft/contracts/BudgetNFT.sol
  examples/simple-acl-close/src/SimpleACLCloseResolver.sol
  examples/simple-acl-close/src/test/SimpleACLCloseResolver.t.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/CustomSuperTokenMock.sol
  packages/ethereum-contracts/contracts/mocks/IDASuperAppTester.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/TOGA.sol
Due: ethereum-contracts

SimpleACLResolver encodeCall
  examples/simple-acl-close/src/SimpleACLCloseResolver.sol
Due: none

Use `abi.encodeCall` (#869)
  examples/budget-nft/contracts/BudgetNFT.sol
  examples/simple-acl-close/src/SimpleACLCloseResolver.sol
  examples/simple-acl-close/src/test/SimpleACLCloseResolver.t.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/CustomSuperTokenMock.sol
  packages/ethereum-contracts/contracts/mocks/IDASuperAppTester.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/TOGA.sol
Due: ethereum-contracts

added test script, minor bug fixes
  examples/stream-in-distribute-out/build-and-test.sh
  examples/stream-in-distribute-out/contracts/StreamSwapDistribute.sol
  examples/stream-in-distribute-out/contracts/base/StreamInDistributeOut.sol
  examples/stream-in-distribute-out/package.json
Due: none

workflow edits
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superToken.ts
Due: sdk-core

regenerate `schema.graphql`
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

iterate on workflow
  .github/workflows/handler.contractdocs.yml
Due: none

iterate on workflow
  packages/ethereum-contracts/templates/.gitkeep
  packages/ethereum-contracts/templates/contract.hbs
  packages/ethereum-contracts/templates/event.hbs
  packages/ethereum-contracts/templates/function.hbs
  packages/ethereum-contracts/templates/helpers.js
  packages/ethereum-contracts/templates/page.hbs
Due: ethereum-contracts

add previous version test for local subgraph
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
Due: sdk-core

Remove ethers support
  packages/js-sdk/README.md
  packages/js-sdk/package.json
  packages/js-sdk/src/Framework.d.ts
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/batchCall.md
  packages/js-sdk/src/loadContracts.d.ts
  packages/js-sdk/src/loadContracts.js
  packages/js-sdk/src/utils/general.js
  packages/js-sdk/test/Framework.test.js
  packages/js-sdk/test/ethers.test.js
  packages/js-sdk/webpack.config.js
  yarn.lock
Due: js-sdk

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
