Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

see what breaks if subgraphQueryEndpoint isn't defined
  packages/js-sdk/src/getConfig.js
Due: none

unknown chains are treated as testnet
  packages/js-sdk/src/getConfig.js
Due: none

metadata update
  yarn.lock
Due: none

mapping functions WIP
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/src/utils.ts
Due: none

undo add debug log
  packages/ethereum-contracts/ops-scripts/info-scan-deployments.js
Due: ethereum-contracts

updated truffle verification plugin for base and zkevm support
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

aggregate entities schema
  packages/subgraph/schema.graphql
Due: none

Update package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Added zkEVM testnet support (#1479)
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
  packages/subgraph/config/base-goerli.json
  packages/subgraph/config/zkevm-testnet.json
  yarn.lock
Due: ethereum-contracts

...
  package.json
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  yarn.lock
Due: ethereum-contracts

added missing files
  packages/ethereum-contracts/ops-scripts/libs/Framework.js
  packages/ethereum-contracts/ops-scripts/libs/abi.js
  packages/ethereum-contracts/ops-scripts/libs/contracts.json
  packages/ethereum-contracts/ops-scripts/libs/loadContracts.js
Due: ethereum-contracts

re-added createERC20Wrapper
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/libs/Framework.js
Due: ethereum-contracts

- add docs for new properties - initialize new properties in getOrInit - add tests for new properties in matchstick
  packages/subgraph/config/hardhat.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

Delete hardhat.json
  packages/subgraph/config/hardhat.json
Due: none

permissionless SuperApps on Celo
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
Due: ethereum-contracts

Permissionless SuperApps on Celo (#1484)
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
Due: ethereum-contracts

nft's wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

add transfer units to pool test
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix tests and update changelog
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

nft testing wip
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
Due: ethereum-contracts

[SDK-core] make BatchCall convertible to Operation (#1417)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/multiplyGasLimit.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

[NIX-FLAKE] update foundry to july snapshot
  flake.lock
Due: none

[NIX-FLAKE] update foundry to july snapshot (#1488)
  flake.lock
Due: none

fix build
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

wip + refactoring tests
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
Due: ethereum-contracts

fix build
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

testing wip
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
Due: ethereum-contracts

tests refactor
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolNFTBase.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolMemberNFT.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
Due: ethereum-contracts

pool nft tests wip + cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
Due: ethereum-contracts

add assertions for nft's in gda helpers
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
Due: ethereum-contracts

Update Framework.js
  packages/js-sdk/src/Framework.js
Due: none

Update Framework.js (#1494)
  packages/js-sdk/src/Framework.js
Due: none

verify contracts in canary build
  .github/workflows/ci.canary.yml
Due: none

verify contracts in canary build (#1495)
  .github/workflows/ci.canary.yml
Due: none

add GDA to SDK-Core
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/SuperfluidAgreement.ts
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

TSDoc for SuperfluidPool
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

use dev as release draft branch
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
Due: none

GDA in SDK-Core WIP
  packages/ethereum-contracts/contracts/utils/SuperfluidLoader.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
