Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

use typechain-types from eth-contracts wip
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
Due: ethereum-contracts, sdk-core

revert completely to last passing
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

should be exactly the same now
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

update of the nix flake tooling
  CONTRIBUTING.md
  devShells/minimum/flake.nix
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  devShells/whitehat/flake.lock
  devShells/whitehat/flake.nix
  flake.lock
  flake.nix
Due: none

pin to specific tag
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

test if pinning works
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

fix nix dev shells
  package.json
Due: none

docker compose
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/docker-compose.yml
Due: none

trigger subgraph tests
  packages/subgraph/hardhat.config.ts
  tasks/check-changeset.sh
Due: none

ts not js
  tasks/check-changeset.sh
Due: none

missing file!
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

clear cache
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

recache
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

Fix subgraph testing: copy upstream docker compose file (#1109)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/docker-compose.yml
  packages/subgraph/hardhat.config.ts
  packages/subgraph/tasks/setup-graph-node.sh
  tasks/check-changeset.sh
Due: none

updating contributing text
  CONTRIBUTING.md
Due: none

update nix
  flake.lock
  flake.nix
Due: none

add cabal-intall
  flake.nix
Due: none

review fixes with proper subgraph
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/subgraph/test/helpers/helpers.ts
Due: ethereum-contracts

fix build
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/package.json
  packages/subgraph/tasks/testenv-ctl.sh
Due: ethereum-contracts

Update package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] SuperfluidFrameworkDeployer Additions (#1104)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/.prettierrc.js
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/tsconfig.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/contracts.json
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/test/_setupTestEnvironment.ts
  packages/subgraph/config/ganache.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/helpers/testers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, sdk-core

override hls supportedGhcVersions
  flake.nix
Due: none

update flake & fix hls
  flake.lock
  flake.nix
Due: none

typechain-types commonjs build under /build
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tsconfig.typechain.json
Due: ethereum-contracts

add stylish-haskell
  flake.nix
Due: none

Update of the nix flake tooling (#1108)
  CONTRIBUTING.md
  devShells/minimum/flake.nix
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  devShells/whitehat/flake.lock
  devShells/whitehat/flake.nix
  flake.lock
  flake.nix
  package.json
Due: none

fix build
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/sdk-core/test/2_operation.test.ts
Due: ethereum-contracts, sdk-core

Contracts WIP
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

canonical creation tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

improved tooling for same-address deployment of CFA forwarder
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/scripts/resolver-set-key-value.js
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

satisfy linter
  packages/ethereum-contracts/scripts/resolver-set-key-value.js
Due: ethereum-contracts

Agreement Forwarder Integration WIP
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
  packages/sdk-core/test/1.1_supertoken_cfa.test.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/1.3_supertoken_ida.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

SDK-Core cleanup
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.1_supertoken_cfa.test.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

bump sdk-core version
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

Fix them hardcoded addresses!
  packages/subgraph/config/ganache.json
  packages/subgraph/src/addresses.template.ts
Due: none

two step fix
  packages/subgraph/test/helpers/helpers.ts
Due: none

Subgraph test setup cleanup
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/README.md
  packages/subgraph/config/ganache.json
  packages/subgraph/package.json
  packages/subgraph/scripts/runDeployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test-subgraph.template.yaml
  packages/subgraph/test/helpers/helpers.ts
Due: none
