Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

check package version test for sdk-core
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  tasks/check-package-version.sh
Due: none

refactor check-package-version more
  tasks/check-package-version.sh
Due: none

one workflow for package releases
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
Due: none

fix actionlint error
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

cleanup
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

added metadata to mono repo, and also updated it reference into other packages to use version.
  .github/workflows/ci.canary.yml
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/.gitignore
  packages/metadata/README.md
  packages/metadata/build.sh
  packages/metadata/compare-committed-against-build.sh
  packages/metadata/main/index.cjs
  packages/metadata/main/networks/index.cjs
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/index.d.ts
  packages/metadata/module/index.js
  packages/metadata/module/networks/index.d.ts
  packages/metadata/module/networks/index.js
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/netlify/functions/hello.ts
  packages/metadata/netlify/functions/index.cjs
  packages/metadata/netlify/functions/index.d.ts
  packages/metadata/netlify/functions/index.js
  packages/metadata/netlify/functions/networks/index.cjs
  packages/metadata/netlify/functions/networks/index.d.ts
  packages/metadata/netlify/functions/networks/index.js
  packages/metadata/netlify/functions/networks/list.cjs
  packages/metadata/netlify/functions/networks/list.d.ts
  packages/metadata/netlify/functions/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

added metadata to mono repo, and also updated it reference into other packages to use version.
  package.json
  packages/metadata/.eslintignore
  packages/metadata/.eslintrc.json
  packages/metadata/main/index.cjs
  packages/metadata/main/networks/index.cjs
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/index.d.ts
  packages/metadata/module/index.js
  packages/metadata/module/networks/index.d.ts
  packages/metadata/module/networks/index.js
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/netlify/functions/hello.ts
  packages/metadata/netlify/functions/index.cjs
  packages/metadata/netlify/functions/index.d.ts
  packages/metadata/netlify/functions/index.js
  packages/metadata/netlify/functions/networks/index.cjs
  packages/metadata/netlify/functions/networks/index.d.ts
  packages/metadata/netlify/functions/networks/index.js
  packages/metadata/netlify/functions/networks/list.cjs
  packages/metadata/netlify/functions/networks/list.d.ts
  packages/metadata/netlify/functions/networks/list.js
  packages/metadata/package.json
  yarn.lock
Due: none

reverted yarn.lock
  yarn.lock
Due: none

added /* eslint-disable */ into build.sh , eslint complaint
  package.json
  packages/metadata/build.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

change to heredoc way
  packages/metadata/build.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

wip
  .github/RELEASE_TEMPLATE/release-notes.md
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
Due: none

no dashes
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

Added metadata to monorepo, and also updated it reference into other package.json (#1501)
  .github/workflows/ci.canary.yml
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/.eslintignore
  packages/metadata/.eslintrc.json
  packages/metadata/.gitignore
  packages/metadata/README.md
  packages/metadata/build.sh
  packages/metadata/compare-committed-against-build.sh
  packages/metadata/main/index.cjs
  packages/metadata/main/networks/index.cjs
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/index.d.ts
  packages/metadata/module/index.js
  packages/metadata/module/networks/index.d.ts
  packages/metadata/module/networks/index.js
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/netlify/functions/hello.ts
  packages/metadata/netlify/functions/index.cjs
  packages/metadata/netlify/functions/index.d.ts
  packages/metadata/netlify/functions/index.js
  packages/metadata/netlify/functions/networks/index.cjs
  packages/metadata/netlify/functions/networks/index.d.ts
  packages/metadata/netlify/functions/networks/index.js
  packages/metadata/netlify/functions/networks/list.cjs
  packages/metadata/netlify/functions/networks/list.d.ts
  packages/metadata/netlify/functions/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

add metadata
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  README.md
  packages/metadata/LICENSE
Due: none

set draft: false
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

more tests and coverage WIP
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
Due: sdk-core

[WORKFLOW] use dev as release draft branch trigger (#1498)
  .github/RELEASE_TEMPLATE/release-notes.md
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  README.md
  packages/metadata/LICENSE
  tasks/check-package-version.sh
Due: none

Added missing metadata types into list.d.ts
  packages/metadata/module/networks/list.d.ts
Due: none

Added missing metadata types into list.d.ts (#1505)
  packages/metadata/module/networks/list.d.ts
Due: none

use different check version logic
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

fix bash
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

revisited version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

revisited version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/subgraph/package.json
Due: ethereum-contracts

only query when subgraph endpoints exist
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

[WORKFLOWS] Fix Subgraph Versions Check (#1506)
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

wip
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/sdk-core/src/interfaces.ts
Due: ethereum-contracts, sdk-core

rename of metadata
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

fix build + add tests
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/foundry/utils/GDAv1Forwarder.t.sol
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
Due: ethereum-contracts, sdk-core

Bump Metadata Version (#1507)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

force artifact creation
  .github/workflows/cd.feature.create-pr-artifact.yml
Due: none

undo force
  .github/workflows/cd.feature.create-pr-artifact.yml
Due: none

final SDK-Core tests for GDA
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
Due: sdk-core

use defined variable
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

Use defined variable (#1511)
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

Increased patch version of sdk-code to support metadata 1.1.8
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

[PROTOCOL-STARKNET] Starknet Super Token v2 prototype (#1275)
  .gitmodules
  packages/starknet-contracts/.gitignore
  packages/starknet-contracts/README.md
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/examples/aqueduct/AqueductImpl.cairo
  packages/starknet-contracts/src/examples/aqueduct/library.cairo
  packages/starknet-contracts/src/interfaces/IAqueduct.cairo
  packages/starknet-contracts/src/interfaces/ISuperfluidPool.cairo
  packages/starknet-contracts/src/interfaces/ISuperfluidToken.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/BitMap.cairo
  packages/starknet-contracts/src/utils/EnumerableSet.cairo
  packages/starknet-contracts/src/utils/MathLib.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/src/utils/account/ITestAccount.cairo
  packages/starknet-contracts/src/utils/account/TestAccountImpl.cairo
  packages/starknet-contracts/src/utils/account/library.cairo
  packages/starknet-contracts/tests/test_aqueduct.cairo
  packages/starknet-contracts/tests/test_aqueduct_library.cairo
  packages/starknet-contracts/tests/test_mathlib.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

Update CODEOWNERS for metadata package
  CODEOWNERS
Due: none

Update CODEOWNERS for metadata package (#1513)
  CODEOWNERS
Due: none

moved unreleased to 0.6.7
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

make yarn dev use forge by default
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
