Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

[IMPORTANT] Fix a bug in distributeFlow
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

[IMPORTANT] More view functions to ISuperTokenPool
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

Fix aqueduct logic
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
Due: none

[IMPORTANT] Fix PDPoolMemberMU.settle per spec
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

[SPEC] Fix PDPoolMemberMU.settle logic
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

minor fix
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

minor fix
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
Due: none

fix: updated and tested settle on pool member mu
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

fix: updated pool_member_update
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
Due: none

feat: added test for distribute, distributeFlow1to2 both connected and one connected
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

test: added distribute2to1_flow
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

make _claimAll clean again
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

use env NO_FOUNDRY_TEST_STEPS_LIMIT for longer running tests
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
Due: none

ida distribute comments
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

use vm.envOr
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
Due: none

ida distribute comments (#1320)
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

test: added pool_multiple_claims
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

Update Operation.ts
  packages/sdk-core/src/Operation.ts
Due: sdk-core

[IMPORTANT] _claimAll to use absorbParticlesFromPool
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

some storage layout notes
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
Due: ethereum-contracts

WIP
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenPool.sol
  packages/ethereum-contracts/contracts/libs/SemanticMoney.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
Due: ethereum-contracts

updated solhint and others versions, make lint:sol correct
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

add package.json to solidity-semantic-money
  packages/solidity-semantic-money/.solhint.json
  packages/solidity-semantic-money/package.json
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
Due: none

rm SuperAppBaseFlowMock, beforeData, revert unaccepted tokens
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/test/contracts/apps/SuperAppBaseFlow.test.ts
Due: ethereum-contracts

make solhint happy again
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/libs/BaseRelayRecipient.sol
  packages/ethereum-contracts/contracts/mocks/ERC777SenderRecipientMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
Due: ethereum-contracts

git submodule workflow helpers
  package.json
  tasks/git-submodule-init.sh
Due: none

git submodule workflow helpers
  CONTRIBUTING.md
Due: none

some storage layout notes (#1324)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
Due: ethereum-contracts

use yarn git:submodule:update instaed
  package.json
Due: none

reset yarn.lock
  yarn.lock
Due: none

fix package.json
  package.json
Due: none

cleanup - add signed signature
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkBaseline.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
Due: ethereum-contracts

fix erc20x fuzz test
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/test/foundry/DeployerBase.t.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

fix codeChanged issue
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix bad merge
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
Due: ethereum-contracts

don't import ethers from hardhat
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  yarn.lock
Due: ethereum-contracts

remove mapping variable names
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
