Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

token update script: support for batching, upgrade for 1.6.0 (FlowNFT creation), exclusion list
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

undo var rename
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

feat: removed approve on createPool
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
Due: none

appease nazis
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

ditto
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

fix deploy-framework for from-scratch deployments
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

make subgraph deployment even more explicit
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
Due: none

fix deploy-framework SuperfluidNFTDeployer
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix description in handlers
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
Due: none

Revert "fix deploy-framework SuperfluidNFTDeployer"
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix visibility
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
Due: ethereum-contracts

specify all!
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

remove interface stuff
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
Due: ethereum-contracts

[WORKFLOWS] Make Subgraph deployment more explicit (#1347)
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
Due: none

address review comments
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

redisable
  packages/ethereum-contracts/package.json
  tasks/shellcheck-all-tasks.sh
Due: ethereum-contracts

[WORKFLOWS] Fix deploy framework (#1328)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-super-token.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/ops-scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/ops-scripts/gov-set-reward-address.js
  packages/ethereum-contracts/ops-scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/ops-scripts/resolver-set-key-value.js
  packages/ethereum-contracts/ops-scripts/resolver-unlist-super-token.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/js-sdk/package.json
  tasks/shellcheck-all-tasks.sh
  yarn.lock
Due: ethereum-contracts, js-sdk

token monad with eff
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

feat: changed absorbParticle to accept array
  packages/starknet-contracts/src/examples/aqueduct/Aqueduct.cairo
  packages/starknet-contracts/src/examples/aqueduct/library.cairo
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

fix certora methods block
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
  packages/solidity-semantic-money/certora/ToySuperToken.rules.spec
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

fix up coverage tests
  .github/workflows/ci.canary.yml
  package.json
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
  packages/ethereum-contracts/contracts/libs/SuperTokenDeployerLibrary.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
  packages/ethereum-contracts/testsuites/apps-contracts.ts
Due: ethereum-contracts

make _canCallNFTHook a staticcall
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

New Flow NFT Architecture WIP
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
Due: ethereum-contracts

added test_1to1_flow_updates test case
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

WIP certora rules
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
  packages/solidity-semantic-money/certora/ToySuperToken.rules.spec
Due: none

Address review comments
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
Due: ethereum-contracts

Undo flowId change
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidNFTDeployerLibrary.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/TestEnvironment.ts
Due: ethereum-contracts

fix deploy tests!
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

added test_erc20_self_transfer case
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

update certora-cli
  flake.lock
Due: none

added TokenEff: Alternative monadic interface for semantic money using library
  packages/solidity-semantic-money/src/TokenEff.sol
Due: none

cleanup toysupertoken & make new pools clones of the master copy.
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperTokenPool.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

consistent .solhint
  packages/solidity-semantic-money/.solhint.json
Due: none

WIP certora rules
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
  packages/solidity-semantic-money/certora/ToySuperToken.rules.spec
  packages/solidity-semantic-money/foundry.toml
Due: none

ci.feature codecov
  .github/workflows/ci.feature.yml
  codecov.yml
Due: none

forge install
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

WIP certora stuff
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
Due: none

feat: worked on aqueduct library
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/examples/aqueduct/library.cairo
Due: none

remove _PROXY
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
Due: ethereum-contracts
