Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

gda for all testnets & scroll fixes
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add deprecated flag
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

[METADATA] gda for all testnets, fix scroll agreement addresses (#1819)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

package version sfmeta
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/tasks/getSFMeta.sh
Due: none

distribute flow flakey test fix
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

distribute flow flakey test fix (#1821)
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[SUBGRAPH] getSFMeta.sh: added PACKAGE_VERSION support
  packages/subgraph/tasks/getSFMeta.sh
Due: none

bump version + create CHANGELOG.md
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
Due: none

changelog 1.7.0
  packages/subgraph/CHANGELOG.md
Due: none

Subgraph V1.7.0 Release (#1820)
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/tasks/getSFMeta.sh
Due: none

Update CHANGELOG.md
  packages/subgraph/CHANGELOG.md
Due: none

Update CHANGELOG.md (#1822)
  packages/subgraph/CHANGELOG.md
Due: none

use different version specifying for metadata
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/tasks/getSFMeta.sh
Due: sdk-core

refactor SuperfluidFrameworkDeploymentSteps to reduce sizes
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

[WORKFLOWS] make sure linting happens in more places
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
Due: none

[WORKFLOWS] fix the shell script
  packages/subgraph/tasks/getSFMeta.sh
Due: none

fix typo: SuperfluidGDAv1DeployerLibrary
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/tasks/list-all-linked-libraries.sh
Due: ethereum-contracts

fix typo: SuperfluidGDAv1DeployerLibrary
  .github/workflows/call.test-sdk-core.yml
Due: none

fix build warning SuperfluidPoolPlaceholder.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolPlaceholder.sol
Due: ethereum-contracts

fixes
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

fixes
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/index.js
Due: none

[WORKFLOWS] make sure linting happens in more places (#1824)
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  packages/subgraph/tasks/getSFMeta.sh
Due: none

some fixes to
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

fix gov.updateContracts
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

already remove the deprecated overloaded method, too much fallout
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

revert ugly workaround for overloaded (nomore) method
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

fix distribute API
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
Due: ethereum-contracts

[WORKFLOW] cleanups to root package.json
  package.json
Due: none

add to changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

audit changelog
  packages/ethereum-contracts/audits/2023-12 Trail of Bits - Changes Since Audit.md
Due: ethereum-contracts

Fix inconsistency between `distribute` and `distributeWithCtx` API in SuperTokenV1Library (#1825)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
Due: ethereum-contracts

Fixes during GDA mainnet rollout (#1780)
  package.json
  packages/ethereum-contracts/audits/2023-12 Trail of Bits - Changes Since Audit.md
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolPlaceholder.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/list-all-linked-libraries.sh
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/index.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/loadContracts.js
  packages/metadata/CHANGELOG.md
Due: ethereum-contracts

[WORKFLOW] update nix flake inputs && ghc94
  flake.lock
  flake.nix
  packages/spec-haskell/pkgs/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/pkgs/semantic-money/semantic-money.cabal
  packages/spec-haskell/pkgs/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/pkgs/validator/superfluid-protocol-spec-validator.cabal
Due: none

[ETHEREUM-CONTRACTS] fix SuperfluidPoolPlaceholder pragma version
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolPlaceholder.sol
Due: ethereum-contracts

fix for new eslint
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

[WORKFLOW] HARDHAT_RUN_PARALLEL is 0 or 1
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

[WORKFLOW] HARDHAT_RUN_PARALLEL fix
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

changelog update
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

hot-fuzz private to internal
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
