Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Update CHANGELOG.md (#1055)
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

[SDK-core] Refactor SFError to follow more conventional Error object structure (#960)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/tsconfig.json
  packages/sdk-redux/tsconfig.json
Due: sdk-core

[SDK-core] Use `serialize-error` (#983)
  packages/sdk-core/package.json
Due: sdk-core

[SDK-core] Don't wrap transaction errors with `SFError` & don't serialize a massive internal error into `SFError` message (#1046)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

[SUBGRAPH] Update addresses.template.ts (#1047)
  packages/subgraph/src/addresses.template.ts
Due: none

[SDK-core] Specify name property for `SFError` (#1048)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

Deprecate networks (#1032)
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

[SDK-Core] Call App Action Support Added/Fixed CallAppAction BatchCall (#995)
  packages/sdk-core/.gitignore
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

SDK-Core 0.5.2 Patch Fix and Version Bump (#1001)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/package.json
Due: sdk-core

specify cache-dependency-path (#1018)
  .github/workflows/handler.build-examples.yml
Due: none

actions/setup-node cache property added (#1002)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.build-examples.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

[Sk-core patch fix (#1035)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

kwik patch (#1040)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

Deprecate networks (#1032)
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

[SDK-core] Don't wrap transaction errors with `SFError` & don't serialize a massive internal error into `SFError` message (#1046)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

fix sf error
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/src/validation.ts
Due: sdk-core

fix sdk-core build
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  packages/sdk-core/tsconfig.json
Due: sdk-core

fix test
  packages/sdk-core/src/Framework.ts
  yarn.lock
Due: sdk-core

fix sdk-core tests
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

y u do this to me sdk-core
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

[ETHEREUM-CONTRACTS] Gov: Convenience method for app registration keys and some cleanup (#1049)
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

SNAKE_CASE custom error
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
Due: ethereum-contracts

remove hardhat deployer (#1057)
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  LICENSE
  README.md
  codecov.yml
  package.json
  packages/hardhat-deployer/.eslintignore
  packages/hardhat-deployer/.eslintrc.json
  packages/hardhat-deployer/.gitignore
  packages/hardhat-deployer/.mocharc.json
  packages/hardhat-deployer/.nycrc.json
  packages/hardhat-deployer/.prettierrc
  packages/hardhat-deployer/LICENSE
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/src/ERC1820Constants.ts
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/hardhat-deployer/src/index.ts
  packages/hardhat-deployer/src/type-extensions.ts
  packages/hardhat-deployer/tasks/testenv-ctl.sh
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/helpers.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
  packages/hardhat-deployer/tsconfig.json
  tasks/check-changeset.sh
Due: hardhat-deployer

expect custom error
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] CFA Agreement Forwarder (#982)
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
  packages/ethereum-contracts/testsuites/all-contracts.js
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.js
  yarn.lock
Due: ethereum-contracts

fix forwarder tests
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

custom error fix
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

Remove MaticBridgedToken from monorepo
  packages/ethereum-contracts/contracts/interfaces/tokens/IMaticBridgedNativeSuperToken.sol
  packages/ethereum-contracts/contracts/tokens/MaticBridgedNativeSuperToken.sol
  packages/ethereum-contracts/scripts/deploy-matic-bridged-native-super-token.js
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/testsuites/custom-tokens.js
Due: ethereum-contracts

use constant internal
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/TOGA.sol
Due: ethereum-contracts

Remove MaticBridgedToken from monorepo (#1060)
  packages/ethereum-contracts/contracts/interfaces/tokens/IMaticBridgedNativeSuperToken.sol
  packages/ethereum-contracts/contracts/tokens/MaticBridgedNativeSuperToken.sol
  packages/ethereum-contracts/scripts/deploy-matic-bridged-native-super-token.js
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/testsuites/custom-tokens.js
Due: ethereum-contracts
