Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

[SDK-CORE] Added FlowOperator Query and its Entity (#1396)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.graphql
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.ts
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

fix builds
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.xkcd.yml
Due: none

fix deployments
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

temporary write all
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
Due: none

make baseURI public
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

Revert "[SDK-CORE] Added FlowOperator Query and its Entity (#1396)"
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.graphql
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.ts
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

allow write-all
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
Due: none

clean up token URI
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

when updating TestResolver, set cfa forwarder
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
Due: ethereum-contracts

Update ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

fix verification + deployments a bit
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

fix broken test case
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

force redeploy
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

update chainId
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

remove temporary test function
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

GDA wip
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

feat: updated tests for SemanticMoney
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

[ETHEREUM-CONTRACTS] make baseURI public (#1410)
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

release flow operator sdk-code and sdk-redux changes
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

fix GITHUB_TOKEN permission
  .github/workflows/ci.canary.yml
Due: none

Update deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

Update SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

temporary patch fix for testnets
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPatch.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

release flow operator sdk-code and sdk-redux changes (#1412)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

clean up patch
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPatch.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix deployment bug
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

make BatchCall convertible to Operation
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/multiplyGasLimit.ts
Due: sdk-core

Update cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
Due: none

we shall pass
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

we shall pass (#1418)
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

flow nft cleanup/fixes
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/validate-nft-addresses.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

workflow cleanups
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/handler.changelog-reminder.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.xkcd.yml
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] flow nft cleanup/fixes (#1419)
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/handler.changelog-reminder.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.xkcd.yml
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/validate-nft-addresses.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

config files with canonical name, xdai is now gnosis in graph node
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/config/xdai-mainnet.json
Due: none

trying with symlinks for legacy filenames
  packages/subgraph/config/goerli.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/xdai.json
Due: none

feat: updated tests for super tokens
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/ISuperfluidToken.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

fix up framework deployment
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/validate-deployment.ts
  packages/ethereum-contracts/ops-scripts/validate-nft-addresses.ts
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[SUBGRAPH] config files with canonical name, xdai -> gnosis (#1420)
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/config/xdai-mainnet.json
  packages/subgraph/config/xdai.json
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
