Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Add send in SDK-Core
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
Due: sdk-core

add batch call send tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

SDK-Core tests
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/TestEnvironment.ts
Due: sdk-core

Questionable fix
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidSuperTokenCreator.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/scripts/deploy-test-framework.js
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/subgraph/scripts/deployContractsAndToken.ts
Due: ethereum-contracts

changelog updates
  packages/ethereum-contracts/CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: ethereum-contracts, sdk-core

immutable event entities subgraph (#1215)
  packages/subgraph/schema.graphql
Due: none

[ETHEREUM-CONTRACTS/SDK-CORE] downgradeTo semantic change (#1214)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
Due: ethereum-contracts, sdk-core

address review comments
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

fixes sdk-core build
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

update for lint
  package.json
  packages/automation-contracts/autowrap/.solhint.json
  packages/automation-contracts/scheduler/.solhint.json
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/package.json
Due: none

add autowrap and fix lint
  package.json
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/package.json
Due: none

add userData to batch send
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

running ci.feature with dev
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/ci.feature.yml
Due: none

trigger build
  packages/sdk-core/hardhat.config.ts
Due: sdk-core

actual trigger
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
Due: sdk-core

[ETHEREUM-CONTRACTS] upgradeTo logic "fix" - really a slight change (#1213)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
Due: ethereum-contracts

tests local schema
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/ci.feature.yml
Due: none

remove redundant space
  packages/sdk-core/package.json
Due: sdk-core

fix regex
  tasks/check-changeset.sh
Due: none

test catch call
  tasks/check-changeset.sh
Due: none

previous commit was a test
  tasks/check-changeset.sh
Due: none

comment cleanup
  tasks/check-changeset.sh
Due: none

move files accordingly
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/.eslintrc.js
  packages/ethereum-contracts/ops-scripts/artifacts/ERC1820Registry.json
  packages/ethereum-contracts/ops-scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/ops-scripts/deploy-erc1820.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-mfa.ts
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-test-environment.js
  packages/ethereum-contracts/ops-scripts/deploy-test-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-super-token.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/ops-scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/ops-scripts/gov-set-reward-address.js
  packages/ethereum-contracts/ops-scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/ops-scripts/gov-transfer-framework-ownership.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/index.js
  packages/ethereum-contracts/ops-scripts/info-inspect-account.js
  packages/ethereum-contracts/ops-scripts/info-list-apps.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/info-scan-deployments.js
  packages/ethereum-contracts/ops-scripts/info-show-protocol.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/ops-scripts/libs/truffleScriptRunnerFactory.js
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/ops-scripts/resolver-register-token.js
  packages/ethereum-contracts/ops-scripts/resolver-reset-deployment.js
  packages/ethereum-contracts/ops-scripts/resolver-set-key-value.js
  packages/ethereum-contracts/ops-scripts/resolver-unlist-super-token.js
  packages/ethereum-contracts/ops-scripts/tmp-trigger-token-transfer.js
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

fix ci yaml
  tasks/check-changeset.sh
Due: none

added comment
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

unblock ci.feature from matic
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

remove matic from feature release branch tests
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

[SDK-CORE] Fixes SDK-CORE build with TOGA events mapping and remove testing against feature matic endpoint (#1221)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

[SUBGRAPH+SDK-CORE/CI] Build SDK-Core with locally deployed subgraph (#1222)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  tasks/check-changeset.sh
Due: none

Split SuperfluidFrameworkDeployer
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  yarn.lock
Due: ethereum-contracts

missed a renaming
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

move deployContractsAndTokens
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/ops-scripts/deployContractsAndToken.ts
  packages/ethereum-contracts/ops-scripts/runDeployContractsAndToken.ts
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/tsconfig.json
Due: ethereum-contracts, sdk-core

remove instances of --network localhost
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/ops-scripts/runDeployContractsAndToken.ts
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/subgraph/README.md
  packages/subgraph/config/ganache.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

silly main
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

deploy to localhost
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

run test with localhost network
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none
