Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

install graphql
  packages/sdk-core/README.md
Due: sdk-core

changelog + ethers mentioned
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/README.md
Due: sdk-core

gas multiplier
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

add option for CFA hook to deploy script
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

hardcode `CFA_HOOK_GAS_LIMIT`
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

test case added
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
Due: ethereum-contracts

fix where we handle the gasLimit
  packages/sdk-core/src/Operation.ts
Due: sdk-core

fix deployment test
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

handle the magical 1/64 case
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
Due: ethereum-contracts

blow up in catch
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

fix deployment script
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

simplification: make hook gas limit a constant
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

fix flakey foundry invariant test
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

no mentions
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

fixed in 0.28.1
  packages/subgraph/docker-compose.yml
Due: none

[SUBGRAPH] graph-node issue resolved by The Graph team (#1130)
  packages/subgraph/docker-compose.yml
Due: none

cleanup
  packages/subgraph/docker-compose.yml
  packages/subgraph/truffle-config.js
  tasks/check-changeset.sh
Due: none

Update Codeowners
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

[SUBGRAPH] Revert Changes + Cleanup (#1131)
  packages/subgraph/docker-compose.yml
  packages/subgraph/truffle-config.js
  tasks/check-changeset.sh
Due: none

comment cleanup
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

address comments
  packages/sdk-core/README.md
  packages/sdk-core/src/constants.ts
Due: sdk-core

Update Codeowners (#1132)
  CODEOWNERS
Due: none

address comments
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-to-network.sh
Due: none

address comment
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

[SDK-CORE] Gas Multiplier (#1128)
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

no more EMPTY_NETWORK_DATA
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/types.ts
Due: sdk-core

[CI/SUBGRAPH] Workflow + Script for deploying to Satsuma endpoint (#1125)
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-to-network.sh
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

typo fixes
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

remove acks.
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

[ETHEREUM-CONTRACTS] Hardcoded Hook Gas Limit (#1129)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

[SDK-CORE] Load w/ metadata (#1127)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/README.md
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/types.ts
Due: sdk-core

create changelog reminder handler
  .github/workflows/handler.changelog-reminder.yml
  tasks/check-changeset.sh
Due: none

forgot to checkout monorepo
  .github/workflows/handler.changelog-reminder.yml
Due: none

bad syntax
  .github/workflows/handler.changelog-reminder.yml
Due: none

update flake.lock
  flake.lock
Due: none
