Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

Increased patch version of sdk-code to support metadata 1.1.8 (#1512)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

refactor tests
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Update package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

tidying up
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Add contract verification check to daily slack message
  tasks/daily-slack-bot.js
Due: none

Add env for workflow
  .github/workflows/daily-slack-message.yml
Due: none

Add back name of the workflow
  .github/workflows/daily-slack-message.yml
Due: none

Use https not axiom to send slack message
  tasks/daily-slack-bot.js
Due: none

Add contract verification check to daily slack message (#1519)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

update loader lib pragma version
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
Due: ethereum-contracts

add test for "apps" contracts as well
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

fix packages/ethereum-contracts/test/test-solc-compatibility.sh
  flake.nix
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] test-solc-compatibility.sh for app dev contracts (#1520)
  flake.nix
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

keep shortName without dash
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

keep shortName without dash (#1521)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

add total connected flow rate to pool
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix distribute tests
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

add batch liquidator + toga to Framework struct
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

Throw error if api key is invalid , and only list constract if response is correct
  tasks/daily-slack-bot.js
Due: none

Try sending the message from a branch
  tasks/daily-slack-bot.js
Due: none

complete zkevm renaming, add (undeployed) base mainnet, fix subgraph config in js-sdk
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/getConfig.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/config/polygon-zkevm-testnet.json
Due: ethereum-contracts

simplify
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/getConfig.js
Due: none

does not exist error
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

batch liquidator modified to handle GDA
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

fix var location
  packages/js-sdk/src/Framework.js
Due: none

Throw error if api key is invalid during contract verification check (#1525)
  tasks/daily-slack-bot.js
Due: none

removed netlify dir as it's not updated by the build script
  packages/metadata/netlify/functions/hello.ts
  packages/metadata/netlify/functions/index.cjs
  packages/metadata/netlify/functions/index.d.ts
  packages/metadata/netlify/functions/index.js
  packages/metadata/netlify/functions/networks/index.cjs
  packages/metadata/netlify/functions/networks/index.d.ts
  packages/metadata/netlify/functions/networks/index.js
  packages/metadata/netlify/functions/networks/list.cjs
  packages/metadata/netlify/functions/networks/list.d.ts
  packages/metadata/netlify/functions/networks/list.js
Due: none

fixes pr package handler
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/handler.publish-pr-packages.yml
Due: none

fixes pr package handler (#1514)
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/handler.publish-pr-packages.yml
Due: none

zkevm-testnet -> polygon-zkevm-testnet, added base-mainnet (undeployed), some more polishing
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/getConfig.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/netlify/functions/hello.ts
  packages/metadata/netlify/functions/index.cjs
  packages/metadata/netlify/functions/index.d.ts
  packages/metadata/netlify/functions/index.js
  packages/metadata/netlify/functions/networks/index.cjs
  packages/metadata/netlify/functions/networks/index.d.ts
  packages/metadata/netlify/functions/networks/index.js
  packages/metadata/netlify/functions/networks/list.cjs
  packages/metadata/netlify/functions/networks/list.d.ts
  packages/metadata/netlify/functions/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/config/polygon-zkevm-testnet.json
Due: ethereum-contracts

bumped version with lerna
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

Base mainnet deployment 🔵
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Add commit signing to contribution guidelines
  CONTRIBUTING.md
Due: none

Add commit signing to contribution guidelines (#1529)
  CONTRIBUTING.md
Due: none

Base mainnet deployment 🔵 (#1528)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

fix code size too large
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

added metadata
  packages/metadata/networks.json
Due: none

updated contract addresses, iterated on ops-scripts
  packages/ethereum-contracts/ops-scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/metadata/networks.json
Due: ethereum-contracts

updated metadata build
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
