Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

correct input variable
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

reusable workflow modification (previous versions) and test this with feature ci
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.feature.yml
Due: none

need to yarn install
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

remove ifs
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

fix
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

test with local subgraph url
  .github/workflows/ci.feature.yml
Due: none

test w/ network --localhost
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

run sdk-core tests with LOCAL_SUBGRAPH_URL
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

more local subgraph tests w/ sdk-core
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.feature.yml
Due: none

bad copy pasta + forgotten inputs
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.feature.yml
Due: none

Yellow Paper Latex Pipeline
  packages/spec-haskell/.gitignore
  packages/spec-haskell/Makefile
  packages/spec-haskell/README.md
  packages/spec-haskell/hie.yaml
  packages/spec-haskell/packages/core/src/Money/Distribution/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Distribution/Concepts.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/tasks/lhs2tex.sh
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

test wip
  .github/workflows/ci.feature.yml
Due: none

initialize logic contracts on deployment
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
Due: ethereum-contracts

ci.feature cleanup + add missing `required` field
  .github/workflows/ci.feature.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

this will probably slow things down in feature
  .github/workflows/ci.feature.yml
Due: none

Last CI fix (#840)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
Due: sdk-core

require test-subgraph-on-previous-sdk-versions
  .github/workflows/ci.canary.yml
Due: none

remove test-subgraph-on-previous-sdk-versions
  .github/workflows/ci.canary.yml
Due: none

Sdkcore updates new fields and entities changes (#837)
  .github/workflows/ci.canary.yml
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

cleanup + fix logic of build files
  .github/workflows/ci.canary.yml
  .github/workflows/ci.pre-release-draft-test-sdk-core-subgraph-integration.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

generate dev schema + SUBGRAPH_RELEASE_TAG: dev
  .github/workflows/ci.canary.yml
Due: none

only run on deploy to v1 endpoints
  .github/workflows/handler.deploy-subgraph.yml
Due: none

properly select subgraph-release
  .github/workflows/ci.pre-release-draft-test-sdk-core-subgraph-integration.yml
Due: none

file rename + refactor
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
Due: none

trigger ci.feature on any workflow edits given requirement of ci feature workflow for merge
  .github/workflows/ci.feature.yml
Due: none

CI Pre Release Draft Fix + CI Canary Cleanup (#843)
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

double quote
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Note: reinstate the IDAv1 Lib in the contract
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
Due: none

double quote (#847)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Re-write rewards-distribution-token using new sdk-core (#833)
  examples/rewards-distribution-token/.env.example
  examples/rewards-distribution-token/.env.template
  examples/rewards-distribution-token/.eslintignore
  examples/rewards-distribution-token/.eslintrc.js
  examples/rewards-distribution-token/.gitignore
  examples/rewards-distribution-token/.npmignore
  examples/rewards-distribution-token/.prettierignore
  examples/rewards-distribution-token/.prettierrc
  examples/rewards-distribution-token/.solhint.json
  examples/rewards-distribution-token/.solhintignore
  examples/rewards-distribution-token/LICENSE
  examples/rewards-distribution-token/README.md
  examples/rewards-distribution-token/build-and-test.sh
  examples/rewards-distribution-token/hardhat.config.ts
  examples/rewards-distribution-token/package.json
  examples/rewards-distribution-token/scripts/deploy.js
  examples/rewards-distribution-token/scripts/deploy.ts
  examples/rewards-distribution-token/test/.eslintrc.js
  examples/rewards-distribution-token/test/DividendRightsToken.test.js
  examples/rewards-distribution-token/test/DividendRightsToken.test.ts
  examples/rewards-distribution-token/test/abis/fDAIABI.js
  examples/rewards-distribution-token/truffle-config.js
  examples/rewards-distribution-token/tsconfig.json
  examples/rewards-distribution-token/ui/DividendRightsToken.abi.js
  examples/rewards-distribution-token/ui/index.html
  examples/rewards-distribution-token/yarn.lock
Due: none

remove paths from ci.feature and bump subgraph version for release once endpoints are indexed
  .github/workflows/ci.feature.yml
  packages/subgraph/package.json
Due: none

remove safemath libs
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/Int96SafeMath.sol
  packages/ethereum-contracts/contracts/libs/UInt128SafeMath.sol
  packages/ethereum-contracts/test/contracts/libs/Int96SafeMath.test.js
  packages/ethereum-contracts/test/contracts/libs/UInt128SafeMath.test.js
Due: ethereum-contracts

remove paths from ci.feature and bump subgraph version for release once endpoints are indexed (#850)
  .github/workflows/ci.feature.yml
  packages/subgraph/package.json
Due: none

add testFlowDataEncoding
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/UtilsTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/testsuites/all-contracts.js
Due: ethereum-contracts

remove paths from ci.feature and bump subgraph version for release once endpoints are indexed (#850) (#852)
  .github/workflows/ci.feature.yml
  packages/subgraph/package.json
Due: none

fuzz tests added for flowOperatorData encoding
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

use expectReverted
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
Due: ethereum-contracts

distribute function check if units > 0 + tests
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.js
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.js
Due: ethereum-contracts

prettier lint
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.js
Due: ethereum-contracts
