Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

[ETHEREUM-CONTRACTS] use eip 1967 slot for admin (#1710)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

Update call.check-query-schema-against-subgraph.yml
  .github/workflows/call.check-query-schema-against-subgraph.yml
Due: none

Update call.check-query-schema-against-subgraph.yml (#1712)
  .github/workflows/call.check-query-schema-against-subgraph.yml
Due: none

simplify app registration API
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

satisfy linter
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

adapt ops-scipts to new app registration methodology
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
Due: ethereum-contracts

simplify errors too
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

do check in right place
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

piggy-back verification script fix
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

Update deploy.sh
  packages/subgraph/tasks/deploy.sh
Due: none

update foundry to 2023-10-04
  flake.lock
Due: none

Update deploy.sh (#1714)
  packages/subgraph/tasks/deploy.sh
Due: none

Add polygon-zkevm to verification script
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

Change to currently set secret
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

check-changeset.sh to detect nix flake changes
  tasks/check-changeset.sh
Due: none

fix signature
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

Get rid of https
  tasks/daily-slack-bot.js
Due: none

remove old remapping files
  packages/automation-contracts/autowrap/remappings.txt
  packages/automation-contracts/scheduler/remappings.txt
Due: none

updated changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Add polygonzkevm testnet to verification script (#1716)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

[ETHEREUM-CONTRACTS] SuperApp registerApp deprecation (#1706)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

fix broken build
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/SuperAppTest.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

update foundry to 2023-10-04 (#1715)
  flake.lock
  packages/automation-contracts/autowrap/remappings.txt
  packages/automation-contracts/scheduler/remappings.txt
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/SuperAppTest.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
  tasks/check-changeset.sh
Due: ethereum-contracts

add test for custom tokens revert on transfer
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] BatchLiquidator: don't revert for non-transferrable SuperTokens (#1707)
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

patch getUnderlyingToken
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/NoGetUnderlyingToken.sol
  packages/sdk-core/package.json
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
Due: sdk-core

patch getUnderlyingToken (#1718)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/NoGetUnderlyingToken.sol
  packages/sdk-core/package.json
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
Due: sdk-core

specify hardhat dependencies as peer dependency in ethereum-contracts package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

add error hashes, use currentContext.timestamp
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IPoolNFTBase.sol
Due: ethereum-contracts

use getHost.getTimestamp()
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
Due: ethereum-contracts

cleanup
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/module/networks/list.d.ts
  packages/metadata/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/Framework.ts
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fix types
  packages/sdk-core/src/types.ts
Due: sdk-core

[SDK-CORE/ METADATA] SDK-Core No Governance Fix + Metadata Types (#1728)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/module/networks/list.d.ts
  packages/metadata/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/types.ts
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

remove tests flakiness
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/tasks/forge.sh
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
Due: ethereum-contracts

remove forge.sh
  packages/ethereum-contracts/tasks/forge.sh
Due: ethereum-contracts

make deploy script compatible with ethers v6
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/package.json
Due: ethereum-contracts
