Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

better plumbing (#1839)
  packages/ethereum-contracts/contracts/apps/CFASuperAppBase.sol
  packages/ethereum-contracts/contracts/mocks/CFASuperAppBaseTester.sol
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

add gda pool subgraph entity queries
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperator.ts
  packages/sdk-core/src/subgraph/entities/pool/pool.ts
  packages/sdk-core/src/subgraph/entities/pool/pools.graphql
  packages/sdk-core/src/subgraph/entities/poolDistributor/poolDistributor.ts
  packages/sdk-core/src/subgraph/entities/poolDistributor/poolDistributors.graphql
  packages/sdk-core/src/subgraph/entities/poolMember/poolMember.ts
  packages/sdk-core/src/subgraph/entities/poolMember/poolMembers.graphql
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

improve infinity paging api
  packages/sdk-core/src/pagination.ts
Due: sdk-core

add some robustness to transaction serialization
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
Due: none

reduce tx tracking timeout from 10 mins to 3 mins
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
Due: none

remove unnecessary toLowerCase
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
Due: sdk-core

apply change for CFA
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

apply change for GDA
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix CFA for deleteFlow
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

GDA probably correct now. CFA app credit probably not
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix resolver entry
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/resolver.ts
Due: none

supply fix
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

supply fix (#1844)
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

WIP
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
Due: ethereum-contracts

remove deprecated testnets, add new mainnets where missing
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/.env.template
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/deploy-gda-forwarder.sh
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/test/getConfig.test.js
  packages/metadata/networks.json
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/README.md
  packages/subgraph/hardhat.config.ts
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/tasks/deploy.sh
  tasks/daily-slack-bot.js
Due: ethereum-contracts, sdk-core

sync metadata build
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

Remove Goerlies and add Scroll and Base mainnets to daily slack message
  tasks/daily-slack-bot.js
Due: none

Add API keys to workflow
  .github/workflows/daily-slack-message.yml
Due: none

Fix up ethers issue
  tasks/daily-slack-bot.js
Due: none

add a test starter
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
Due: none

add the test
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/bugs/2024-03-06-pool-member-units-changed.test.ts
Due: none

fixes
  packages/subgraph/tests/bugs/2024-03-06-pool-member-units-changed.test.ts
Due: none

Remove Goerlies and add Scroll and Base mainnets to daily slack message (#1849)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

improve test
  packages/subgraph/tests/bugs/2024-03-06-pool-member-units-changed.test.ts
Due: none

update dev container for matchstick compatibility
  .devcontainer/devcontainer.json
Due: none

implement the fix
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

clean-up
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

approval mapping
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
Due: none

fuzz test covering all 3 FlowNFT hooks
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

fix: remove try/catch
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
Due: ethereum-contracts

appease linter
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

test case for (I think) bug involving min deposit and app credit
  packages/ethereum-contracts/test/foundry/agreements/AppCredit.t.sol
Due: ethereum-contracts

fix gda test
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

add elaborate test for pool total amount received
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

don't claim as a side effect of updateMemberUnits()
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
Due: ethereum-contracts

fix test issue
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

add even more comments
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

fix test name
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

WIP
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
