Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

bump sdk-core versions
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

Deprecate networks (#1032)
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

Custom Errors WIP
  package.json
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.js
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/utils/MFASupport.js
  packages/ethereum-contracts/test/contracts/utils/helpers.ts
  packages/ethereum-contracts/test/utils/expectRevert.js
  packages/ethereum-contracts/tsconfig.json
  packages/sdk-core/hardhat.config.ts
  packages/subgraph/hardhat.config.ts
  yarn.lock
Due: ethereum-contracts, sdk-core

Superfluid Tests Refactored
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/TestEnvironment.js
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

CFAv1Library + IDAv1Library fix
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.js
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.js
Due: ethereum-contracts

ERC777 tests fix
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.js
Due: ethereum-contracts

fix scenarios tests
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.js
Due: ethereum-contracts

IDAv1 tests fixed
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.js
Due: ethereum-contracts

toga tests fixed
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
Due: ethereum-contracts

try with hardhat config
  packages/js-sdk/hardhat.config.ts
Due: js-sdk

added missing awaits
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
Due: ethereum-contracts

fix toga + use .js
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
  packages/js-sdk/hardhat.config.js
Due: ethereum-contracts, js-sdk

change broken link
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

[TOGA] Added missing awaits (#1044)
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/test-solc-compatibility.sh
  packages/js-sdk/hardhat.config.js
Due: ethereum-contracts, js-sdk

forgot to bump version to 0.8.4
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/CustomSuperTokenBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperAgreement.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IMaticBridgedNativeSuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ISETH.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IRelayRecipient.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IResolver.sol
Due: ethereum-contracts

remove .only
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
Due: ethereum-contracts

WIP: CFAv1AgreementForwarder iteration. No use of interface (facilitate explorer viz) [skip ci]
  packages/ethereum-contracts/contracts/agreements/AgreementForwarder.sol
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

update slack bot
  tasks/daily-slack-bot.js
Due: none

add prepare command for people
  .gitmodules
  package.json
  tasks/git-submodule-init.sh
Due: none

cleanup
  package.json
Due: none

Custom Errors WIP
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.js
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.js
  packages/ethereum-contracts/test/contracts/utils/helpers.js
  packages/ethereum-contracts/test/contracts/utils/helpers.ts
  packages/ethereum-contracts/test/scripts/deployment.test.js
  packages/js-sdk/hardhat.config.js
  packages/js-sdk/truffle-config.js
Due: ethereum-contracts, js-sdk

add hardhat compile to the build
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Get rid of SFError usage from Operation execution
  packages/sdk-core/src/Operation.ts
Due: sdk-core

Serialize a much smaller error cause
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
Due: sdk-core

supertoken custom errors
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.js
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.js
  packages/js-sdk/test/ConstantFlowAgreementV1Helper.test.js
Due: ethereum-contracts, js-sdk

gFix tests & improve serialization further
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

more custom errors
  packages/ethereum-contracts/contracts/agreements/AgreementBase.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceII.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/js-sdk/test/ConstantFlowAgreementV1Helper.test.js
Due: ethereum-contracts, js-sdk

[SDK-core] Don't wrap transaction errors with `SFError` & don't serialize a massive internal error into `SFError` message (#1046)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

more custom errors
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/FullUpgradableSuperTokenProxy.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxy.sol
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.js
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

fix broken tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.js
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.js
Due: ethereum-contracts

Undo UUPS custom errors
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxy.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.js
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

fix breaking test
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.js
Due: ethereum-contracts

fix expect event stuff for cfa
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.js
Due: ethereum-contracts

fix token tests
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.js
Due: ethereum-contracts

Update addresses.template.ts
  packages/subgraph/src/addresses.template.ts
Due: none

[SUBGRAPH] Update addresses.template.ts (#1047)
  packages/subgraph/src/addresses.template.ts
Due: none

indexed type aliases
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none
