Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

store 16 chars of git revision
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

cleanup ISuperfluid and expand tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
Due: ethereum-contracts

ship /build/bundled-abi.json too
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

configure dependabot
  .github/dependabot.yml
Due: none

only root package.json yarn.lock changes
  tasks/check-changeset.sh
Due: none

Update getAbi.js
  packages/subgraph/scripts/getAbi.js
Due: none

add to metadata
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

unifying .solhint.json
  packages/automation-contracts/autowrap/.solhint.json
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IERC20Mod.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/contracts/strategies/StrategyBase.sol
  packages/automation-contracts/autowrap/contracts/strategies/WrapStrategy.sol
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/.solhint.json
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/foundry.toml
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/solidity-semantic-money/.solhint.json
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

fine tune tasks/shellcheck-all-tasks.sh
  tasks/shellcheck-all-tasks.sh
Due: none

fix .github/dependabot.yml
  .github/dependabot.yml
Due: none

Unifying .solhint.json across projects (#1612)
  .github/dependabot.yml
  packages/automation-contracts/autowrap/.solhint.json
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IERC20Mod.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/contracts/strategies/StrategyBase.sol
  packages/automation-contracts/autowrap/contracts/strategies/WrapStrategy.sol
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/.solhint.json
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/foundry.toml
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/solidity-semantic-money/.solhint.json
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
  tasks/shellcheck-all-tasks.sh
Due: none

upgrade lerna
  package.json
  yarn.lock
Due: none

update changelog
  packages/metadata/CHANGELOG.md
Due: none

fix build
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SuperfluidPool.ts
Due: sdk-core

enable merge queue???
  .github/workflows/ci.feature.yml
Due: none

remove dependabot updates
  .github/dependabot.yml
Due: none

[SUPPLYCHAIN] Update lerna again after nx@16.7.3 (#1589)
  .github/dependabot.yml
  .github/workflows/ci.feature.yml
  package.json
  yarn.lock
Due: none

[TOOLING] ops-scripts improvements for 1.7+ (#1586)
  CONTRIBUTING.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-transfer-framework-ownership.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

[METADATA] 1594 | Add Subgraph endpoints to metadata (#1611)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

Remove yarn.lock files from sdk-redux-examples
  sdk-redux-examples/sdk-redux-nextjs-typescript/yarn.lock
  sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

[SUBGRAPH] Workflow for Self hosted subgraph #1548 (#1580)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

simplify call script
  .github/workflows/call.deploy-subgraph.yml
Due: none

Remove yarn.lock files from sdk-redux-examples (#1623)
  sdk-redux-examples/sdk-redux-nextjs-typescript/yarn.lock
  sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

gql fix types
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

Update bundled-abi-contracts-list.json
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
Due: ethereum-contracts

GDA tooling (#1602)
  .github/dependabot.yml
  .github/workflows/ci.feature.yml
  CONTRIBUTING.md
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-transfer-framework-ownership.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
  yarn.lock
Due: ethereum-contracts, sdk-core

Update ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
Due: ethereum-contracts

bump package versions
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

unify to a single deploy script
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
  packages/subgraph/tasks/deploy.sh
Due: none

Update ISuperTokenFactory.sol (#1626)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
Due: ethereum-contracts

bump package versions (#1627)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

fix script, temporarily disable tests
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy.sh
Due: none

Enable write-all for publish-release-packages
  .github/workflows/handler.publish-release-packages.yml
Due: none

Enable write-all for publish-release-packages (#1629)
  .github/workflows/handler.publish-release-packages.yml
Due: none

gdav1 forwarder tested
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
  packages/ethereum-contracts/test/foundry/utils/GDAv1Forwarder.t.sol
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
