Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

spec: ignore Fuse foldr/fmap law
  packages/spec-haskell/.hlint.yaml
Due: none

Update nix flake inputs (#1792)
  flake.lock
  flake.nix
  packages/spec-haskell/.hlint.yaml
Due: none

switched to a forked version of the nomore maintained verification plugin
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

wip prototype
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/TrustedMacros.sol
Due: ethereum-contracts

Split EIP-712 support from TrustedMacrosVanilla & added a test case
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/TrustedMacros.sol
  packages/ethereum-contracts/contracts/utils/TrustedMacrosVanilla.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

update ethereum-contracts changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

ethereum-contracts: added TrustedMacrosEIP712
  packages/ethereum-contracts/contracts/utils/TrustedMacrosEIP712.sol
Due: ethereum-contracts

added forwarders
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

added forwarders for scroll-mainnet
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

update again
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

[METADATA] Fix metadata & add scroll-mainnet forwarders (#1799)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] Forked truffle-plugin-verify so we can verify the new networks (#1797)
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

update scroll-mainnet gov, don't allow invalid json anymore
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/metadata/tasks/compare-committed-against-build.sh
Due: none

bump version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[METADATA] again (#1800)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/metadata/tasks/compare-committed-against-build.sh
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fork
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GDA.fork.sol
Due: ethereum-contracts

piggyback: added aux contracts to scroll-mainnet metadata
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

please the linter
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolPlaceholder.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
Due: ethereum-contracts

metadata changelog
  packages/metadata/CHANGELOG.md
Due: none

[ETHEREUM-CONTRACTS] make deploy script compatible with ethers v6 (#1730)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/index.js
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

update deploy.sh (#1738)
  packages/subgraph/tasks/deploy.sh
Due: none

[ETHEREUM-CONTRACTS] Fix canary build (#1742)
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] App credit test (#1743)
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] new resolver & loader address for mainnets (#1752)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add cliName (#1748)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] new resolver and loader, updated and bumped metadata, refs #1004 (#1750)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[WORKFLOWS] Use nix in `handler.run-ethereum-contracts-script.yml` (#1745)
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

remove getIsListed workaround assuming resolver exists (#1751)
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

type fix (#1771)
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

fix mapping (#1758)
  packages/subgraph/src/mappings/flowNFT.ts
Due: none

remove unimplemented function from yaml (#1753)
  packages/subgraph/subgraph.template.yaml
Due: none

added new supported subgraphs (#1761)
  packages/subgraph/tasks/deploy.sh
Due: none

[WORKFLOW] Subgraph deloy all networks (#1760)
  packages/subgraph/tasks/deploy.sh
Due: none

map the name from subgraph to unknown entity (#1754)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

base goerli cliName added + bumped versions all around (#1759)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

bump monorepo packages round 1 (#1770)
  flake.lock
  package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/pagination.ts
  packages/sdk-core/src/utils.ts
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

fix foundry monthly snapshot issue (#1779)
  flake.lock
  flake.nix
Due: none

Fixed twitter link (#1788)
  README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts
