Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

rm npm ignore from token spreader and money router
  examples/beginner-examples/token-spreader/.npmignore
Due: none

fix compiler issues in other examples
  examples/employment-based-loan/hardhat.config.js
  examples/tradeable-cashflow/tradeable-cashflow-truffle/contracts/RedirectAll.sol
  examples/tradeable-cashflow/tradeable-cashflow-truffle/contracts/TradeableCashFlow.hott.sol
  examples/tradeable-cashflow/tradeable-cashflow-truffle/contracts/TradeableCashflow.sol
Due: none

rm accidental graphql addition
  package.json
Due: none

update truffle tcf compiler to 0.8.14
  examples/employment-based-loan/contracts/EmploymentLoan.sol
  examples/employment-based-loan/contracts/test/MockV3Aggregator.sol
  examples/employment-based-loan/package.json
  examples/tradeable-cashflow/tradeable-cashflow-truffle/truffle-config.js
Due: none

rm some unnecessary casting to shrink contract size
  examples/employment-based-loan/contracts/EmploymentLoan.sol
Due: none

fix tcf compiler
  examples/tradeable-cashflow/tradeable-cashflow-truffle/truffle-config.js
Due: none

tcf compiler fix
  examples/tradeable-cashflow/tradeable-cashflow-truffle/truffle-config.js
Due: none

Pass in signer and ether's overrides through mutation args
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/getSerializeQueryArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/flowEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/indexEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/superTokenEndpoints.ts
  packages/sdk-redux/src/sdkReduxConfig.ts
  packages/sdk-redux/src/sdkReduxInitialization.ts
  packages/sdk-redux/src/utils.ts
Due: none

Fix example project with new signer usage
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/InitializeSuperfluidSdk.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/SignerContext.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DeleteStream.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DistributeToIndex.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowUpdate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexDeleteSubscription.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionApprove.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionClaim.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionRevoke.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexUpdateSubscriptionUnits.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenDowngrade.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenUpgrade.tsx
Due: none

Update readme & changelog
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/README.md
Due: none

[SDK-REDUX] Pass in `signer` and `overrides` through mutation payload (#904)
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/InitializeSuperfluidSdk.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/SignerContext.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DeleteStream.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DistributeToIndex.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowUpdate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexDeleteSubscription.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionApprove.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionClaim.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionRevoke.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexUpdateSubscriptionUnits.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenDowngrade.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenUpgrade.tsx
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/README.md
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/getSerializeQueryArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/flowEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/indexEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/superTokenEndpoints.ts
  packages/sdk-redux/src/sdkReduxConfig.ts
  packages/sdk-redux/src/sdkReduxInitialization.ts
  packages/sdk-redux/src/utils.ts
Due: none

rm tcf truffle
  .github/workflows/handler.build-examples.yml
  examples/archive/tradeable-cashflow-truffle/.gitignore
  examples/archive/tradeable-cashflow-truffle/LICENSE
  examples/archive/tradeable-cashflow-truffle/README.md
  examples/archive/tradeable-cashflow-truffle/build-and-test.sh
  examples/archive/tradeable-cashflow-truffle/contracts/RedirectAll.sol
  examples/archive/tradeable-cashflow-truffle/contracts/TradeableCashFlow.hott.sol
  examples/archive/tradeable-cashflow-truffle/contracts/TradeableCashFlowHotFuzz.yaml
  examples/archive/tradeable-cashflow-truffle/contracts/TradeableCashflow.sol
  examples/archive/tradeable-cashflow-truffle/package.json
  examples/archive/tradeable-cashflow-truffle/test/.eslintrc.js
  examples/archive/tradeable-cashflow-truffle/test/TradeableCashflow.test.js
  examples/archive/tradeable-cashflow-truffle/test/abis/fDAIABI.js
  examples/archive/tradeable-cashflow-truffle/truffle-config.js
  examples/archive/tradeable-cashflow-truffle/yarn.lock
  examples/build-and-test-all.sh
  examples/tradeable-cashflow/.env.template
  examples/tradeable-cashflow/.gitignore
  examples/tradeable-cashflow/LICENSE
  examples/tradeable-cashflow/README.md
  examples/tradeable-cashflow/build-and-test.sh
  examples/tradeable-cashflow/contracts/RedirectAll.sol
  examples/tradeable-cashflow/contracts/TradeableCashflow.sol
  examples/tradeable-cashflow/deploy/00_deploy_tradeable_cashflow.js
  examples/tradeable-cashflow/deployments/kovan/.chainId
  examples/tradeable-cashflow/deployments/kovan/TradeableCashflow.json
  examples/tradeable-cashflow/deployments/kovan/solcInputs/95f719751862e02b6d676caf924c4442.json
  examples/tradeable-cashflow/hardhat.config.js
  examples/tradeable-cashflow/package.json
  examples/tradeable-cashflow/scripts/createFlow.js
  examples/tradeable-cashflow/scripts/deleteFlow.js
  examples/tradeable-cashflow/scripts/updateFlow.js
  examples/tradeable-cashflow/test/.eslintrc.js
  examples/tradeable-cashflow/test/TradeableCashflow.test.js
  examples/tradeable-cashflow/test/abis/fDAIABI.js
  examples/tradeable-cashflow/yarn.lock
Due: none

added workflow file
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

fix types
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DeleteStream.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/DistributeToIndex.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowUpdate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexCreate.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexDeleteSubscription.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionApprove.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionClaim.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionRevoke.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexUpdateSubscriptionUnits.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenDowngrade.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenUpgrade.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

added gov script for setting forwarded & fixed info script
  packages/ethereum-contracts/scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/scripts/info-show-protocol.js
Due: ethereum-contracts

try to trigger / add workflow
  .github/workflows/handler.deploy-to-mainnets.yml
Due: none

Revert "try to trigger / add workflow" - did the job
  .github/workflows/handler.deploy-to-mainnets.yml
Due: none

Quick test with a push
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

Move message sending to seperate step
  .github/workflows/daily-slack-message.yml
Due: none

Test with push
  tasks/daily-slack-bot.js
Due: none

Add cron schedule
  .github/workflows/daily-slack-message.yml
Due: none

GH workflow for deploying to mainnets (#905)
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/scripts/info-show-protocol.js
Due: ethereum-contracts

Protocol monorepo status slack bot (#906)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

don't fail deploy run if etherscan verification unsupported
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

governance is a template data source
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/ganache.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/config/xdai.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
Due: none

fewer balanceOf calls
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/utils.ts
Due: none

new path
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

remove `networkId` and `dataMode`
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/README.md
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/types.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

changelog modification
  packages/sdk-core/CHANGELOG.md
  packages/subgraph/test/helpers/helpers.ts
Due: sdk-core

Subgraph Fixes + Refactor (#909)
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/ganache.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/config/xdai.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
Due: none

data integrity cleanup
  packages/subgraph/package.json
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/quickDataValidation.ts
Due: none

mapping updates
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/test/helpers/updaters.ts
Due: none

add tests
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/hol/subscriptionValidator.ts
  packages/subgraph/test/validation/validators.ts
Due: none

undo manual accounting for balance
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

fixed script for pure super token deployment (wrong tx order)
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.js
Due: ethereum-contracts

(finally) added a CFA deleteFlow diagram done long time ago
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.plantuml
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.svg
Due: ethereum-contracts

made build script executable
  examples/beginner-examples/money-router/build-and-test.sh
Due: none

fix hardhat config (type hint), rename PASS_PHRASE to MNEMONIC, IDE auto-removal of trailing spaces
  examples/beginner-examples/token-spreader/.env.template
  examples/beginner-examples/token-spreader/README.md
  examples/beginner-examples/token-spreader/contracts/TokenSpreader.sol
  examples/beginner-examples/token-spreader/hardhat.config.js
Due: none

added script for deploying SuperfluidLoader at a deterministic address
  packages/ethereum-contracts/scripts/deploy-deterministic-loader.js
Due: ethereum-contracts
