Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Remove nohoist
  packages/sdk-core/tsconfig.module.json
Due: sdk-core

Add DOM library to SDK-core's ESModule build
  package.json
Due: none

[SDK-core] Include "DOM" lib for ESModule build (#1164)
  packages/sdk-core/tsconfig.module.json
Due: sdk-core

Add devDependency
  packages/sdk-redux/package.json
  yarn.lock
Due: none

Temporarily disable yarn cache
  .github/workflows/ci.canary.yml
Due: none

add to verification list
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

fix script
  packages/ethereum-contracts/scripts/gov-set-token-min-deposit.js
Due: ethereum-contracts

Disable yarn cache temporarily
  .github/workflows/cd.feature.create-pr-artifact.yml
Due: none

stream-closer Dapp simplified (only needed abi parts, use metadata)
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
Due: ethereum-contracts

remove .ts file
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
Due: ethereum-contracts

trigger build + use 0.5.8
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

bad yarn.lock + trigger release notes
  packages/sdk-core/CHANGELOG.md
  yarn.lock
Due: sdk-core

handleFlowUpdated!
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/cfav1.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/helpers.ts
  packages/subgraph/tests/idav1/idav1.test.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/superToken/superToken.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

npm scripts polish
  package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Revert yarn cache disabling
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
Due: none

fixes
  packages/subgraph/package.json
  tasks/check-changeset.sh
Due: none

Reset yarn.lock
  packages/sdk-redux/package.json
Due: none

Disable parallel build
  packages/sdk-redux/package.json
Due: none

Explicitly add react-dom package
  packages/sdk-redux/package.json
  yarn.lock
Due: none

Add missing devDependencies
  packages/sdk-redux/package.json
  yarn.lock
Due: none

Fix SubgraphClient for newer TypeScript
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

Add @types/react-dom
  packages/sdk-redux/package.json
  yarn.lock
Due: none

[SDK-redux] Add missing devDependencies vol. 2 (#1168)
  packages/sdk-redux/package.json
  yarn.lock
Due: none

eth-mainnet config & npm script changes (#1167)
  package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/js-sdk/src/getConfig.js
  packages/subgraph/package.json
  tasks/check-changeset.sh
Due: ethereum-contracts, js-sdk

Testing WIP
  packages/subgraph/README.md
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/cfav1.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/host/host.test.ts
  packages/subgraph/tests/idav1/idav1.test.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superToken/superToken.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

first pass subgraph comment docs improvment
  packages/subgraph/schema.graphql
Due: none

fix comment issue
  packages/subgraph/schema.graphql
Due: none

no-op commits to trigger build
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
Due: sdk-core

flowUpdated tests slight refactoring
  packages/subgraph/tests/cfav1/cfav1.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

no-op commits to trigger build (#1169)
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
Due: sdk-core

WIP: v2 proposal preview
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
Due: ethereum-contracts

Add test for stream creation
  packages/subgraph/tests/cfav1/cfav1.test.ts
Due: none

cleanup
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
Due: none

rogue tab
  packages/subgraph/package.json
Due: none

fix build attempt 0
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

remove nohoist - it is redundant
  packages/subgraph/package.json
Due: none

Update package.json
  packages/subgraph/package.json
Due: none

another attempt!
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/subgraph/schema.graphql
Due: none

remove uncommented code
  packages/subgraph/package.json
  packages/subgraph/tests/idav1/idav1.test.ts
Due: none

fix resolver mapping logic
  packages/subgraph/src/mappings/resolver.ts
Due: none
