Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

must pass required field
  .github/workflows/ci.canary.yml
Due: none

this is not a hack, it is required
  .github/workflows/call.deploy-subgraph.yml
Due: none

[SUBGRAPH] flowRateAtLiquidation field for DATA (#1197)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

subgraph gas used
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/assertionHelpers.ts
  yarn.lock
Due: none

bump subgraph version for retrigger
  packages/subgraph/package.json
Due: none

[CI/SUBGRAPH] Auto deploy subgraph (#1198)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

pass the actual var, don't include as expression
  .github/workflows/handler.deploy-subgraph.yml
Due: none

[SDK-CORE] fix hardhat ethers dependency bug (#1196)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: sdk-core

Pass the actual var, don't include as expression (#1207)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

ai did this
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Handler deploy subgraph fix (#1208)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

ai make me sad
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Handler deploy subgraph fix (#1209)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

AI why you no tell me I need to pass secrets :(
  .github/workflows/handler.deploy-subgraph.yml
Due: none

[GH Actions] Handler deploy subgraph fix (#1210)
  .github/workflows/handler.deploy-subgraph.yml
Due: none

intake secrets
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Handler deploy subgraph fix (#1211)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

toga events mapped and tested
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/mappings/toga.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/toga/event/toga.event.test.ts
  packages/subgraph/tests/toga/toga.helper.ts
Due: none

address review comments
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/assertionHelpers.ts
Due: none

explicit throw + useful comment
  packages/subgraph/src/utils.ts
Due: none

[SUBGRAPH] Add `gasUsed` property to all events (#1199)
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/assertionHelpers.ts
  yarn.lock
Due: none

upgradeTo logic "fix"
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
Due: ethereum-contracts

add gasUsed to schema.graphql
  packages/subgraph/schema.graphql
Due: none

trigger ci
  packages/subgraph/package.json
Due: none

MUST use consistent apiVersion
  packages/subgraph/subgraph.template.yaml
Due: none

downgradeTo
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
Due: ethereum-contracts, sdk-core

bad copy pasta
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
Due: ethereum-contracts

should use inheritdoc
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

update changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[SUBGRAPH] TOGA Events (#1212)
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/mappings/toga.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/toga/event/toga.event.test.ts
  packages/subgraph/tests/toga/toga.helper.ts
Due: none

immutable event entities subgraph
  packages/subgraph/schema.graphql
Due: none

fix subgraph function handler naming
  packages/subgraph/src/mappings/toga.ts
  packages/subgraph/tests/toga/event/toga.event.test.ts
Due: none

fix subgraph function handler naming (#1216)
  packages/subgraph/src/mappings/toga.ts
  packages/subgraph/tests/toga/event/toga.event.test.ts
Due: none

init commit
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/lib/ds-test/.gitignore
  packages/automation-contracts/scheduler/lib/ds-test/LICENSE
  packages/automation-contracts/scheduler/lib/ds-test/Makefile
  packages/automation-contracts/scheduler/lib/ds-test/default.nix
  packages/automation-contracts/scheduler/lib/ds-test/demo/demo.sol
  packages/automation-contracts/scheduler/lib/ds-test/src/test.sol
  packages/automation-contracts/scheduler/lib/forge-std/.github/workflows/tests.yml
  packages/automation-contracts/scheduler/lib/forge-std/.gitignore
  packages/automation-contracts/scheduler/lib/forge-std/.gitmodules
  packages/automation-contracts/scheduler/lib/forge-std/LICENSE-APACHE
  packages/automation-contracts/scheduler/lib/forge-std/LICENSE-MIT
  packages/automation-contracts/scheduler/lib/forge-std/README.md
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/.gitignore
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/LICENSE
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/Makefile
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/default.nix
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/demo/demo.sol
  packages/automation-contracts/scheduler/lib/forge-std/lib/ds-test/src/test.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/Test.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/Vm.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/console.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/test/StdCheats.t.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/test/StdError.t.sol
  packages/automation-contracts/scheduler/lib/forge-std/src/test/StdStorage.t.sol
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/remappings.txt
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/yarn.lock
Due: none

add audit report
  packages/automation-contracts/scheduler/audit/Superfluid-Scheduler-Report.pdf
Due: none

add autowrap contract
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IERC20Mod.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IManager.sol
  packages/automation-contracts/autowrap/contracts/interfaces/IStrategy.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockERC20.sol
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/autowrap/contracts/strategies/StrategyBase.sol
  packages/automation-contracts/autowrap/contracts/strategies/WrapStrategy.sol
  packages/automation-contracts/autowrap/lib/ds-test/.gitignore
  packages/automation-contracts/autowrap/lib/ds-test/LICENSE
  packages/automation-contracts/autowrap/lib/ds-test/Makefile
  packages/automation-contracts/autowrap/lib/ds-test/default.nix
  packages/automation-contracts/autowrap/lib/ds-test/demo/demo.sol
  packages/automation-contracts/autowrap/lib/ds-test/src/test.sol
  packages/automation-contracts/autowrap/lib/forge-std/.github/workflows/tests.yml
  packages/automation-contracts/autowrap/lib/forge-std/.gitignore
  packages/automation-contracts/autowrap/lib/forge-std/.gitmodules
  packages/automation-contracts/autowrap/lib/forge-std/LICENSE-APACHE
  packages/automation-contracts/autowrap/lib/forge-std/LICENSE-MIT
  packages/automation-contracts/autowrap/lib/forge-std/README.md
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/.gitignore
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/LICENSE
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/Makefile
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/default.nix
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/demo/demo.sol
  packages/automation-contracts/autowrap/lib/forge-std/lib/ds-test/src/test.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/Test.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/Vm.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/console.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/test/StdCheats.t.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/test/StdError.t.sol
  packages/automation-contracts/autowrap/lib/forge-std/src/test/StdStorage.t.sol
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/autowrap/remappings.txt
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/autowrap/yarn.lock
Due: none

add description
  packages/automation-contracts/autowrap/package.json
Due: none

add README place holder
  packages/automation-contracts/autowrap/README.md
Due: none

Implement Batch Send
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
