Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

Increase Code Coverage (#891)
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.sol
  packages/ethereum-contracts/contracts/mocks/IDASuperAppTester.sol
  packages/ethereum-contracts/contracts/mocks/IDAv1LibraryMock.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/FullUpgradableSuperTokenProxy.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
  yarn.lock
Due: ethereum-contracts

Update CODEOWNERS
  CODEOWNERS
Due: none

test previous-sdk-core based off feature
  .github/workflows/ci.canary.yml
Due: none

remove local release tag logic
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
Due: sdk-core

dev endpoint*
  .github/workflows/ci.canary.yml
Due: none

Test Previous SDK-Core Based off dev (#893)
  .github/workflows/ci.canary.yml
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
Due: sdk-core

comment out goerli network option
  examples/nftbillboard-userdata/packages/hardhat/hardhat.config.js
Due: none

Simple IDA Example (#890)
  examples/nftbillboard-userdata/packages/hardhat/hardhat.config.js
  examples/token-spreader/.env.template
  examples/token-spreader/.eslintignore
  examples/token-spreader/.eslintrc.js
  examples/token-spreader/.gitignore
  examples/token-spreader/.npmignore
  examples/token-spreader/.prettierignore
  examples/token-spreader/.prettierrc
  examples/token-spreader/.solhint.json
  examples/token-spreader/.solhintignore
  examples/token-spreader/README.md
  examples/token-spreader/arguments-tokenspreader.js
  examples/token-spreader/contracts/TokenSpreader.sol
  examples/token-spreader/hardhat.config.js
  examples/token-spreader/package.json
  examples/token-spreader/resources/high_level_viz.png
  examples/token-spreader/scripts/deploy.js
  examples/token-spreader/test/TokenSpreader.test.js
Due: none

update build workflows
  examples/beginner-examples/money-router/.gitignore
  examples/beginner-examples/money-router/build-and-test.sh
  examples/build-and-test-all.sh
Due: none

add scripts files to beginner examples
  examples/beginner-examples/money-router/package.json
  examples/beginner-examples/token-spreader/build-and-test.sh
  examples/beginner-examples/token-spreader/package.json
Due: none

add hardhat web3 dep to token-spreader
  examples/beginner-examples/token-spreader/package.json
Due: none

add token spreader gql dep
  examples/beginner-examples/token-spreader/package.json
Due: none

revised deploy script to use sf framework
  examples/token-spreader/arguments-tokenspreader.js
  examples/token-spreader/build-and-test.sh
  examples/token-spreader/scripts/deploy.js
Due: none

bump ethereum-contracts version to 1.3.0
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
Due: ethereum-contracts, js-sdk

demo scripts
  examples/token-spreader/hardhat.config.js
  examples/token-spreader/scripts/cleanStatus.js
  examples/token-spreader/scripts/deleteShares.js
  examples/token-spreader/scripts/deploy.js
  examples/token-spreader/scripts/distribute.js
  examples/token-spreader/scripts/gainShare.js
  examples/token-spreader/scripts/loseShare.js
  examples/token-spreader/scripts/transferInSpreaderTokens.js
  examples/token-spreader/scripts/viewStatus.js
Due: none

fixed typos
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

remove comma
  packages/ethereum-contracts/scripts/deploy-super-token.js
Due: ethereum-contracts

Production deployment script fixes (#821)
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/deploy-super-token.js
  packages/ethereum-contracts/scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/scripts/resolver-list-super-token.js
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
Due: ethereum-contracts, js-sdk

queue up FAILED_VERIFICATIONS
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

udpate yarn lock
  yarn.lock
Due: none

fix .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.deploy-to-testnets.yml
Due: none

add .github/workflows/handler.verify-contracts.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

typo
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

WIP
  packages/spec-haskell/Makefile
  packages/spec-haskell/README.md
  packages/spec-haskell/packages/core/src/Data/Internal/TaggedTypeable.hs
  packages/spec-haskell/packages/core/src/Money/Distribution/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Distribution/Concepts.lhs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Superfluid/System/Serialization.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

giant renaming
  packages/spec-haskell/packages/core/src/Data/Internal/TaggedTypeable.hs
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Superfluid/Agreements/DistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/Serialization.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealtimeBalance_prop.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/System_unit.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
Due: none

fix validator
  packages/spec-haskell/packages/validator/src/Main.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
Due: none

Make sdk-core tests strong and independant
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
Due: sdk-core

Remove commented out code
  packages/sdk-core/test/1_supertoken.test.ts
Due: sdk-core

changed name
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

added mainnets
  .github/workflows/handler.verify-contracts.yml
Due: none

formatting
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
Due: sdk-core

Queue up FAILED_VERIFICATIONS (#900)
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  yarn.lock
Due: ethereum-contracts

Make SDK-core test cases independant from each other (#901)
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
Due: sdk-core

typo, env template tweak, readme into tutorial
  examples/token-spreader/.env.template
  examples/token-spreader/README.md
  examples/token-spreader/contracts/TokenSpreader.sol
Due: none

add money router readme
  examples/beginner-examples/money-router/.env.example
  examples/beginner-examples/money-router/README.md
  package.json
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
