Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

removed `isClaimable` boolean from VestingSchedule data structure
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

remove internal function creating dupplication
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

added base-sepolia
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/subgraph/tasks/deploy.sh
  yarn.lock
Due: ethereum-contracts

feat: use balance deltas over rpc calls
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

updated claim validity date check logic
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

feat: track when balance was last updated from rpc
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

use more balance deltas
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
Due: none

fix a bug in packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

Add base-sepolia (#1947)
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/tasks/deploy.sh
  yarn.lock
Due: ethereum-contracts, sdk-core

refactor: re-order the claimValidityDate in the event
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

refactor: rename error
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

chore: no-op for pull request diff
  README.md
Due: none

[automations] Vesting Scheduler V2 ergonomic improvements (#1904)
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/.env.example
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/.env.example
  packages/automation-contracts/scheduler/audit/generate_diffs.sh
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

fix: remove merge issues from hardhat configs
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/hardhat.config.js
Due: none

fix: remove duplication from hardhat config
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/hardhat.config.js
Due: none

fix: moved & rename params struct into VestingSchedulerV2 contract
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
Due: none

[AUTOMATIONS] Vesting Scheduler - add claimable schedule feature (#1944)
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
  yarn.lock
Due: none

chore: update subgraph deps
  packages/subgraph/package.json
  packages/subgraph/subgraph.template.yaml
  yarn.lock
Due: none

add pruning
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tasks/deploy.sh
Due: none

bump version and changelog
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/subgraph.template.yaml
Due: none

remove unnecessary code
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/tasks/deploy.sh
Due: none

fix: do not query from rpc if balance was already updated in the same block
  packages/subgraph/src/mappingHelpers.ts
Due: none

try latest graph node
  packages/subgraph/docker-compose.yml
Due: none

[subgraph] configurable history pruning (#1954)
  packages/subgraph/CHANGELOG.md
  packages/subgraph/docker-compose.yml
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tasks/deploy.sh
  yarn.lock
Due: none

fix: use resolutions to force a later version of metadata
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/yarn.lock
Due: sdk-core

downgrade sdk-core
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/yarn.lock
Due: sdk-core

[subgraph] fix: use `resolutions` to force a later version of metadata in a test (#1957)
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/yarn.lock
Due: sdk-core

added api-gateway subgraph endpoints
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
Due: none

lint error fix
  packages/sdk-core/src/constants.ts
Due: sdk-core

changed hostedendpoint to canonicalendpoint
  packages/metadata/README.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/scripts/maps.ts
Due: sdk-core

update metadata readme
  packages/metadata/CHANGELOG.md
  packages/metadata/README.md
Due: none

removed canonical endpoints
  packages/metadata/module/networks/list.d.ts
  packages/metadata/networks.json
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/scripts/maps.ts
Due: sdk-core

metadata readme update
  packages/metadata/README.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

try to fix docker-compose
  packages/subgraph/docker-compose.yml
Due: none

use avalanche fuji for query tests
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

debug querytests
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

change goldsky version label
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

test annotated errors
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

annotated errors for deploy stage
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/subgraph/tasks/deploy.sh
Due: sdk-core

removed stderr annotations
  packages/subgraph/tasks/deploy.sh
Due: none
