Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

added ConstantFlowAgreement_prop test
  packages/spec-haskell/packages/core/src-internal/Lens/Internal.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealTimeBalance.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/flycheck_ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Tests.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

remove buffer from cfa
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

amud_semigroup_settles_pi property for CFA
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none

undo trailing whitespace removal
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
Due: ethereum-contracts

rename to agreement contracts
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

bump contract version, add test for loader (#1028)
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
Due: hardhat-deployer

minor refactorings
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
Due: none

mfa tester wip
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

create new release (#1029)
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscription.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscriptions.graphql
Due: sdk-core, hardhat-deployer

sdk-core uses metadata
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

use metadata in js-sdk
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
Due: js-sdk

use metadata in subgraph
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
Due: none

remove unsupported networks from ethereum-contracts
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

Update yarn.lock
  yarn.lock
Due: none

remove initial publish hack
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

version bump
  packages/hardhat-deployer/package.json
Due: hardhat-deployer

effAgreementOperation refactoring
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos.hs
Due: none

add CFDA prop tests
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/core/test/Tests.hs
Due: none

rm hardhat deployer
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  LICENSE
  README.md
  codecov.yml
  package.json
  packages/hardhat-deployer/.eslintignore
  packages/hardhat-deployer/.eslintrc.json
  packages/hardhat-deployer/.gitignore
  packages/hardhat-deployer/.mocharc.json
  packages/hardhat-deployer/.nycrc.json
  packages/hardhat-deployer/.prettierrc
  packages/hardhat-deployer/LICENSE
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/src/ERC1820Constants.ts
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/hardhat-deployer/src/index.ts
  packages/hardhat-deployer/src/type-extensions.ts
  packages/hardhat-deployer/tasks/testenv-ctl.sh
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/helpers.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
  packages/hardhat-deployer/tsconfig.json
  tasks/check-changeset.sh
Due: hardhat-deployer

remove deprecated testnets from workflows
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/subgraph/.env.example
  packages/subgraph/hardhat.config.ts
Due: ethereum-contracts

address comments
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
Due: ethereum-contracts

extract MonetaryUnitDataClass out
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/flycheck_ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

amud -> mud
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

fix umd build
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: js-sdk, sdk-core

fix getConfig
  packages/js-sdk/src/getConfig.js
  yarn.lock
Due: js-sdk

use master branch metadata
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: js-sdk, sdk-core

New TestSuperApp: stream redirector wip (#1008)
  packages/ethereum-contracts/.prettierrc.js
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

use hardhat compile
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/flatten-build.sh
  packages/ethereum-contracts/tasks/flatten-folder.sh
  packages/ethereum-contracts/tasks/hardhat-build-cleanup.sh
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
Due: ethereum-contracts

added optimism-goerli and arbitrum-rinkeby to truffle config
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

added optimism-goerli and arbitrum-goerli (updated metadata), shifted deprecated testnets to unsupported state
  .github/workflows/handler.deploy-to-testnets.yml
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
  yarn.lock
Due: ethereum-contracts, js-sdk

fixed chainId & updated metadata
  packages/js-sdk/src/getConfig.js
  yarn.lock
Due: js-sdk

AgreementContract refactored with φ function defined
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionCommon.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/flycheck_ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/flycheck_ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

define SemigroupMonetaryUnitData
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

AgreementContract is now MonetaryUnitDataClass constrained
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
Due: none

add missing addresses
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts

ao_prop_zero_sum_balance_series_ops cleaned up
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none

text formatting
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
