Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

github runner switched to docker compose v2
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/README.md
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

removed MetadataUpdate event, bumped versions, updated metadata, updated CHANGELOG files
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
Due: ethereum-contracts, sdk-core

fix deploy script
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix code path with pre-existing DMZForwarder
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

more removal
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/validate-deployment.ts
Due: ethereum-contracts

fix workflow
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

[CI] Fix sdk core workflow (#1999)
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

updated metadata, undo hardcoded gas settings for eth-mainnet
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
Due: ethereum-contracts

nix: update nixpkgs to the latest
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/call.upload-coverage-reports.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.changelog-reminder.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  flake.lock
  flake.nix
  tasks/create-build-set.sh
Due: none

tasks/check-changeset.sh renamed
  tasks/check-changeset.sh
Due: none

ci.feature: cancel concurrent workflows
  .github/workflows/ci.feature.yml
Due: none

run lcov ignoring inconsistent errors
  packages/ethereum-contracts/tasks/coverage-cleanup.sh
Due: ethereum-contracts

no-op to create pr
  packages/automation-contracts/scheduler/README.md
Due: none

additional vesting scheduler tests by 0xPilou
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.StatefulFuzz.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

nix: update nixpkgs to the latest & using node20 by default (#2001)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/call.upload-coverage-reports.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.changelog-reminder.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  flake.lock
  flake.nix
  packages/ethereum-contracts/tasks/coverage-cleanup.sh
  tasks/check-changeset.sh
  tasks/create-build-set.sh
Due: ethereum-contracts

updated metadata, undo hardcoded gas settings for eth-mainnet (#2000)
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
Due: ethereum-contracts

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

test only one sdk version
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

temp remove two queries to test load
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

gda pool permission check
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

same JQ variable in shell scripts
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

make truffle-config support private key
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

remove the practice of $JQ
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

Small build pipeline improvements (#2005)
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
  packages/ethereum-contracts/truffle-config.js
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

exit on deploy error
  packages/subgraph/tasks/deploy.sh
Due: none

set fail-fast to false
  .github/workflows/call.deploy-all-subgraphs.yml
Due: none

versions testing sdk version bump
  packages/sdk-core/previous-versions-testing/package.json
Due: sdk-core

temp disable testQueryClassFunctions
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

add deploy all workflow call
  .github/workflows/call.deploy-all-subgraphs.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy.sh
Due: none

shellcheck SC2086 fix
  .github/workflows/call.deploy-all-subgraphs.yml
Due: none

update nix command
  .github/workflows/call.deploy-all-subgraphs.yml
Due: none

show fail when it fails but continue
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

add celo to thegraph matrix
  .github/workflows/call.deploy-all-subgraphs.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

move deployment prep to deploy.sh
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/deploy.sh
Due: none

subgraph test continue on error
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

continue only on success or failure
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

add default working directory
  packages/subgraph/tasks/deploy.sh
Due: none

remove default working directory from script
  packages/subgraph/tasks/deploy.sh
Due: none
