Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

SDK-Core 0.5.2 Patch Fix and Version Bump (#1001)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/package.json
Due: sdk-core

[SDK-Core] Call App Action Support Added/Fixed CallAppAction BatchCall (#995)
  packages/sdk-core/.gitignore
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

rename to MMUD ot MVMUD (MintedValue MUD)
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

rename to MMUD ot MVMUD (MintedValue MUD)
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

SDK-Core v0.5.2 (#1003)
  packages/sdk-core/.gitignore
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

modified deploy script
  packages/ethereum-contracts/scripts/deploy-deterministically.js
Due: ethereum-contracts

CFDFA wip
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
Due: none

test pnpm ci actions
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  examples/archive/budget-nft-truffle/build-and-test.sh
  examples/archive/flowlottery/build-and-test.sh
  examples/archive/streaming-call-option/build-and-test.sh
  examples/archive/tradeable-cashflow-truffle/build-and-test.sh
  examples/beginner-examples/money-router/build-and-test.sh
  examples/beginner-examples/token-spreader/build-and-test.sh
  examples/budget-nft/build-and-test.sh
  examples/employment-based-loan/build-and-test.sh
  examples/nftbillboard-userdata/build-and-test.sh
  examples/rewards-distribution-token/build-and-test.sh
  examples/sdk-redux-examples/sdk-redux-nextjs-typescript/build-and-test.sh
  examples/sdk-redux-examples/sdk-redux-react-typecript/build-and-test.sh
  examples/simple-acl-close/build-and-test.sh
  examples/stream-in-distribute-out/build-and-test.sh
  examples/tradeable-cashflow/build-and-test.sh
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  packages/subgraph/tasks/testenv-ctl.sh
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: sdk-core

retry build
  .github/workflows/handler.build-examples.yml
  examples/build-and-test-all.sh
  pnpm-lock.yaml
Due: none

Update cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

Update cd.hardhat-deployer-stable.create-release-drafts.yml (#1006)
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

App Credit BIG CHANGES
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.js
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

stream redirector wip
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
Due: ethereum-contracts

use MAX_APP_LEVEL constant
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

Revert "Update cd.hardhat-deployer-stable.create-release-drafts.yml (#1006)"
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

initial publish hack
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

fix typo
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

Release hardhat deployer stable (#1009)
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

fix foundry tests
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

Rename appLevel and add tests
  packages/ethereum-contracts/.prettierrc.js
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/TestEnvironment.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

add resolver and loader to deployer, add tests
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

use 0.2.0 instead of nightly
  .github/workflows/ci.feature.yml
Due: none

try other possibility
  .github/workflows/ci.feature.yml
Due: none

more tests
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
Due: ethereum-contracts

cleanup
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

Revert "fix foundry tests"
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

examples cache yarn
  .github/workflows/handler.build-examples.yml
Due: none

Add resolver and loader to deployer, add tests (#1011)
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

actions/setup-node cache property added (#1002)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.build-examples.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

remove redundant resolver, update tests
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
Due: hardhat-deployer

mv sdk core to dev deps
  packages/hardhat-deployer/package.json
Due: hardhat-deployer

update tests to include frozen lockfile
  .github/workflows/call.test-hardhat-deployer.yml
Due: none

revert sdk-core requirement
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
Due: hardhat-deployer

CFDA tested even more, working great now
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/flycheck_ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none
