Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

don't create zero address accounts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

fix handler.xkcd.yml
  .github/workflows/handler.xkcd.yml
Due: none

immutable fix
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/test/subgraph.test.ts
Due: none

remove example ownership, let it owned by fte
  CODEOWNERS
Due: none

fix the flowlottery hot fuzz temp link
  examples/flowlottery/solidity-contracts/package.json
  examples/flowlottery/solidity-contracts/yarn.lock
  packages/hot-fuzz/README.md
Due: none

Fix the flowlottery hot fuzz temp link (#812)
  examples/flowlottery/solidity-contracts/package.json
  examples/flowlottery/solidity-contracts/yarn.lock
  packages/hot-fuzz/README.md
Due: none

add test to hardhat budget nft suite for transferring NFT ownership (#795)
  examples/budget-nft-hardhat/test/BudgetNFT.test.ts
Due: none

[skip ci] fix
  .github/workflows/handler.build-examples.yml
Due: none

Update handler.xkcd.yml
  .github/workflows/handler.xkcd.yml
Due: none

Update LICENSE
  LICENSE
Due: none

add licence files
  packages/hot-fuzz/LICENSE
  packages/js-sdk/LICENSE
  packages/sdk-core/LICENSE
  packages/sdk-redux/LICENSE
  packages/subgraph/LICENSE
Due: js-sdk, sdk-core

update README
  README.md
Due: none

update
  README.md
Due: none

Some small changes (#813)
  .github/workflows/handler.xkcd.yml
  LICENSE
  README.md
  packages/hot-fuzz/LICENSE
  packages/js-sdk/LICENSE
  packages/sdk-core/LICENSE
  packages/sdk-redux/LICENSE
  packages/subgraph/LICENSE
Due: js-sdk, sdk-core

rename ca and changed permissions on bnft
  examples/budget-nft/budget-nft-hardhat/build-and-test.sh
  examples/continuous-auction/continuous-auction-hardhat/.env.example
  examples/continuous-auction/continuous-auction-hardhat/.eslintignore
  examples/continuous-auction/continuous-auction-hardhat/.eslintrc.js
  examples/continuous-auction/continuous-auction-hardhat/.gitignore
  examples/continuous-auction/continuous-auction-hardhat/.npmignore
  examples/continuous-auction/continuous-auction-hardhat/.prettierignore
  examples/continuous-auction/continuous-auction-hardhat/.prettierrc
  examples/continuous-auction/continuous-auction-hardhat/.solhint.json
  examples/continuous-auction/continuous-auction-hardhat/.solhintignore
  examples/continuous-auction/continuous-auction-hardhat/README.md
  examples/continuous-auction/continuous-auction-hardhat/build-and-test.sh
  examples/continuous-auction/continuous-auction-hardhat/contracts/Auction.sol
  examples/continuous-auction/continuous-auction-hardhat/hardhat.config.ts
  examples/continuous-auction/continuous-auction-hardhat/package.json
  examples/continuous-auction/continuous-auction-hardhat/test/abis/fDAIABI.js
  examples/continuous-auction/continuous-auction-hardhat/test/auction.test.ts
  examples/continuous-auction/continuous-auction-hardhat/tsconfig.json
  examples/continuous-auction/continuous-auction-hardhat/yarn.lock
Due: none

change ca permissions
  examples/budget-nft/budget-nft-hardhat/build-and-test.sh
  examples/budget-nft/budget-nft-truffle/build-and-test.sh
  examples/continuous-auction/continuous-auction-hardhat/build-and-test.sh
Due: none

add yarn build script to bnft hardhat example
  examples/budget-nft/budget-nft-hardhat/package.json
Due: none

add yarn test to bnft hardhat example
  examples/budget-nft/budget-nft-hardhat/package.json
Due: none

remove redundant config, already done by patch fn
  examples/flowlottery/solidity-contracts/truffle-config.js
Due: none

use dedicated build dir, work with default truffle config
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
Due: none

make it a dev dependency
  packages/hot-fuzz/README.md
Due: none

typo
  examples/flowlottery/solidity-contracts/contracts/LotterySuperApp.hott.sol
Due: none

rm continuous auction temporarily
  examples/continuous-auction/continuous-auction-hardhat/.env.example
  examples/continuous-auction/continuous-auction-hardhat/.eslintignore
  examples/continuous-auction/continuous-auction-hardhat/.eslintrc.js
  examples/continuous-auction/continuous-auction-hardhat/.gitignore
  examples/continuous-auction/continuous-auction-hardhat/.npmignore
  examples/continuous-auction/continuous-auction-hardhat/.prettierignore
  examples/continuous-auction/continuous-auction-hardhat/.prettierrc
  examples/continuous-auction/continuous-auction-hardhat/.solhint.json
  examples/continuous-auction/continuous-auction-hardhat/.solhintignore
  examples/continuous-auction/continuous-auction-hardhat/README.md
  examples/continuous-auction/continuous-auction-hardhat/build-and-test.sh
  examples/continuous-auction/continuous-auction-hardhat/contracts/Auction.sol
  examples/continuous-auction/continuous-auction-hardhat/hardhat.config.ts
  examples/continuous-auction/continuous-auction-hardhat/package.json
  examples/continuous-auction/continuous-auction-hardhat/test/abis/fDAIABI.js
  examples/continuous-auction/continuous-auction-hardhat/test/auction.test.ts
  examples/continuous-auction/continuous-auction-hardhat/tsconfig.json
  examples/continuous-auction/continuous-auction-hardhat/yarn.lock
  examples/continuous-auction/continuous-auction-truffle/LICENSE
  examples/continuous-auction/continuous-auction-truffle/README.md
  examples/continuous-auction/continuous-auction-truffle/build-and-test.sh
  examples/continuous-auction/continuous-auction-truffle/contracts/Auction.sol
  examples/continuous-auction/continuous-auction-truffle/package.json
  examples/continuous-auction/continuous-auction-truffle/test/.eslintrc.js
  examples/continuous-auction/continuous-auction-truffle/test/Auction.test.js
  examples/continuous-auction/continuous-auction-truffle/truffle-config.js
  examples/continuous-auction/continuous-auction-truffle/yarn.lock
Due: none

rm continuous auction temporarily from build workflow
  .github/workflows/handler.build-examples.yml
Due: none

rename initPlayers -> initTesters
  examples/flowlottery/solidity-contracts/contracts/LotterySuperApp.hott.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/InstantDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperToken.hott.sol
Due: none

Comment disableTestGovernance
  packages/ethereum-contracts/scripts/libs/getConfig.js
Due: ethereum-contracts

avalanche support added
  packages/ethereum-contracts/hardhat.config.ts
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
  packages/subgraph/config/avalanche-main.json
  packages/subgraph/config/avalanche.json
  packages/subgraph/networks.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/deploy-all-networks.sh
Due: ethereum-contracts, sdk-core

constants for chainId
  packages/sdk-core/src/constants.ts
Due: sdk-core

js-sdk getConfig update
  packages/js-sdk/src/getConfig.js
Due: js-sdk

Comment disableTestGovernance (#818)
  packages/ethereum-contracts/scripts/libs/getConfig.js
Due: ethereum-contracts
