Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

Misc: ops-scripts, metadata, forwarders (#1678)
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

add test:contracts:slither step
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

[TECHDEBT][ETHEREUM-CONTRACTS] Remove token info (#1679)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-super-token.js
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/README.md
  packages/js-sdk/src/Framework.js
  packages/js-sdk/test/Framework.test.js
  packages/sdk-core/src/ERC20Token.ts
  yarn.lock
Due: ethereum-contracts, sdk-core

explicitly set parallel to false
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

remove build/typechain-types
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/sdk-core/.gitignore
  packages/sdk-core/package.json
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/tasks/build-types.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/tsconfig.typechain.json
Due: ethereum-contracts, sdk-core

fix formatting
  packages/sdk-core/.eslintignore
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

fix up shell script
  packages/sdk-core/tasks/build-types.sh
  packages/sdk-core/tsconfig.typechain.json
Due: sdk-core

bump monorepo package versions
  package.json
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

clean up build warnings
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

undo @truffle/contract
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

[CHORE] bump monorepo package versions (#1683)
  package.json
  yarn.lock
Due: none

Update build-types.sh
  packages/sdk-core/tasks/build-types.sh
Due: sdk-core

[ETHEREUM-CONTRACTS/SDK-CORE] Remove typechain from build output (#1681)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/sdk-core/.eslintignore
  packages/sdk-core/.gitignore
  packages/sdk-core/package.json
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/tasks/build-types.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/tsconfig.typechain.json
Due: ethereum-contracts, sdk-core

devolved progress stash
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

write functions added
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

add adminOverride support to supertokenfactory
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
Due: ethereum-contracts

add tests
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

fix js tests + changelog
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

fix breaking build + address comments
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

pass via env:
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

fix build
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SuperfluidPool.ts
Due: sdk-core

fix flakey test
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
Due: ethereum-contracts

add nft addresses to config
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/base-goerli.json
  packages/subgraph/config/base-mainnet.json
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/config/celo-mainnet.json
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/eth-mainnet.json
  packages/subgraph/config/eth-sepolia.json
  packages/subgraph/config/mock.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/config/polygon-zkevm-testnet.json
  packages/subgraph/config/xdai-mainnet.json
Due: none

fix typechain imports
  packages/sdk-core/src/ConstantInflowNFT.ts
  packages/sdk-core/src/ConstantOutflowNFT.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/FlowNFTBase.ts
Due: sdk-core

Update ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

use a different function name
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] 1685 devolved supertokens (#1690)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

metadata: remove gov addrs for testnets (redeployed often, without proxy), remove wrong duplicate wrapStrategy addrs from xdai-mainnet
  packages/metadata/networks.json
Due: none

metadata: remove gov addrs for testnets (redeployed often, without proxy), remove wrong duplicate wrapStrategy addrs from xdai-mainnet
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

bumped version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

tech debt refactor
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  packages/metadata/module/networks/list.d.ts
  packages/subgraph/.gitignore
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/base-goerli.json
  packages/subgraph/config/base-mainnet.json
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/config/celo-mainnet.json
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/eth-mainnet.json
  packages/subgraph/config/eth-sepolia.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/config/polygon-zkevm-testnet.json
  packages/subgraph/config/xdai-mainnet.json
  packages/subgraph/config/xdai.json
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getHostedServiceNetworks.ts
  packages/subgraph/tasks/deploy.sh
Due: none

Delete hosted-service-networks.json
  packages/subgraph/hosted-service-networks.json
Due: none

fix up workflow
  .github/workflows/call.test-local-subgraph.yml
  packages/subgraph/package.json
Due: none

Add listed super tokens and super token logic contracts to verification check
  .github/workflows/daily-slack-message.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
  tasks/daily-slack-bot.js
  yarn.lock
Due: ethereum-contracts

piggy-back: add missing contract to verification script
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

Add listed super tokens and super token logic contracts to verification check (#1693)
  .github/workflows/daily-slack-message.yml
  tasks/daily-slack-bot.js
Due: none

[SUBGRAPH | METADATA] tech debt refactor (#1692)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  packages/metadata/module/networks/list.d.ts
  packages/subgraph/.gitignore
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/base-goerli.json
  packages/subgraph/config/base-mainnet.json
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/config/celo-mainnet.json
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/eth-mainnet.json
  packages/subgraph/config/eth-sepolia.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/config/polygon-zkevm-testnet.json
  packages/subgraph/config/xdai-mainnet.json
  packages/subgraph/config/xdai.json
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getHostedServiceNetworks.ts
  packages/subgraph/tasks/deploy.sh
Due: none

[METADATA] Remove stale governance addresses (#1694)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

Get governance address from host contract and add whitelist
  tasks/daily-slack-bot.js
Due: none

fix build
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
Due: ethereum-contracts
