Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

script for unlisting a super token [skip ci]
  packages/ethereum-contracts/scripts/resolver-unlist-super-token.js
Due: ethereum-contracts

emit Transfer event on SuperToken initialization
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

added script for deploying auxiliary contracts
  packages/ethereum-contracts/scripts/deploy-aux-contracts.js
Due: ethereum-contracts

Query and Subgraph Sync Workflow (#931)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.check-subgraph-indexing-statuses.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  .github/workflows/daily-query-check.yml
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

ethereum contracts package updates
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

hot fuzz package update
  packages/hot-fuzz/package.json
  yarn.lock
Due: none

Subgraph data integrity validation (#661)
  packages/sdk-core/src/utils.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/hardhat.config.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/scripts/dataIntegrity/README.md
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/dataIntegrity/helperFunctions.ts
  packages/subgraph/scripts/dataIntegrity/interfaces.ts
  packages/subgraph/scripts/dataIntegrityTest.ts
  packages/subgraph/scripts/interfaces.ts
  packages/subgraph/scripts/maps.ts
  packages/subgraph/test/queries/dataIntegrityQueries.ts
Due: sdk-core

js-sdk package updates
  packages/js-sdk/package.json
  yarn.lock
Due: js-sdk

sdk-redux updates
  packages/sdk-redux/package.json
  yarn.lock
Due: none

undo auto-bind/node-fetch updates
  packages/js-sdk/package.json
  yarn.lock
Due: js-sdk

update subgraph packages
  packages/subgraph/package.json
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/test/helpers/helpers.ts
  yarn.lock
Due: none

root package.json minor+patch update
  package.json
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  yarn.lock
Due: sdk-core

update workflow again
  .github/workflows/call.test-hardhat-deployer.yml
Due: none

major package.json updates
  package.json
  yarn.lock
Due: none

rename CallBackInputs properties
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.js
Due: ethereum-contracts

remove local hardhat dependency
  packages/hardhat-deployer/package.json
  yarn.lock
Due: none

allowance => credit
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

typo fixes
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.js
Due: ethereum-contracts

test foundry --match-path
  .github/workflows/ci.feature.yml
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

new glob pattern
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

test --hh flag
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

undo ci.feature foundry test change
  .github/workflows/ci.feature.yml
Due: none

rule cfa-2 logic change
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

Update package.json
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

use --hardhat instead of --hh
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Update dependencies (#930)
  package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/test/helpers/helpers.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

move Serialization away
  packages/spec-haskell/packages/core/src/Data/Constraint/PreConstraintOf.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Serialization.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
Due: none

demote agreemen to semigroup
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
Due: none

Liquidity are functors
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
Due: none

liquidity and tags
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
Due: none

simplify more
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
Due: none

simplify deriving.
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

continued simplification of liquidity
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
Due: none

fixed example cmds [skip ci]
  packages/ethereum-contracts/scripts/resolver-list-super-token.js
  packages/ethereum-contracts/scripts/resolver-unlist-super-token.js
Due: ethereum-contracts

money router example
  examples/beginner-examples/money-router/scripts/aclApproval.js
  examples/beginner-examples/money-router/scripts/createFlowFromContract.js
  examples/beginner-examples/money-router/scripts/createFlowIntoContract.js
  examples/beginner-examples/money-router/scripts/deleteFlowFromContract.js
  examples/beginner-examples/money-router/scripts/deleteFlowIntoContract.js
  examples/beginner-examples/money-router/scripts/deploy.js
  examples/beginner-examples/money-router/scripts/sendLumpSumToContract.js
  examples/beginner-examples/money-router/scripts/tokenApproval.js
  examples/beginner-examples/money-router/scripts/updateFlowFromContract.js
  examples/beginner-examples/money-router/scripts/updateFlowIntoContract.js
  examples/beginner-examples/money-router/scripts/withdrawFunds.js
  examples/beginner-examples/money-router/test/MoneyRouter.test.js
Due: none

added GH handler for listing Super Token (generic script runner is too tedious)
  .github/workflows/handler.list-super-token.yml
Due: none

token spreader
  examples/beginner-examples/token-spreader/scripts/cleanStatus.js
  examples/beginner-examples/token-spreader/scripts/deleteShares.js
  examples/beginner-examples/token-spreader/scripts/deploy.js
  examples/beginner-examples/token-spreader/scripts/distribute.js
  examples/beginner-examples/token-spreader/scripts/gainShare.js
  examples/beginner-examples/token-spreader/scripts/loseShare.js
  examples/beginner-examples/token-spreader/scripts/transferInSpreaderTokens.js
  examples/beginner-examples/token-spreader/scripts/viewStatus.js
  examples/beginner-examples/token-spreader/test/TokenSpreader.test.js
Due: none

budget nft / employment loan
  examples/beginner-examples/money-router/package.json
  examples/beginner-examples/token-spreader/package.json
  examples/budget-nft/package.json
  examples/budget-nft/scripts/deploy.js
  examples/budget-nft/scripts/editNFT.js
  examples/budget-nft/scripts/fundContract.js
  examples/budget-nft/scripts/issueNFT.js
  examples/budget-nft/scripts/mergeNFTs.js
  examples/budget-nft/scripts/splitNFT.js
  examples/budget-nft/test/BudgetNFT.test.ts
  examples/employment-based-loan/package.json
  examples/employment-based-loan/test/EmploymentLoan.test.js
Due: none

added placeholder handler [skip ci]
  .github/workflows/handler.placeholder-for-testing.yml
Due: none
