Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

more meaningful jsdoc
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

fix supertoken initialization for gooddollar
  packages/sdk-core/src/SuperToken.ts
Due: sdk-core

bump version + update changelog
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SuperToken.ts
Due: sdk-core

use governance address from networkData
  packages/sdk-core/src/Framework.ts
Due: sdk-core

gooddollar symbol
  packages/sdk-core/src/SuperToken.ts
Due: sdk-core

[SDK-CORE] GoodDollar sdk core fix (#1734)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/SuperToken.ts
Due: sdk-core

add new functions for dev-scripts deployment
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/index.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] make deploy script compatible with ethers v6 (#1730)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/index.js
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

update deploy.sh
  packages/subgraph/tasks/deploy.sh
Due: none

update deploy.sh (#1738)
  packages/subgraph/tasks/deploy.sh
Due: none

fix verification script
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

change GDA forwarder address (needed to redeploy)
  packages/ethereum-contracts/tasks/deploy-gda-forwarder.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

change GDA forwarder address for polygon-mumbai
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

fix tests to fuzz with different pool configs and fix distributeFlow blocked liquidation issue
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix TOB-SUPERFLUID-2: Incorrect event emission in connectPool
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix TOB-SUPERFLUID-5: Large encoded buffer amount could manipulate preceding field
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix TOB-SUPERFLUID-6: Off-by-one gas left check
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
Due: ethereum-contracts

fix broken test
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
Due: ethereum-contracts

wrangle with reducing the code size of GDA...
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
Due: ethereum-contracts

fix build + tests
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
Due: ethereum-contracts, sdk-core

cleanup
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
Due: ethereum-contracts, sdk-core

allow listing non-standard SuperTokens
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
Due: ethereum-contracts

fix canary build, fixes #1633
  .github/workflows/ci.canary.yml
Due: none

add app credit sanity test
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
Due: ethereum-contracts

cleanup console.logs
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
Due: none

handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

add nix to handler.deploy-to-testnets.yml
  .github/workflows/handler.deploy-to-testnets.yml
Due: none

add update beacon proxy update paths
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

fix broken deploy script, add tests, add transfer ownership of beacon in deploy script
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/upgradability/SuperfluidUpgradeableBeacon.t.sol
Due: ethereum-contracts

fix broken deploy script attempt 2
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

[WORKFLOWS] Use nix in `handler.run-ethereum-contracts-script.yml` (#1745)
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

[ETHEREUM-CONTRACTS] App credit test (#1743)
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
Due: ethereum-contracts

add cliName
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: ethereum-contracts, sdk-core

add cliName (#1748)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: ethereum-contracts, sdk-core

doConnect != isConnected fixed
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

remove extra whitespace
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IPoolNFTBase.sol
Due: ethereum-contracts

add assertEq in SFGovII test and import PoolConfig in ISuperfluid for easy access
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

fuzzing fix
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
