Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

update foundry nix input
  flake.lock
Due: none

[ETHEREUM-CONTRACT] add deployment view of Superfluid framework (#1776)
  flake.lock
  packages/ethereum-contracts/docs/deployment-view.drawio
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getHostedServiceNetworks.ts
Due: ethereum-contracts

fix foundry monthly snapshot issue
  flake.lock
  flake.nix
Due: none

fix foundry monthly snapshot issue (#1779)
  flake.lock
  flake.nix
Due: none

make superfluidPoolBeacon part of GeneralDistributionAgreementV1 logic
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

fix up nft constructor
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
Due: ethereum-contracts

update deploy script to latest changes
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix gov script
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
Due: ethereum-contracts

natspec docs added
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

natspec docs added (#1781)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

2-phase GDA bootstrapping
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

pool placeholder contract
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolPlaceholder.sol
Due: ethereum-contracts

solc 0.8.23
  flake.nix
Due: none

another bump
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/foundry.toml
Due: none

removed eth-mainnet and eth-sepolia from superfluid graph network
  packages/subgraph/tasks/deploy.sh
Due: none

removed eth-mainnet and eth-sepolia from superfluid graph network (#1784)
  packages/subgraph/tasks/deploy.sh
Due: none

2-step GDA bootstrapping, fix verification script
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

more consistent naming
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

add scroll networks
  flake.lock
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

add scroll sepolia to metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

add scroll mainnet to metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Update README.md
  README.md
Due: none

Update README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Fixed twitter link (#1788)
  README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

add gda v1 forwarder to metadata
  packages/metadata/module/networks/list.d.ts
Due: none

add gda v1 forwarder to metadata (#1789)
  packages/metadata/module/networks/list.d.ts
Due: none

token update: skip tokens we don't own (not pointing to a previous canonical logic)
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

updated bsc metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

apply diff
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

updated changelog
  packages/metadata/CHANGELOG.md
Due: none

[ETHEREUM-CONTRACTS] add scroll-mainnet and scroll-sepolia (#1790)
  flake.lock
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

added metadata, updated changelog
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/tasks/deploy.sh
Due: none

added subgraph metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

undo flake.lock change
  flake.lock
Due: none

flake.nix: back to using monthly snapshot
  flake.lock
  flake.nix
Due: none

flake.nix: back to using monthly snapshot (#1791)
  flake.lock
  flake.nix
Due: none

[NETWORK] added optimism-sepolia, scroll-sepolia, scroll-mainnet (#1787)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

update nix flake, disable sage (broken build) for now
  flake.lock
  flake.nix
Due: none

spec: ignore Functor law warning
  packages/spec-haskell/.hlint.yaml
Due: none
