Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

added macroForwarder, updated batchLiquidator
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

added macroForwarder, updated batchLiquidator (#2015)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

cleanup
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/TrustedMacrosVanilla.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

update changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

GDA Pool Permission (#2010)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

first attempt: remove superfluous (?) code
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
Due: none

fix logging
  packages/subgraph/src/utils.ts
Due: none

[SUBGRAPH] fix missing token name/symbol (#2017)
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
Due: none

fix(subgraph): make sure to update timestamp and blocknumber when updating pool
  packages/subgraph/src/mappingHelpers.ts
Due: none

chore: add deploy example to package.json
  packages/subgraph/package.json
Due: none

use balance delta only for accounts without any cfa, gda, ida income
  packages/subgraph/src/mappingHelpers.ts
Due: none

add TODO
  packages/subgraph/src/mappingHelpers.ts
Due: none

combine updating pool particle and other stats of the pool
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

add logging when balance from delta doesnt match
  packages/subgraph/src/mappingHelpers.ts
Due: none

[subgraph] fix pool total amount distributed being off (#2019)
  packages/subgraph/package.json
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

dont log when it could be a failure anyway with high likelihood
  packages/subgraph/src/mappingHelpers.ts
Due: none

account for gda pool admins for isLiquidationEstimateOptimistic
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
Due: none

prefer looking at stream inflow and outflow separately
  packages/subgraph/src/mappingHelpers.ts
Due: none

force super token type
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.StatefulFuzz.t.sol
Due: none

add MacroForwarder to the test deployer and adjust existing tests
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

updated changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

test _getSender
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

test whether superapp
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

fix fuzz tests (by Pierre)
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.StatefulFuzz.t.sol
Due: none

[AUTOMATIONS-CONTRACT] Extended Vesting Scheduler Tests (no unsigned commits) (#2002)
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.StatefulFuzz.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

fix missing mapping
  packages/subgraph/src/mappingHelpers.ts
Due: none

[ETHEREUM-CONTRACTS] add MacroForwarder to the test deployer and adjust existing tests (#2021)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

dont always log
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
Due: none

handle PR comments
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
Due: none

prepare 2.2.0 release
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
Due: none

[subgraph] feat: use balance deltas over RPC calls (#1948)
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
Due: none

add account interaction entities
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

add total received from pool to events
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

fUSDC with 6 decimals (like the real USDC)
  packages/ethereum-contracts/ops-scripts/deploy-test-environment.js
Due: ethereum-contracts

update verification plugin
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

CHANGELOG update
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] more realistic fUSDC (#2023)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/ops-scripts/deploy-test-environment.js
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
