Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

[ETHEREUM-CONTRACTS] Tidy up dev scripts (#1288)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
Due: ethereum-contracts, sdk-core

foundry coverage
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Update docker-compose.yml
  packages/subgraph/docker-compose.yml
Due: none

Update .gitignore
  .gitignore
Due: none

[ETHEREUM-CONTRACTS] Version 1.5.1 Release PR (#1289)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

remove sign restrictions for Time and Unit
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/TestMonetaryTypes.hs
  packages/spec-haskell/pkgs/semantic-money/wasm/Exports.hs
Due: none

making Unit int128
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

fix codeChanged issue
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

more comments to SemanticMoney.sol
  packages/solidity-semantic-money/src/SemanticMoney.sol
Due: none

[ETHEREUM-CONTRACTS/SUBGRAPH] Foundry Coverage Support + Subgraph docker.compose fix (#1290)
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .gitignore
  packages/ethereum-contracts/package.json
  packages/subgraph/docker-compose.yml
Due: ethereum-contracts

feat: added Pool contract
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/IPool.cairo
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
Due: none

add userData to Stream entity
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

governance configs
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.helper.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

using more syntatic sugars from solidity 0.8.19 compiler
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

new aggregate properties on ATS
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

SuperTokenMinimumDepositChanged for SDK-Core
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

added hol entity properties
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/stream/stream.ts
  packages/sdk-core/src/subgraph/entities/stream/streams.graphql
  packages/sdk-core/src/subgraph/entities/token/token.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
Due: sdk-core

add ats properties to ats log
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

add properties in SDK core for ats log
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
Due: sdk-core

handle assumption
  packages/subgraph/src/mappingHelpers.ts
Due: none

fixes
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: sdk-core

squash commits for sign
  .github/workflows/ci.canary.yml
Due: none

sdk-core interface cleanups
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

squash commits for sign (#1293)
  .github/workflows/ci.canary.yml
Due: none

increase/decrease allowance naive
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
Due: ethereum-contracts

increase/decrease token allowance
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

fix bad merge
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
Due: ethereum-contracts

feat: updated library for SuperToken
  packages/starknet-contracts/src/interfaces/IPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

feat: updated SuperToken
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
Due: none

feat: updated SuperToken
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
Due: none

Review comments addressed
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
  yarn.lock
Due: ethereum-contracts

throw on empty batch call
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

remove mapping variable names
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

fix expected error
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
Due: ethereum-contracts

use EnumerableSet.AddressSet instead
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

fix liquidations test
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
Due: ethereum-contracts

add foundry test for SuperAppBaseFlow
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
Due: ethereum-contracts
