Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

Remove redundant deployments (#1014)
  .github/workflows/call.test-hardhat-deployer.yml
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
Due: hardhat-deployer

Update to accomodate new ethereum contracts deployer (#1015)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.build-examples.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/subgraph/tasks/testenv-ctl.sh
Due: ethereum-contracts, hardhat-deployer

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

bump ethereum-contractw to 1.3.1
  packages/ethereum-contracts/package.json
  packages/hardhat-deployer/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

demo-cfda ftw!
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/validator/src/Main.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
  packages/spec-haskell/utils/lhs2tex.sh
  packages/spec-haskell/utils/self-gnuplot.sh
Due: none

Create mfa-tester.html
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

create flow mfa tester and deploy-mfa script
  packages/ethereum-contracts/scripts/deploy-mfa.ts
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

specify cache-dependency-path
  .github/workflows/handler.build-examples.yml
Due: none

specify cache-dependency-path (#1018)
  .github/workflows/handler.build-examples.yml
Due: none

Ethereum 1.3.1 - for hardhat deployer update (#1016)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hardhat-deployer/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

Add resolver and loader to deployer, add tests (#1011)
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

[ethereum-contracts] 1.3.1 - for hardhat deployer update (#1016)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hardhat-deployer/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

RC ethereum contracts 1.3.1 (#1019)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/hardhat-deployer/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

mfa tester wip
  packages/ethereum-contracts/.eslintrc.json
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

simplify UniversalData definition
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/simple/src/Lens/Internal.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
Due: none

fix build
  packages/sdk-core/package.json
Due: sdk-core

fix build
  yarn.lock
Due: none

little adjument to trigger a build
  packages/sdk-core/package.json
Due: sdk-core

mfa tester wip
  packages/ethereum-contracts/scripts/deploy-mfa.ts
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

revert some change
  packages/sdk-core/package.json
  yarn.lock
Due: sdk-core

more granular build
  .github/workflows/handler.publish-release-packages.yml
Due: none

explicit builds
  .github/workflows/handler.publish-release-packages.yml
Due: none

subgraph network support removal
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/networks.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
Due: none

sdk-core remove networks
  packages/sdk-core/src/constants.ts
Due: sdk-core

ProportionalDistributionIndex refactored
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionCommon.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

Fix release branch (#1024)
  .github/workflows/handler.publish-release-packages.yml
Due: none

PDIDX.updateSubscription
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

change from MAX_APP_CALLBACK_LEVEL to 1
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

add tokenDecimals option to deploy-test-token.js
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

add tokenDecimals option to deploy-test-token.js (#1025)
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

use toFixed(18)
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

Map indexId to IndexSubscription
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscription.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscriptions.graphql
Due: sdk-core

fix cfda settle delta error
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos.hs
Due: none

fix hlint
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
Due: none

fix hlint issues
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos.hs
Due: none

add core test cases finally
  packages/spec-haskell/.hlint.yaml
  packages/spec-haskell/Makefile
  packages/spec-haskell/cabal.project.coverage
  packages/spec-haskell/hie.yaml
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/core/test/Tests.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Tests.hs
Due: none

Map indexId to IndexSubscription (#1026)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscription.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscriptions.graphql
Due: sdk-core

bump contract version, add test for loader
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
Due: hardhat-deployer
