Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

coverage cleanup
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  tasks/coverage-cleanup.sh
Due: none

[WORKFLOWS] Coverage deploy fix (#1399)
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  tasks/coverage-cleanup.sh
Due: none

adjustment fr
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Update GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

sepolia additions
  packages/sdk-core/src/constants.ts
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  yarn.lock
Due: sdk-core

WIP for Vincent to have a look
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  yarn.lock
Due: none

more testing cleanup
  packages/ethereum-contracts/contracts/upgradability/SuperfluidUpgradeableBeacon.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  yarn.lock
Due: ethereum-contracts

Get it running but with errors
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
Due: none

sepolia additions (#1400)
  packages/sdk-core/src/constants.ts
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  yarn.lock
Due: sdk-core

feat: updated super token and pool
  packages/starknet-contracts/src/interfaces/ISuperfluidPool.cairo
  packages/starknet-contracts/src/interfaces/ISuperfluidToken.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

Update package.json
  packages/subgraph/package.json
Due: none

we'll do it LIVE!
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Refactor auto-wrap tests to use FoundrySuperfluidTester
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
Due: none

Update package.json (#1401)
  packages/subgraph/package.json
Due: none

Update ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

formatting
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
Due: ethereum-contracts

One last test failing
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

wip cleanups + test removals
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Thanks for your wisdom Mr. Vincet
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

address some review comments
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperfluidPool.prop.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperfluidPool.sol
Due: ethereum-contracts

minor cleanups
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

sdk-core-0.6.5 fix
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

sdk-core-0.6.5 fix (#1404)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

fix tests
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

Refactor auto-wrap and scheduler tests to use FoundrySuperfluidTester (#1403)
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

add assertions instead
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

Update ci.canary.yml
  .github/workflows/ci.canary.yml
Due: none

review comments cont.
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/mocks/IStorageLayoutBase.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidPoolUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/upgradability/BeaconProxiable.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperfluidPool.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Make known reverts impossible + tokenURI update (#1402)
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/mocks/SuperfluidPoolUpgradabilityMock.sol
Due: none

feat: synced with Draft 1
  packages/starknet-contracts/src/examples/aqueduct/library.cairo
  packages/starknet-contracts/src/interfaces/ISuperfluidToken.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_aqueduct.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

CI_GITHUB_TOKEN => GITHUB_TOKEN
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.placeholder-for-testing.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

fixed review comments
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountAccessSetting/accountAccessSetting.ts
  packages/sdk-core/src/subgraph/entities/accountAccessSetting/accountAccessSettings.graphql
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

fixed lint issue
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
Due: none

added flowOperator as filter option
  packages/sdk-core/src/subgraph/entities/accountAccessSetting/accountAccessSetting.ts
Due: sdk-core

change entity name
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.graphql
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.ts
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

fix getRelevantAddressesFromResultCore
  packages/sdk-core/src/subgraph/entities/flowOperator/flowOperators.ts
Due: sdk-core

undo sdk-redux version
  packages/sdk-redux/package.json
Due: none

should fix build + allow deploy
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

attempt
  .github/workflows/handler.changelog-reminder.yml
Due: none
