Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

use 6 cores by default
  packages/hot-fuzz/hot-fuzz
Due: none

consistenly name userData such
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

updated metadata README, simple-dapps
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/optimism-l1-stream-closer.html
  packages/ethereum-contracts/utils/stream-closer.html
  packages/metadata/README.md
Due: ethereum-contracts

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] optional hooks for self calls (#1568)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/optimism-l1-stream-closer.html
  packages/ethereum-contracts/utils/stream-closer.html
  packages/metadata/README.md
Due: ethereum-contracts

some tweaks
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

gitignore testing-benchmark.json
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/testing-benchmark.json
Due: ethereum-contracts

add gda addresses
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/eth-goerli.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/polygon-mumbai.json
  packages/subgraph/subgraph.template.yaml
Due: none

fix tests
  packages/subgraph/package.json
  packages/subgraph/tests/constants.ts
Due: none

fix deployment
  packages/subgraph/config/mock.json
Due: none

run-forge
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

[ETHEREUM-CONTRACTS|SDK-CORE] 1544 new flow operator updates (#1559)
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: ethereum-contracts, sdk-core

update flake
  flake.lock
Due: none

update hardhat
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  yarn.lock
Due: none

contracts notes
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

add a bit more ingredients to devShells.ci-hot-fuzz
  flake.nix
Due: none

update non-critical dependencies cloc dotenv husky lerna node-jq nodemon
  package.json
  yarn.lock
Due: none

updating ethers
  package.json
  yarn.lock
Due: none

adding @nomicfoundation/hardhat-ethers
  package.json
  yarn.lock
Due: none

revert to ethers 5
  package.json
  yarn.lock
Due: none

tests cleanup
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superToken/hol/supertoken.hol.test.ts
Due: none

revert some brave changes
  package.json
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

update typechain stack
  package.json
  yarn.lock
Due: none

update truffle
  package.json
  yarn.lock
Due: none

update syncpack
  package.json
  yarn.lock
Due: none

update eslint prettier related stuff
  package.json
  yarn.lock
Due: none

fix linting errors
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/cacheTags/invalidateSpecificCacheTagsForEvents.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/eventEndpoints.ts
Due: ethereum-contracts, sdk-core

update web3
  package.json
  yarn.lock
Due: none

update something
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/ci.feature.yml
  package.json
Due: none

some minor version updates
  packages/sdk-core/package.json
  yarn.lock
Due: sdk-core

some silly fixes
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/ci.feature.yml
Due: none

.github/workflows/call.test-local-subgraph.yml .github/workflows/ci.feature.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/ci.feature.yml
  packages/sdk-core/package.json
  yarn.lock
Due: sdk-core

roll back graphql-request
  packages/sdk-core/package.json
  yarn.lock
Due: sdk-core

fixes
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/ci.feature.yml
Due: none

update ethereum-contracts deps
  package.json
  packages/automation-contracts/autowrap/.solhint.json
  packages/automation-contracts/scheduler/.solhint.json
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/.solhint.json
  packages/hot-fuzz/package.json
  yarn.lock
Due: ethereum-contracts

some fixes
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
  packages/solidity-semantic-money/.solhint.json
  packages/solidity-semantic-money/package.json
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidPool.sol
  yarn.lock
Due: ethereum-contracts, sdk-core

better now
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

fixes
  packages/automation-contracts/auto-unwrap-helpers/LICENSE
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/hot-fuzz
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

some workflow tuning
  .github/workflows/ci.feature.yml
Due: none

try node18 for now
  flake.nix
Due: none
