Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

update solhint
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

feat: added test for flow
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

SuperTokenPool contract copied over
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
Due: ethereum-contracts

ethereum-contracts release (#1314)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

GDA initial WIP
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreement.sol
Due: ethereum-contracts

remove hemingway bridge comment
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreement.sol
Due: ethereum-contracts

add certora to the nix flake!
  flake.lock
  flake.nix
Due: none

certora integration
  .gitignore
  flake.lock
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

typo
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

don't use lib in foundry test
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
Due: ethereum-contracts

minor code block adjustment
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

ToySuperToken.spec WIP
  packages/solidity-semantic-money/.gitignore
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

rename + tests
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreement.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
Due: ethereum-contracts

GDAv1 progress
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
Due: ethereum-contracts

fix a bug in pool claimAll logic, with test_pool_multiple_claims test case added
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

feat: added test for distribute
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

feat: updated supertoken
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

feat: updates ISuperToken
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
Due: none

feat: updated SuperTokenImpl
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
Due: none

deploy script adaptations
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

add prepare manifest
  packages/subgraph/tasks/deploy-to-hosted-service.sh
Due: none

1 not i
  packages/subgraph/tasks/deploy-to-hosted-service.sh
Due: none

2 actually for network!
  packages/subgraph/tasks/deploy-to-hosted-service.sh
Due: none

adding more view functions to ISuperTokenPool
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

fix
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

add dev/test targets to Makefile
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

fix a bug in distributeFlow
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

feat: updated ISuperTokenPool
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

feat: updated Pool library and PoolImpl
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
Due: none

feat: updates SuperToken library
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

fine tuning and more tests for ToySuperToken
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

Example: Aqueduct
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
Due: none

certora spec improvements
  packages/solidity-semantic-money/certora/ToySuperToken.spec
Due: none

minor typo fix.
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
Due: none

remove unused block
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
Due: none

[IMPORTANT] Fix a bug in pool claimAll logic
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

certora spec improvements
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
