Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

pass deployment env as variable
  .github/workflows/call.deploy-all-subgraphs.yml
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/deploy.sh
Due: none

new pre-commit hook
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .husky/pre-commit
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
  sdk-redux-examples/sdk-redux-react-typecript/package.json
Due: ethereum-contracts, sdk-core

[WORKFLOW] Fix the counting of files
  .github/workflows/handler.publish-pr-packages.yml
Due: none

workflow: added ci-minimum dev shell
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

workflow: use ci-minimum dev shell
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

move list of networks per vendor to a file in the package
  .github/workflows/call.deploy-all-subgraphs.yml
  packages/subgraph/tasks/vendorNetworkMap.json
Due: none

update all dependencies, targeting patch+minor
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

root package.json: latest major syncpack
  package.json
  yarn.lock
Due: none

syncpack format all package.json
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

added .syncpackrc
  .syncpackrc
Due: none

syncpack lint: graphql-request HighestSemverMismatch
  packages/sdk-redux/package.json
Due: none

added lint:syncpack to ci and pre-commit
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .husky/pre-commit
  .syncpackrc
Due: none

Revert "syncpack format all package.json"
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

to .syncpackrc.yml
  .syncpackrc
  .syncpackrc.yml
Due: none

syncpack: format package.json files
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

syncpack: format package.json files
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/automation-contracts/autowrap/package.json
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

add debug output to analyze failing tests
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

workflow: fix stack-trace bug
  .syncpackrc.yml
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

dependency: update solhint
  package.json
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/tokens/SETH.sol
  packages/hot-fuzz/.solhint.json
  packages/solidity-semantic-money/.solhint.json
  yarn.lock
Due: ethereum-contracts

dependency: update husky to 9.1.5
  package.json
  yarn.lock
Due: none

test single deploy job
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

dependency: update a few small fishes
  package.json
  packages/ethereum-contracts/.eslintrc.ts.json
  packages/js-sdk/package.json
  packages/sdk-core/.eslintrc.json
  yarn.lock
Due: ethereum-contracts, sdk-core

downgrade @nomicfoundation/hardhat-chai-matchers
  package.json
  yarn.lock
Due: none

dependency: update lerna
  package.json
  yarn.lock
Due: none

single deploy job, removed airstack vendor
  .github/workflows/call.deploy-all-subgraphs.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/vendorNetworkMap.json
Due: none

fixed typo
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

dependency: hardhat 9
  package.json
  yarn.lock
Due: none

dependency: update to webpack-cli 5
  packages/js-sdk/package.json
  yarn.lock
Due: none

clarify
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

dependency: update nyc
  package.json
  yarn.lock
Due: none

dependency: update @graphql-codegen/near-operation-file-preset
  packages/sdk-core/package.json
  yarn.lock
Due: sdk-core

workflow: try node20 in call.test-local-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
Due: none

flake: adding nodejs_22
  flake.nix
Due: none

fix subgraph workflows
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/docker-compose.yml
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

fix subgraph helpers.ts
  packages/subgraph/test/helpers/helpers.ts
Due: none

fix subgraph workflow docker-compose
  packages/subgraph/docker-compose.yml
Due: none

[WORKFLOW] Subgraph deploy matrix (#2003)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/subgraph/tasks/deploy.sh
  packages/subgraph/tasks/vendorNetworkMap.json
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
