Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

[HOT-FUZZ] remove truffle support
  packages/hot-fuzz/README.md
  packages/hot-fuzz/truffle-config.js
Due: none

[NIX] add yq to the flake
  flake.nix
Due: none

[HOT-FUZZ] refactoring of usability
  .gitignore
  packages/hot-fuzz/.gitignore
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/scripts/digest-corpus
Due: none

[HOT-FUZZ] remove echidna.yaml
  packages/hot-fuzz/echidna.yaml
Due: none

[HOT-FUZZ] ECHIDNA_TEST_LIMIT to 10000 during CI
  .github/workflows/call.test-hot-fuzz.yml
Due: none

[HOT-FUZZ] live fixes
  packages/hot-fuzz/hot-fuzz
Due: none

[HOT-FUZZ] fix
  packages/hot-fuzz/hot-fuzz
Due: none

HOT-FUZZ fixes (#1827)
  .github/workflows/call.test-hot-fuzz.yml
  .gitignore
  flake.nix
  packages/hot-fuzz/.gitignore
  packages/hot-fuzz/README.md
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/scripts/digest-corpus
  packages/hot-fuzz/truffle-config.js
Due: none

trusted macro to use solc 0.8.23
  packages/ethereum-contracts/contracts/utils/TrustedMacrosVanilla.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

proposed changes for the macro forwarder
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

added deploy script for MacroForwarder
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] proposed changes for the macro forwarder (#1828)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

bring back the buildBatchOperations wrapper
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

add msgSender to buildBatchOperations() and a test case using it
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

add IUserDefinedMacro to bundled abis
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
Due: ethereum-contracts

added some diagrams
  packages/ethereum-contracts/docs/deployment-view.drawio
  packages/ethereum-contracts/docs/diagrams.drawio
  packages/ethereum-contracts/docs/user-defined-macros-architecture.png
Due: ethereum-contracts

..
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/sdk-core/package.json
Due: sdk-core

[MONOREPO] using caret range for workspace package dependencies
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

.
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
Due: none

[sdk-core] use different semver for metadata (#1823)
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

update to CODEOWNERS
  CODEOWNERS
Due: none

Update networks.json to include dune network name
  packages/metadata/networks.json
Due: none

remove "dunename" for unavailable networks
  packages/metadata/networks.json
Due: none

MacroForwarder Vanilla Version (#1786)
  CODEOWNERS
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/docs/deployment-view.drawio
  packages/ethereum-contracts/docs/diagrams.drawio
  packages/ethereum-contracts/docs/user-defined-macros-architecture.png
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

Bump version of package.json
  packages/metadata/package.json
Due: none

Add "duneName" field to network.json (#1829)
  packages/metadata/networks.json
  packages/metadata/package.json
Due: none

[metadata] build
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
Due: none

Add "duneName" field to network.json (#1829) (#1831)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
Due: none

small metadata version fix
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
Due: none

small metadata version fix (#1832)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
Due: none

Update README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Update README.md (#1835)
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Update README.md
  README.md
Due: none

SuperAppBaseFlow renamed to CFASuperAppBase and made compatible with factory and proxy pattern
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/CFASuperAppBase.sol
  packages/ethereum-contracts/contracts/mocks/CFASuperAppBaseTester.sol
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

added comment
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
Due: ethereum-contracts

added clarification about what 'breaking' means in this context
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

fixed changelog text
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] CFASuperAppBase renamed, made compatible with factory and proxy patterns (#1838)
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/CFASuperAppBase.sol
  packages/ethereum-contracts/contracts/mocks/CFASuperAppBaseTester.sol
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/ops-scripts/gov-authorize-app-deployer.js
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

better plumbing
  packages/ethereum-contracts/contracts/apps/CFASuperAppBase.sol
  packages/ethereum-contracts/contracts/mocks/CFASuperAppBaseTester.sol
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.sol
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
