Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

fix tests
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
Due: none

address review comments WIP
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
Due: ethereum-contracts

also change in GDA, don't fail if minting a pre-existing FlowNFT (in case a previously existing one wasn't burned on flow delete)
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

disabled test which doesn't allow minting of existing NFTs
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

test getAmountReceived lightly
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

readme
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] GDA View Function Fixes (#1885)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperfluidPool.prop.sol
Due: ethereum-contracts

allow creation and execution of the vesting schedule in the current block
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

[subgraph] Fix Correctness of GDA Entities (#1890)
  packages/subgraph/config/hardhat.json
  packages/subgraph/config/polygon-mainnet.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

update CHANGELOG & bump version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] Fix nfthooks outofgas (#1880)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add getTotalAmountReceivedByPoolMember to sdk-core
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

add getTotalAmountReceivedByPoolMember to sdk-core (#1902)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

add createVestingSchedule function which works with totalAmount and totalDuration
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

add overloads without ctx
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

added postCheck function and recommendation for getParams to IUserDefinedMacro
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

changed deployer
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
Due: ethereum-contracts

add more overloads with fewer parameters
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
Due: none

reorganize the functions
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
Due: none

add create and execute schedule mvp
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
Due: none

fix postCheck invocation & provide context
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

do resolver rpc call on token initialization and remove handleTokenRPCCalls in subsequent token calls
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

fix governance config always null
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

add createdAtTimestamp/BlockNumber for ATS entity
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix broken tests
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

add createdAtTimestamp/BlockNumber for ATS entity (#1909)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix broken tests
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

[SUBGRAPH] fix governance config always null (#1908)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

replaces access-token with deploy-key flag
  packages/subgraph/tasks/deploy.sh
Due: none

[SUBGRAPH] fix resolver entry (#1843)
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/bugs/2024-02-29-aleph-total-supply.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

TODO comment can be removed
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

replaces access-token with deploy-key flag (#1910)
  packages/subgraph/tasks/deploy.sh
Due: none

add a clean script to sdk-core
  packages/sdk-core/package.json
Due: sdk-core

fix gas config fix for other ops scripts
  packages/js-sdk/src/Framework.js
Due: none

deploy script: be more precise
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

token upgrade script: properly handle admin override, Safe gov owner, new logic override
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

remove scroll-mainnet hosted endpoint & bump metadata version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[OPS-SCRIPTS] smol fixes done for 1.9.1 rollout (#1911)
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/js-sdk/src/Framework.js
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

update entities based on new subgraph
  packages/sdk-core/src/subgraph/entities/pool/pool.ts
  packages/sdk-core/src/subgraph/entities/pool/pools.graphql
  packages/sdk-core/src/subgraph/entities/poolMember/poolMember.ts
  packages/sdk-core/src/subgraph/entities/poolMember/poolMembers.graphql
Due: sdk-core

remove try-catch from early end
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
