Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

Test Framework Created Operation + Remove isNativeAssetSuperToken from query (#989)
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

Release attempt 2 - SDK-Core v0.5.0 (#990)
  .github/workflows/handler.publish-release-packages.yml
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

WIP
  packages/spec-haskell/packages/core/src/Lens/Internal.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/ProportionalDistributionIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Lens/Internal.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
Due: none

simplified current app credit rule
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
Due: ethereum-contracts

refactoring success
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/InstantTransfer.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/Minter.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex/Data.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/Data.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/InstantTransfer.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/Minter.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none

refactoring success
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none

minor cleanup
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
Due: none

add isNativeAssetSuperToken back
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

make PDIDX work again
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/Data.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/InstantTransfer.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/Minter.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

sdk-core spelling clean up
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
Due: sdk-core

remove appCreditUsed
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

fix js test code
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

IDA works now
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/InstantTransfer.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex/Minter.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

readme update, use empty .sol file import instead of hardhat-dependency-compiler
  examples/stream-in-distribute-out/README.md
  examples/stream-in-distribute-out/contracts/mocks/IDAImporting.sol
  examples/stream-in-distribute-out/hardhat.config.js
  examples/stream-in-distribute-out/package.json
  examples/stream-in-distribute-out/resources/distribute.png
  examples/stream-in-distribute-out/resources/executeAction.png
  examples/stream-in-distribute-out/resources/ida-shares-from-stream.png
  examples/stream-in-distribute-out/resources/sido-viz.png
  examples/stream-in-distribute-out/resources/updateFlow.png
  examples/stream-in-distribute-out/yarn.lock
Due: none

naming fixes
  examples/stream-in-distribute-out/README.md
  examples/stream-in-distribute-out/contracts/mocks/Noop.sol
Due: none

fix distributeProportionally
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none

reorg proportional distribution indexes code
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex/Data.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

reorg folder again
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none

batch of naming fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/InstantTransfer.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/Minter.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
Due: none

little types
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

minor fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

agreement documented more
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
Due: none

fix comments
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealTimeBalance.hs
Due: none

SDK-Core `isNativeAssetSuperToken` support (#992)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
Due: sdk-core

some cleanup, and introduced AgreementMonetaryUnitDataInOperation
  packages/spec-haskell/Makefile
  packages/spec-haskell/cabal.project.freeze
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/superfluid-protocol-spec-coverage.cabal
Due: none

rename to Money.Theory.Distribution
  packages/spec-haskell/packages/core/src/Money/Systems/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Theory/Distribution.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
Due: none

MintedValue & InstantValue
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
Due: none

call it subscriber_contracts as it should be
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

hlint error free
  packages/spec-haskell/.hlint.yaml
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/Expo.hs
Due: none

minor syntax enhancement
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
Due: none

callAppAction support implemented
  packages/sdk-core/.gitignore
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

cleanup refactor
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
Due: sdk-core

Revert "cleanup refactor"
  packages/sdk-core/src/BatchCall.ts
Due: sdk-core

minor typo
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
Due: none

remove the silly functor instances
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
Due: none

simplify any tapped value existential type
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

comment fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
Due: none

CFA and IDA functionality with tests
  packages/ethereum-contracts/contracts/agreements/AgreementForwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/AgreementForwarder.test.js
Due: ethereum-contracts

_ prefix internal methods as per convention
  packages/ethereum-contracts/contracts/agreements/AgreementForwarder.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
