Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

pool nft integration
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidPoolUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

gda wip
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Update SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
Due: ethereum-contracts

validate + make test more robust
  packages/ethereum-contracts/ops-scripts/validate-deployment.ts
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Deployer v2 (#1447)
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

use custom error
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

use sf.resolver
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

gda tests cleanup
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

use custom error (#1454)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

foundrysuperfluidtester cleanup
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
Due: ethereum-contracts

add Satsuma IPFS gateway
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

update docs comment
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

add Satsuma IPFS gateway (#1456)
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

added simple Dapp for closing optimism streams via L1 portal contract
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/optimism-l1-stream-closer.html
Due: ethereum-contracts

fix verification
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

flow nft on distribute flow
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

testing cleanup
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Update FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

Update SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

warp and assert helper
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
Due: ethereum-contracts

Minor fix in SuperTokenV1Library.sol (#1460)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

flow operator data assertion
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

remove duplicate assertion
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
Due: ethereum-contracts

Fixing issue in deleteWrapScheduleByIndex function (#1446)
  packages/automation-contracts/autowrap/contracts/Manager.sol
Due: none

feat: update protostar version to 0.13.0
  packages/starknet-contracts/protostar.toml
Due: none

fix transfer test too
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix ida getAgreementClass hash
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

GDAv1 in SuperTokenV1Library
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

Update SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
Due: ethereum-contracts

ethereum-contracts release
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

remove hardcoded bytes
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/libs/ERC777Helper.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

full coverage
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Fix SuperTokenV1Library hash (#1462)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/libs/ERC777Helper.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
Due: ethereum-contracts

ethereum-contracts release (#1463)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

Adding SuperfluidLoaderLib to provide host address for all networks
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

Adding constants in SuperfluidLoaderLib to improve readability
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

update ghc versions
  flake.lock
  flake.nix
Due: none

add superApp to test
  packages/ethereum-contracts/test/foundry/apps/FlowSplitter.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTest.t.sol
Due: ethereum-contracts
