Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

[ETHEREUM-CONTRACTS/JS-SDK] Contracts scripts typings + JS-SDK cleanup (#1144)
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-test-framework.js
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/index.js
  packages/ethereum-contracts/tsconfig.json
  packages/ethereum-contracts/tsconfig.scripts.json
  packages/hot-fuzz/package.json
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.d.ts
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/js-sdk/src/User.d.ts
  packages/js-sdk/src/batchCall.d.ts
  packages/js-sdk/src/loadContracts.d.ts
  packages/js-sdk/test/Framework.subgraph.test.js
  packages/js-sdk/test/InstantDistributionAgreementV1Helper.test.js
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core

Map deposit from Subgraph to Stream (#1145)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/stream/stream.ts
  packages/sdk-core/src/subgraph/entities/stream/streams.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

Use new cloudfront distribution ID
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
Due: none

Use single dev-version instead of many specific dev-versions for ref docs
  .github/workflows/ci.canary.yml
Due: none

Update sdk-redux dependencies and bump version
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  yarn.lock
Due: none

errata and gramatic fixes after reviews
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

fix double quotes
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

non-deterministic
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
Due: none

Yellowpaper v1.0: errata and grammatic fixes after reviews (#1148)
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

[SDK-CORE/SDK-REDUX] Fix reference docs Cloudfront bucket ID & use single "@dev" for latest dev-build (#1146)
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
Due: none

Update sdk-redux dependencies and bump version (#1147)
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  yarn.lock
Due: none

added mainnet addrs
  packages/subgraph/config/eth-mainnet.json
Due: none

added to configs
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/js-sdk/src/getConfig.js
Due: ethereum-contracts, js-sdk

updated metadata
  yarn.lock
Due: none

changed date
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

[SDK-CORE] Mainnet Support | TODO: Reinstall @superfluid-finance/metadata (#1139)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

add mainnet to relevant workflow files (#1141)
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

[SUBGRAPH] Mainnet Support (#1140)
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/config/eth-mainnet.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/xdai.json
  packages/subgraph/networks.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/deploy-all-networks.sh
Due: none

TOGAv3: use transfer and eliminate custodian - signed
  packages/ethereum-contracts/contracts/utils/TOGA.sol
  packages/ethereum-contracts/contracts/utils/TokenCustodian.sol
  packages/ethereum-contracts/scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

TOGAv3: use transfer and eliminate custodian - signed (#1150)
  packages/ethereum-contracts/contracts/utils/TOGA.sol
  packages/ethereum-contracts/contracts/utils/TokenCustodian.sol
  packages/ethereum-contracts/scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

minor cleanups
  packages/ethereum-contracts/CHANGELOG.md
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts

remove .ts script file which broke the build
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/tsconfig.typechain.json
  yarn.lock
Due: ethereum-contracts

undo yarn.lock
  yarn.lock
Due: none

fix tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

Allow RTK-query 1.9
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  yarn.lock
Due: none

Update .gitignore
  packages/subgraph/.gitignore
Due: none

governanceAddress fix
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

[SUBGRAPH] governanceAddress fix (#1159)
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

Add
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Due: none

Add additional exports
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/index.ts
Due: none

[SDK-redux] Update RTK-Query and some small changes (#1160)
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
  packages/sdk-redux/src/index.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
  yarn.lock
Due: none

WIP
  packages/subgraph/tests/assertionHelper.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/cfav1.test.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
  packages/subgraph/tests/superToken/superToken.test.ts
Due: none

trivial IDA entity tests added
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/tests/idav1/idav1.helper.ts
  packages/subgraph/tests/idav1/idav1.test.ts
Due: none

Don't skip lib check for SDK-redux and add more devDependencies
  packages/sdk-redux/package.json
  packages/sdk-redux/tsconfig.json
  yarn.lock
Due: none

Don't skip lib check for SDK-redux and add more devDependencies (#1161)
  packages/sdk-redux/package.json
  packages/sdk-redux/tsconfig.json
  yarn.lock
Due: none

Don't hoist React & Redux packages because of weird Browserify issue in SDK-core
  package.json
Due: none

delete definitions + add src-internal
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/spec-haskell/packages/core/src-internal~HEAD
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
