Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

must build sdk-core
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

Fixes
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

build sdk-core before deploy contracts
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

do not redeploy
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

update metadata for satsuma endpoint
  yarn.lock
Due: none

bump eth-contracts + changelog
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

missed the other reusable workflow
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

chainId unddefined?
  packages/subgraph/test/helpers/helpers.ts
Due: none

sender is not needed here
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

initialize list
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS/SDK-CORE] CFAv1 Forwarder Integration (#1118)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
  packages/sdk-core/test/1.1_supertoken_cfa.test.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/1.3_supertoken_ida.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  packages/subgraph/config/ganache.json
  packages/subgraph/package.json
  packages/subgraph/scripts/runDeployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test-subgraph.template.yaml
  packages/subgraph/test/helpers/helpers.ts
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS/SDK-CORE] Ethereum-Contracts 1.4.2 / SDK-Core 0.5.7 (#1119)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

Delete CFAv1Forwarder.test.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] _isPatricianPeriod Patch (#1080)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/nodemon.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] backport 1.4.1 fixes (#1084)
  README.md
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
Due: ethereum-contracts, sdk-core

further refactoring cleanup (#1081)
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/Agreement.types.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

Fix links to the examples repo (#1100)
  CONTRIBUTING.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] CFA Hooks (#1099)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/scripts/deployment.test.js
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] CFAv1Forwarder Fixes (#1094)
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] SuperfluidFrameworkDeployer Additions (#1104)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/.prettierrc.js
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/tsconfig.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/contracts.json
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/test/_setupTestEnvironment.ts
  packages/subgraph/config/ganache.json
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/helpers/testers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts, sdk-core

[JS-SDK] Half undo deprecation (#1098)
  packages/js-sdk/src/getConfig.js
  packages/js-sdk/tasks/build-abi-js.sh
  packages/sdk-core/test/1_supertoken.test.ts
  packages/subgraph/README.md
  yarn.lock
Due: js-sdk, sdk-core

deprecated test file
  packages/sdk-core/test/1_supertoken.test.ts
Due: sdk-core

remove hardhat deployer stuff
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-release-packages.yml
  LICENSE
  README.md
  package.json
  packages/hardhat-deployer/.eslintignore
  packages/hardhat-deployer/.eslintrc.json
  packages/hardhat-deployer/.gitignore
  packages/hardhat-deployer/.mocharc.json
  packages/hardhat-deployer/.nycrc.json
  packages/hardhat-deployer/.prettierrc
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/src/ERC1820Constants.ts
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/hardhat-deployer/src/index.ts
  packages/hardhat-deployer/src/type-extensions.ts
  packages/hardhat-deployer/tasks/testenv-ctl.sh
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/helpers.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
  packages/hardhat-deployer/tsconfig.json
  tasks/check-changeset.sh
Due: hardhat-deployer

remove deprecated test
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
Due: ethereum-contracts

modify deploy-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

sync up relevant diffs w/ dev
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/handler.publish-pr-packages.yml
  yarn.lock
Due: none

bad comment
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

ci workflow cleanup
  .github/workflows/handler.deploy-subgraph.yml
Due: none

Update handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

fix flakey foundry invariant test
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

add gasUsed property to schema.graphql
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

gasUsed failed attempt
  packages/subgraph/package.json
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  yarn.lock
Due: none

event.receipt casting
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

sdk-core load w/ metadata
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
