Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

fix lint:sol errors
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

fix echidna
  packages/hot-fuzz/echidna.yaml
Due: none

ship ERC1820Registry.json with dev-scripts
  packages/ethereum-contracts/dev-scripts/artifacts/ERC1820Registry.json
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-erc1820.js
Due: ethereum-contracts

fix changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

warnings cleanup
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/superfluid/PoolMemberNFT.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/handlers/Handler.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

break windows
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/solidity-semantic-money/.solhint.json
Due: ethereum-contracts

deploy scrupt calls prepare-manifest.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

test cd.packages-stable.create-release-drafts
  .github/workflows/cd.packages-stable.create-release-drafts.yml
Due: none

fixes
  flake.nix
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

Ship erc1820 artifact in dev-scripts for NPM package (#1583)
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/artifacts/ERC1820Registry.json
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-erc1820.js
Due: ethereum-contracts

Raise minimum solc development requirement for ethereum-contracts to … (#1582)
  flake.nix
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBase.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/CustomSuperTokenBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperAgreement.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ISETH.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IRelayRecipient.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IResolver.sol
  packages/ethereum-contracts/contracts/utils/Resolver.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidLoader.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

add devcontainer conf
  .devcontainer/devcontainer.json
  package.json
Due: none

update devcontainer
  .devcontainer/devcontainer.json
  package.json
Due: none

fix package.json
  .devcontainer/devcontainer.json
  package.json
Due: none

add fix-devcontainer.sh
  tasks/fix-devcontainer.sh
Due: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Add devcontainer.json to enable GitHub Codespaces (#1577)
  .devcontainer/devcontainer.json
  tasks/fix-devcontainer.sh
Due: none

add one more test
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

removes test on feature branch, runs on dispatch only
  .github/workflows/call.deploy-self-hosted-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-self-hosted.yml
Due: none

update solc.nix
  flake.lock
Due: none

update solc.nix (#1585)
  flake.lock
Due: none

fix code lint errors
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

fixed typo
  .github/workflows/handler.deploy-self-hosted.yml
Due: none

use supertokenv1library
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/GDAHotFuzz.yaml
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
  packages/hot-fuzz/package.json
Due: none

added autowrap contract addresses
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

complete API in ISuperfluid
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

update lerna again after nx@16.7.0
  package.json
  yarn.lock
Due: none

add pool and member NFTs, add CIF and COF to ISuperTokenFactory
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

fix semantic money
  packages/solidity-semantic-money/.solhint.json
  packages/solidity-semantic-money/package.json
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
  packages/solidity-semantic-money/test/ref-impl/CertoraHarness.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

changelog update
  packages/metadata/CHANGELOG.md
Due: none

clean up build warnings
  packages/ethereum-contracts/test/foundry/deployments/ForkSmoke.t.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

do not ignore success flag from low level call
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

bump versin to 1.1.11
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

disable deny_warnings for now
  packages/ethereum-contracts/foundry.toml
Due: ethereum-contracts

[METADATA] added autowrap contract addresses (#1587)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fix up build and lint
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts
