Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

EXPECT BREAKAGE IN FUZZ
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix build but echidna should break
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

undo breakage
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

fix the test
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
Due: ethereum-contracts

bump sdk-core version, fix sdk-core operation functions, fix subgraph mapping
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/src/index.ts
  packages/subgraph/package.json
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  yarn.lock
Due: sdk-core

fix unit tests
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
Due: none

fix again
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
Due: sdk-core

hot fuzz additions
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

[ETHEREUM-CONTRACTS] Fix canary build (#1742)
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
Due: ethereum-contracts

distributeFlow: fix order of args to be consistent
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
Due: ethereum-contracts

add fix back in
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

new resolver and loader, updated and bumped metadata, refs #1004
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

updated changelog
  packages/metadata/CHANGELOG.md
Due: none

gda version of loader
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

[ETHEREUM-CONTRACTS] new resolver and loader, updated and bumped metadata, refs #1004 (#1750)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fix build
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

new resolver and loader, refs #1004
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

remove getIsListed workaround assuming resolver exists
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

remove getIsListed workaround assuming resolver exists (#1751)
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

new resolver & loader address for mainnets
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

fix broken unit test
  packages/subgraph/src/utils.ts
Due: none

fix gda logic
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

bumped metadata version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] new resolver & loader address for mainnets (#1752)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

remove unimplemented function from yaml
  packages/subgraph/subgraph.template.yaml
Due: none

remove unimplemented function from yaml (#1753)
  packages/subgraph/subgraph.template.yaml
Due: none

map the name from subgraph to unknown entity
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

map the name from subgraph to unknown entity (#1754)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

trigger test
  packages/ethereum-contracts/contracts/agreements/AgreementBase.sol
Due: ethereum-contracts

fix mapping
  packages/subgraph/src/mappings/flowNFT.ts
Due: none

base goerli cliName added + bumped versions all around
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add total units
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

missing import
  packages/subgraph/src/mappings/gdav1.ts
Due: none

added VENDOR_NETWORKS variable
  packages/subgraph/tasks/deploy.sh
Due: none

decaled variable
  packages/subgraph/tasks/deploy.sh
Due: none

missing import pt 2
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

[WORKFLOW] Subgraph deloy all networks (#1760)
  packages/subgraph/tasks/deploy.sh
Due: none

fix mapping (#1758)
  packages/subgraph/src/mappings/flowNFT.ts
Due: none

added new supported subgraphs
  packages/subgraph/tasks/deploy.sh
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
