Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

Update README.md
  README.md
Due: none

add avalanche to networkNameToChainIdMap
  packages/sdk-core/src/constants.ts
Due: sdk-core

goerli => matic rename
  packages/js-sdk/test/Framework.subgraph.test.js
Due: js-sdk

new field added maybeCriticalAtTimestamp account token snapshot
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

canonical naming for avalanche-c
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/networks.json
Due: ethereum-contracts, js-sdk, sdk-core

Added maybeCriticalAtTimestamp account token snapshot
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
Due: sdk-core

Added maybeCriticalAtTimestamp account token snapshot
  packages/subgraph/schema.graphql
Due: none

Added maybeCriticalAtTimestamp account token snapshot
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

added Avalanche to supertoken deployer Dapp
  packages/ethereum-contracts/utils/supertoken-deployer.html
Due: ethereum-contracts

readme update
  packages/subgraph/README.md
Due: none

fix
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
Due: none

Hotfuzz improvements (#814)
  examples/flowlottery/solidity-contracts/contracts/LotterySuperApp.hott.sol
  examples/flowlottery/solidity-contracts/truffle-config.js
  packages/hot-fuzz/README.md
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/InstantDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperToken.hott.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
Due: none

avalanche-c
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-main.json
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
Due: none

update hot-fuzz version due to breaking change
  examples/flowlottery/solidity-contracts/package.json
  examples/flowlottery/solidity-contracts/yarn.lock
Due: none

added logs entitt
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
Due: none

updated stream-in-distribute-out base
  examples/stream-in-distribute-out/.gitignore
  examples/stream-in-distribute-out/contracts/StreamInDistributeOut.sol
  examples/stream-in-distribute-out/contracts/StreamSwapDistribute.sol
  examples/stream-in-distribute-out/contracts/base/StreamInDistributeOut.sol
  examples/stream-in-distribute-out/hardhat.config.js
  examples/stream-in-distribute-out/package.json
  examples/stream-in-distribute-out/test/StreamSwapDistribute.test.js
  examples/stream-in-distribute-out/yarn.lock
Due: none

use canonical naming from truffle-config.js
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

use truffle-config canonical names in constants for sdk-core
  packages/sdk-core/src/constants.ts
Due: sdk-core

fix empty pk case
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

matic => polygon-mainnet for sdk-core tests
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

avalanche-c (#823)
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-main.json
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
Due: none

new js-sdk/sdk-core versions bumped!
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, js-sdk, sdk-core

Avalanche Support Added (#819)
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/js-sdk/test/Framework.subgraph.test.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/README.md
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-networks.sh
Due: ethereum-contracts, js-sdk, sdk-core

Re-Write rewards-distribution-token using new sdk-Core
  examples/rewards-distribution-token-hardhat/.env.example
  examples/rewards-distribution-token-hardhat/.eslintignore
  examples/rewards-distribution-token-hardhat/.eslintrc.js
  examples/rewards-distribution-token-hardhat/.gitignore
  examples/rewards-distribution-token-hardhat/.npmignore
  examples/rewards-distribution-token-hardhat/.prettierignore
  examples/rewards-distribution-token-hardhat/.prettierrc
  examples/rewards-distribution-token-hardhat/.solhint.json
  examples/rewards-distribution-token-hardhat/.solhintignore
  examples/rewards-distribution-token-hardhat/README.md
  examples/rewards-distribution-token-hardhat/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token-hardhat/hardhat.config.ts
  examples/rewards-distribution-token-hardhat/package.json
  examples/rewards-distribution-token-hardhat/scripts/deploy.ts
  examples/rewards-distribution-token-hardhat/test/DividendRightsToken.test.ts
  examples/rewards-distribution-token-hardhat/test/abis/fDAIABI.js
  examples/rewards-distribution-token-hardhat/tsconfig.json
  examples/rewards-distribution-token-hardhat/ui/index.html
  examples/rewards-distribution-token-hardhat/yarn.lock
Due: none

added code for account balance log
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

sdk-core patch
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
Due: sdk-core

no only
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

fix build
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

expect events to be greater than 0
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

fix script
  packages/sdk-core/package.json
Due: sdk-core

sdk-core patch (#826)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
Due: sdk-core

Add commands to get specific Subgraph schemas
  .github/workflows/ci.canary.yml
  .github/workflows/handler.publish-release-packages.yml
  packages/sdk-core/package.json
Due: sdk-core

ida lib v1 and tcf truffle fix
  examples/rewards-distribution-token/contracts/DividendRightsToken.sol
  examples/rewards-distribution-token/test/DividendRightsToken.test.js
Due: none

update examples path in build workflow and fix drt deploy
  .github/workflows/handler.build-examples.yml
  examples/rewards-distribution-token/scripts/deploy.js
Due: none

rm archive projects from build github action examples build
  .github/workflows/handler.build-examples.yml
Due: none

fixed -- added test cases
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
Due: none
