Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

rename from TBA to ITA
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

cdL mudL
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
Due: none

liquidity -> value
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealtimeBalance_prop.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/System_unit.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

LQ -> MVAL
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

small fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

small fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

better Show instances and list contracts
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

simplify SimpleTokenStateT
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

moving on to hspec
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealtimeBalance_prop.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/System_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
Due: none

Adds a missing closing parenthesis to example test
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

isNativeAssetSuperToken added to Token entity
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/holQueries.ts
  packages/subgraph/test/subgraph.test.ts
  packages/subgraph/test/validation/hol/tokenValidator.ts
Due: none

add isNativeAssetSuperToken support for SDK-Core
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

isNativeAssetSuperToken added to Token entity (#968)
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/holQueries.ts
  packages/subgraph/test/subgraph.test.ts
  packages/subgraph/test/validation/hol/tokenValidator.ts
Due: none

Adds a missing closing parenthesis to example test (#967)
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

isNativeAsset property fix
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
Due: none

extra param
  packages/subgraph/src/mappingHelpers.ts
Due: none

init (castrate) gov logic contract
  packages/ethereum-contracts/scripts/deploy-aux-contracts.js
Due: ethereum-contracts

build fix
  packages/subgraph/src/utils.ts
Due: none

Update utils.ts
  packages/subgraph/src/utils.ts
Due: none

fix
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

Prod deploytment script fix #971
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

allow gas limit override
  packages/ethereum-contracts/scripts/deploy-deterministic-loader.js
Due: ethereum-contracts

removed redundant env vars
  .github/workflows/handler.deploy-to-mainnets.yml
Due: none

RTB becomes a functor too
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Data/Type/TaggedTypeable.hs
  packages/spec-haskell/packages/simple/src/Lens/Internal.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealtimeBalance_prop.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Demos/DFA.hs
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
Due: none

Realtime -> RealTime
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

use fixed truffle verify plugin for proxy verification
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  yarn.lock
Due: ethereum-contracts

renamed gh action
  .github/workflows/handler.deploy-to-network.yml
Due: none

minor changes
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/scripts/deploy-deterministic-loader.js
  packages/ethereum-contracts/scripts/tmp-trigger-token-transfer.js
Due: ethereum-contracts

Simplify RTB to be only a monoid
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
Due: none

simplify applyAgreementOperation ω function
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
Due: none

small text fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
Due: none

run token tests only
  packages/subgraph/src/utils.ts
  packages/subgraph/test/subgraph.test.ts
Due: none

cleanup truffle run/exec issue
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
Due: ethereum-contracts

[SDK-core] Refactor SFError to follow more conventional Error object structure (#960)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/tsconfig.json
  packages/sdk-redux/tsconfig.json
Due: sdk-core

args order
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
Due: ethereum-contracts

Addresses several shortcomings in current worflows (mainly mainnet related) (#911)
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.placeholder-for-testing.yml
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.plantuml
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.svg
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/scripts/deploy-deterministic-loader.js
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/scripts/resolver-unlist-super-token.js
  packages/ethereum-contracts/scripts/tmp-trigger-token-transfer.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.js
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

Add back the serialized error to SFError's message
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SFError.ts
Due: sdk-core
