Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

don't import ethers from hardhat
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

use function pointers to simplify the test code
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

shorterning some function names
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  yarn.lock
Due: ethereum-contracts

fix deploy-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

inc/dec allowance fix
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
Due: ethereum-contracts

cfa increase flow rate allowance tests
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
Due: ethereum-contracts

cfav1 acl inc/dec allowance cleanup
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
Due: ethereum-contracts

inc/dec token allowance batch call tests
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

SDK-Core increase/decrease allowance
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

inc/dec flow rate allowance added to sdk-core
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
Due: sdk-core

update foundry.nix monthly release & use nixpkgs.follows
  flake.lock
  flake.nix
Due: none

Update prepare-manifest.sh
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

sdk-core/subgraph cleanup pt1
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-subgraph.yml
  package.json
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

test sdk core
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

feat: added Enumerable Set
  packages/starknet-contracts/.gitignore
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/utils/EnumerableSet.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

cleanup pt2
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
Due: none

simplify subgraph tests further
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

fix tests
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/ci.feature.yml
Due: none

fix broken build pt 0
  .github/workflows/call.test-local-subgraph.yml
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

address review comments
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: sdk-core

fix ci build attempt 2
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
Due: none

wip
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

robust!
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

cleanup!
  packages/subgraph/src/mappings/superfluidGovernance.ts
Due: none

leave fields null
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

nullable query
  packages/sdk-core/src/subgraph/entities/token/token.ts
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

test: updated the tests to show conservation of values
  packages/starknet-contracts/src/interfaces/IPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/EnumerableSet.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

address review comments
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

[WORKFLOW] SDK-Core/Subgraph CI Cleanup Fixes (#1303)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  package.json
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

mismatch
  .github/workflows/call.deploy-subgraph.yml
Due: none

address actionlint complaints
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.xkcd.yml
Due: none

lint workflow files
  .github/workflows/ci.lint-workflow-files.yml
Due: none

add missing head ref env
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.lint-workflow-files.yml
Due: none

bash cleanup pt 1
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.lint-workflow-files.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  .github/workflows/handler.xkcd.yml
Due: none

address ALL actionlint warnings
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
Due: none

update foundry.nix monthly release & use nixpkgs.follows (#1301)
  flake.lock
  flake.nix
Due: none

address review comments
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
