Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

Bump subgraph versions test + update yarn.lock (#1555)
  packages/subgraph/package.json
  yarn.lock
Due: none

add new update functions
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

add happy path tests
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
Due: ethereum-contracts

add function to SDK
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

delta permissions instead of set
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: ethereum-contracts, sdk-core

quick'n dirty PoC showing how we could get an optimized L2 BatchLiquidator by keeping track of flow receivers in the COFNFT
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

Issue 1487 - add total number of holders counter and total number of accounts into token statistic (#1553)
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

undo: make some internal functions virtual too
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

Make public and external methods virtual to facilitate creation of custom SuperToken logic (#1556)
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
Due: ethereum-contracts

explicitly set evm target to 'paris', refs #1533
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

updated changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

fix subgraph tests
  packages/subgraph/tests/gdav1/gdav1.helper.ts
Due: none

address review comments
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/testing-benchmark.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: ethereum-contracts, sdk-core

update flake.lock
  flake.lock
Due: none

update semantic money too
  packages/solidity-semantic-money/foundry.toml
Due: none

use registerAppWithKey (#1554)
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS|SEMANTIC-MONEY] set evm target to "paris" (#1562)
  flake.lock
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/solidity-semantic-money/foundry.toml
Due: ethereum-contracts

add tasks/list-all-linked-libraries.sh
  packages/ethereum-contracts/tasks/list-all-linked-libraries.sh
Due: ethereum-contracts

wip hotfuzz fix
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
Due: none

fixes
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
Due: none

allow to update to custom SuperToken logic
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

generalized method in host, overloaded one in gov
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

clean up tests
  packages/subgraph/package.json
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/gdav1.helper.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

better code
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

optional hooks
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

polish
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

fix tests and add test for custom logic case
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

yikes
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

use generic action wrapper for gov action in gov upgrade script
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
Due: ethereum-contracts

bump versions and update readme
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

metadata package fixes related to shebang
  .shellcheckrc
  packages/metadata/build.sh
  packages/metadata/package.json
  packages/metadata/tasks/compare-committed-against-build.sh
Due: none

tasks/npm-publish.sh shebang fix
  tasks/npm-publish.sh
Due: none

callback gaslimit test case explained
  packages/ethereum-contracts/contracts/libs/CallUtils.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/testenv-ctl.sh
Due: ethereum-contracts

metadata package fixes related to shebang (#1571)
  .shellcheckrc
  packages/metadata/build.sh
  packages/metadata/package.json
  packages/metadata/tasks/compare-committed-against-build.sh
Due: none

remove SF_GOV_ARRAYS_NOT_SAME_LENGTH with assert instead, so that we dont need to test coverage it
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
Due: ethereum-contracts

minor typo fix
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] allow to update to custom SuperToken logic (#1565)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/libs/CallUtils.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/testenv-ctl.sh
  tasks/npm-publish.sh
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
