Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

make pdindex monoid, remove excessive Default instances
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

add shiftFlow2
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

prepare manifest explicit
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

bump to node 18 (#1277)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

[SUBGRAPH/SDK-CORE] | Issues #1273 - ATS properties, 1291 - configs on Token, 1292 - userData on Stream (#1296)
  .github/workflows/call.deploy-subgraph.yml
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/entities/stream/stream.ts
  packages/sdk-core/src/subgraph/entities/stream/streams.graphql
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-core/test/3_batch_call.test.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tasks/prepare-manifest.sh
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.helper.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: sdk-core

fix fork test
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

clean up interfaces
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

add nft's to SDK-Core
  packages/sdk-core/src/ConstantInflowNFT.ts
  packages/sdk-core/src/ConstantOutflowNFT.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

test: added tests for supertoken
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/BitMap.cairo
  packages/starknet-contracts/src/utils/EnumerableSet.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

subgraph nft's WIP
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/subgraph.template.yaml
Due: none

unbrick tests
  packages/subgraph/src/mappings/constantFlowNFT.ts
Due: none

fix fork test (#1311)
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

Vincent comments
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

remove from js tests
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

minor adjustment
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
Due: none

shiftFlow2 for solidity semantic library
  packages/solidity-semantic-money/src/ISuperToken.sol
  packages/solidity-semantic-money/src/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

implement shiftFlow2a shiftFlow2b primitives
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

fine tunings
  packages/solidity-semantic-money/src/ISuperToken.sol
  packages/solidity-semantic-money/src/ToySuperToken.sol
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
Due: none

fix build and clean up interfaces
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/interfaces.ts
  packages/subgraph/subgraph.template.yaml
Due: sdk-core

added BatchLiquidatorV2 (#1306)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

pushing some comments
  packages/solidity-semantic-money/src/ISuperToken.sol
  packages/solidity-semantic-money/src/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

feat: updated semantic money and its tests
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

undo remove safemath
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
Due: ethereum-contracts

address review comments
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

create ref-impl folder
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

bump versions
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

feat: updated token and pool
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/IPool.cairo
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/PoolImpl.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
Due: none

[ETHEREUM-CONTRACTS/SDK-CORE] Increase/DecreaseAllowance for ACL Flowrate (#1298)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.0_supertoken.test.ts
  packages/sdk-core/test/1.2_supertoken_cfa_operator.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: ethereum-contracts, sdk-core

ethereum-contracts release
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

sdk-core release
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

Add missing index mapping to index events
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

Add missing index mapping to index events (#1316)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

added realtime balance functions
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

interface files
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenPool.sol
Due: ethereum-contracts

Add SemanticMoney lib over
  packages/ethereum-contracts/contracts/libs/SemanticMoney.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
