Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

add .envrc to gitignore
  .gitignore
Due: none

add .envrc to gitignore (#1641)
  .gitignore
Due: none

fix test cases
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/echidna/EchidnaTestCases.t.sol
Due: ethereum-contracts

Update test-slither.sh
  packages/ethereum-contracts/tasks/test-slither.sh
Due: ethereum-contracts

Update test-slither.sh (#1644)
  packages/ethereum-contracts/tasks/test-slither.sh
Due: ethereum-contracts

echidna.yaml location fix
  packages/hot-fuzz/hot-fuzz
Due: none

use 0.8.10 to unblock
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBase.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/CustomSuperTokenBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperAgreement.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ISETH.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IRelayRecipient.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IResolver.sol
  packages/ethereum-contracts/contracts/utils/Resolver.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidLoader.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

echidna.yaml location fix (#1646)
  packages/hot-fuzz/hot-fuzz
Due: none

fix getFlow() docs
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
Due: ethereum-contracts

getting it started with Jakub
  flake.nix
Due: none

fix getFlow() docs (#1651)
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
Due: ethereum-contracts

WIP
  .gitignore
  packages/agda-semantic-money/agda-semantic-money.agda-lib
  packages/agda-semantic-money/src/SemanticMoney.agda
Due: none

.
  packages/agda-semantic-money/src/SemanticMoney.agda
Due: none

more sensible gas settings for eth-mainnet and base-mainnet than default
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

better Safe support: add autodetection, enable as Resolver admin, add support to all gov scripts
  packages/ethereum-contracts/contracts/interfaces/utils/ISafe.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/ops-scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/ops-scripts/gov-set-reward-address.js
  packages/ethereum-contracts/ops-scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/ops-scripts/resolver-set-key-value.js
  packages/ethereum-contracts/ops-scripts/resolver-unlist-super-token.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

address critical dependency vulnerability
  package.json
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/hot-fuzz/.solhint.json
  packages/js-sdk/package.json
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/solidity-semantic-money/.solhint.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

Update ISafe.sol to be >=0.8.11
  packages/ethereum-contracts/contracts/interfaces/utils/ISafe.sol
Due: ethereum-contracts

address critical dependency vulnerability (#1658)
  package.json
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/hot-fuzz/.solhint.json
  packages/js-sdk/package.json
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/solidity-semantic-money/.solhint.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] ops-scripts improvements (#1656)
  packages/ethereum-contracts/contracts/interfaces/utils/ISafe.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/ops-scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/ops-scripts/gov-set-reward-address.js
  packages/ethereum-contracts/ops-scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/ops-scripts/resolver-set-key-value.js
  packages/ethereum-contracts/ops-scripts/resolver-unlist-super-token.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

fix formatting
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/sdk-core/src/Operation.ts
Due: ethereum-contracts, sdk-core

make batchCall payable
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

expose Supertoken underlying information
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
Due: ethereum-contracts

inherit erc20permit
  packages/ethereum-contracts/contracts/utils/TestToken.sol
Due: none

send remaining ETH back to the sender
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

added test case
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Update CHANGELOG.md (#1665)
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] make batchCall payable (#1662)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
Due: ethereum-contracts

expose Supertoken underlying information (#1663)
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
Due: ethereum-contracts

inherit erc20permit (#1664)
  packages/ethereum-contracts/contracts/utils/TestToken.sol
Due: none

Update SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

fix formatting
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
Due: ethereum-contracts

Update SuperTokenV1Library.sol (#1666)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

fix lint errors
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.js
  packages/js-sdk/src/Framework.js
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
Due: sdk-core

bump versions
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  sdk-redux-examples/sdk-redux-react-typecript/package.json
Due: sdk-core

bump versions (#1667)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  sdk-redux-examples/sdk-redux-react-typecript/package.json
Due: sdk-core

add callAgreement wrappers
  packages/automation-contracts/autowrap/remappings.txt
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

with ctx functions added
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

updated ExistentialNFTCloneFactory addresses
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
