Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

fix test case
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

Fix yarn.lock sync for release_1.16.0 CI.
  yarn.lock
Due: none

Remove js-sdk from ethereum-contracts dependencies.
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/docs/plans/2026-07-v1.16.0-external-consumers.md
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/ops/info-print-contract-addresses.js
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/fixtures/hardhat-deploy/deploy-framework.js
  packages/ethereum-contracts/test/fixtures/hardhat-deploy/deploy-super-token.js
  packages/ethereum-contracts/test/fixtures/hardhat-deploy/deploy-test-token.js
  packages/ethereum-contracts/test/lib/superfluid-test-sdk.js
Due: ethereum-contracts

Fix subgraph getAbi.js for hardhat artifacts.
  packages/ethereum-contracts/docs/plans/2026-07-v1.16.0-external-consumers.md
  packages/subgraph/scripts/getAbi.js
Due: ethereum-contracts

Docs: rename integration branch to release_1.16.0-truffle-removal.
  packages/ethereum-contracts/docs/plans/2026-07-v1.16.0-tooling-modernization.md
Due: ethereum-contracts

Migrate monorepo from Yarn 1 to Yarn 4.
  .github/actions/setup-workflow-base/action.yml
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-dry-run.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-dev-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  .gitignore
  .yarn/releases/yarn-1.22.22.cjs
  .yarnrc
  .yarnrc.yml
  CONTRIBUTING.md
  default.nix
  flake.nix
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  packages/subgraph/package.json
  sdk-redux-examples/sdk-redux-nextjs-typescript/build-and-test.sh
  sdk-redux-examples/sdk-redux-react-typecript/build-and-test.sh
  yarn.lock
Due: ethereum-contracts, sdk-core

Vendor Yarn 4.9.2 and drop corepack enable in Nix CI.
  .github/actions/setup-workflow-base/action.yml
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  default.nix
  flake.nix
Due: none

Fix Yarn 4 workspaces foreach syntax in root scripts.
  package.json
Due: none

Docs: tasks migrated off truffle exec in v1.16.0.
  packages/ethereum-contracts/docs/ops-scripts-migration.md
Due: ethereum-contracts

Fix Yarn 4 CI failures for subgraph and sdk-core.
  .github/workflows/call.test-local-subgraph.yml
  CONTRIBUTING.md
  package.json
  packages/sdk-core/package.json
Due: sdk-core

Update v1.16.0 plan acceptance criteria status.
  packages/ethereum-contracts/docs/plans/2026-07-v1.16.0-tooling-modernization.md
Due: ethereum-contracts

Fix Yarn 4 lifecycle gaps in subgraph and sdk-core tests.
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

Fix infinite recursion in root yarn lint on Yarn 4.
  package.json
Due: none

fix(ci): checkout submodules in automation-contracts workflow
  .github/workflows/call.test-automation-contracts.yml
Due: none

Fix Hardhat test harness snapshots and get full suite green.
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/lib/deploy-mock-test-token.ts
  packages/ethereum-contracts/test/lib/deploy-super-token-mock.ts
  packages/ethereum-contracts/test/lib/ethers-contract-loader.js
Due: ethereum-contracts

Fix yarn.lock after removing hardhat-truffle5 and test-helpers deps.
  yarn.lock
Due: none

Complete Phase 3 Hardhat harness cleanup and port info-print script.
  package.json
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/ops-libs/common.js
  packages/ethereum-contracts/scripts/ops/info-print-contract-addresses.js
  packages/ethereum-contracts/scripts/ops/run-info-print-contract-addresses.js
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/helpers.ts
  packages/ethereum-contracts/test/lib/bootstrap-web3.ts
  packages/ethereum-contracts/test/lib/logged-tx.ts
  packages/ethereum-contracts/test/lib/superfluid-test-sdk.js
  yarn.lock
Due: ethereum-contracts

Remove isTruffle noise and drop web3-shim from Hardhat tests.
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/sfops/.cursorignore
  packages/ethereum-contracts/sfops/.gitignore
  packages/ethereum-contracts/sfops/authorize-gardens-streaming-escrow-factory-superapp.sh
  packages/ethereum-contracts/sfops/authorize-gardens-streaming-escrow-factory-superapp.truffle-gov-backup.sh
  packages/ethereum-contracts/sfops/batch-withdraw-yield-surplus.sh
  packages/ethereum-contracts/sfops/check-forwarder-bytecode.sh
  packages/ethereum-contracts/sfops/check-gardens-streaming-escrow-factory-acl.sh
  packages/ethereum-contracts/sfops/dao-ethereum-safe-batch-add-owner-transfer-usdc-weth.ts
  packages/ethereum-contracts/sfops/sum-super-token-balances.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/Resolver.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/helpers.ts
  packages/ethereum-contracts/test/foundry/GDAZeroRateLiquidationLiveForkPoC.t.sol
  packages/ethereum-contracts/test/lib/deploy-variant-framework.js
  packages/ethereum-contracts/test/lib/eth-helpers.js
  packages/ethereum-contracts/test/lib/hardhat-web3-shim.ts
  packages/ethereum-contracts/test/lib/web3-shim.ts
Due: ethereum-contracts

Fix sdk-core and subgraph CI by dropping hardhat-web3 imports.
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/hardhat.config.ts
Due: sdk-core

chore: fix typo in BatchLiquidator comment
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

Regenerate Yarn 4 lockfile for still-truffle package tree on dev.
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

Tighten Yarn 4 Nix/prepare setup after the migration.
  default.nix
  flake.nix
  package.json
Due: none

chore: fix typo in BatchLiquidator comment (#2204)
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

update README re github repo changes
  CONTRIBUTING.md
  README.md
  packages/ethereum-contracts/README.md
  packages/js-sdk/README.md
  packages/sdk-core/README.md
Due: ethereum-contracts, sdk-core

Batch PRs 20260803 (#2211)
  CONTRIBUTING.md
  README.md
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/js-sdk/README.md
  packages/sdk-core/README.md
  packages/sdk-core/previous-versions-testing/yarn.lock
  yarn.lock
Due: ethereum-contracts, sdk-core

Bump Yarn to 4.18.0 and expose the vendored binary from Nix.
  .yarn/README.md
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  flake.nix
  package.json
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Fix Yarn 4 follow-ups: ci-minimum host leak and nested previous-versions project.
  .github/workflows/handler.publish-dev-release-packages.yml
  .gitignore
  package.json
  packages/sdk-core/previous-versions-testing/.yarnrc.yml
  packages/sdk-core/previous-versions-testing/package.json
  packages/sdk-core/previous-versions-testing/yarn.lock
Due: sdk-core

Finish Yarn 4 CI and tooling cleanup.
  .devcontainer/devcontainer.json
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/ci.feature.yml
  .yarn/README.md
  .yarn/releases/yarn.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  flake.nix
  packages/sdk-core/previous-versions-testing/.yarnrc.yml
  packages/sdk-core/previous-versions-testing/package.json
Due: sdk-core

fix flake.nix re yarn
  .yarn/releases/yarn.cjs
  flake.nix
Due: none

fix yarn.lock file
  .yarnrc.yml
  yarn.lock
Due: none

mark flake.nix to use symlink yarn.cjs file
  flake.nix
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
