Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

update sdk-redux
  flake.nix
  packages/hot-fuzz/package.json
  packages/metadata/package.json
  packages/sdk-redux/package.json
  packages/solidity-semantic-money/package.json
  yarn.lock
Due: none

update sdk-redux
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
Due: none

cleanup workflows
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

cleanup workflows
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

cleanup workflows
  .editorconfig
  .github/workflows/ci.feature.yml
  .github/workflows/ci.lint-workflow-files.yml
  flake.nix
  package.json
Due: none

more workflow improvements
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/call.upload-coverage-reports.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tasks/coverage-cleanup.sh
  packages/ethereum-contracts/truffle-config.js
  tasks/coverage-cleanup.sh
Due: ethereum-contracts

more workflow improvements
  .github/workflows/call.upload-coverage-reports.yml
Due: none

more workflow improvements
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

uncommented test
  packages/sdk-core/src/SuperToken.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: sdk-core

fixes
  .github/workflows/call.test-ethereum-contracts.yml
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

fixes
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/ci.feature.yml
Due: none

more tests + helpers added
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/gdav1.helper.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

fixes
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

fixes
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.verify-contracts.yml
  lerna.json
Due: none

fixes
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

fixes
  .github/workflows/ci.canary.yml
Due: none

fixes
  packages/ethereum-contracts/tasks/coverage-cleanup.sh
Due: ethereum-contracts

fixes
  .github/workflows/cd.feature.create-pr-artifact.yml
Due: none

[ETHEREUM-CONTRACTS] Version 1.7.2 Release (#1569)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

fixes
  .github/workflows/ci.feature.yml
Due: none

more helpers and abstractions!
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/gdav1.helper.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: ethereum-contracts

knock lerna a major version down
  .github/workflows/cd.feature.create-pr-artifact.yml
  package.json
  yarn.lock
Due: none

update changelogs
  packages/ethereum-contracts/CHANGELOG.md
  packages/metadata/CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
  packages/sdk-redux/CHANGELOG.md
Due: ethereum-contracts, sdk-core

Knock lerna a major version down (#1578)
  .github/workflows/cd.feature.create-pr-artifact.yml
  package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/metadata/CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
  packages/sdk-redux/CHANGELOG.md
  yarn.lock
Due: ethereum-contracts, sdk-core

wip
  packages/subgraph/tasks/deploy-all-self-hosted-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

added deploy script for self hosted subgraph
  .github/workflows/call.deploy-self-hosted-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy-all-self-hosted-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

deploys network to satsuma
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
Due: none

added mumbai and goerli
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
Due: none

removed eth-goarli
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
Due: none

Deploy networks to satsuma (#1581)
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
Due: none

test workflow on feature branch
  .github/workflows/call.deploy-self-hosted-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

test with release-cranch check removed
  .github/workflows/call.deploy-self-hosted-subgraph.yml
Due: none

fails if version_label is not set
  .github/workflows/call.deploy-self-hosted-subgraph.yml
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

uses metadata names for subgraphs
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

Raise minimum solc development requirement for ethereum-contracts to 0.8.11
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBase.sol
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/CustomSuperTokenBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperAgreement.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ISETH.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IRelayRecipient.sol
  packages/ethereum-contracts/contracts/interfaces/utils/IResolver.sol
  packages/ethereum-contracts/contracts/utils/Resolver.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidLoader.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts
