Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

fix liquidations test
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
Due: ethereum-contracts

Review comments addressed
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
  yarn.lock
Due: ethereum-contracts

remove overflow check
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

comments on breakage
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

clean up interfaces
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

bump to 0.8.19
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/contracts/libs/SuperTokenDeployerLibrary.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidNFTDeployerLibrary.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
Due: ethereum-contracts

address review comments
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

startDate -> lastUpdatedAt
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
Due: ethereum-contracts

fix: removed pkey
  packages/starknet-contracts/.pkey
Due: none

disable test:deployment:scripts-js-truffle
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

preparing an empty packages/solidity-semantic-money
  package.json
  packages/solidity-semantic-money/package.json
  tasks/check-changeset.sh
  yarn.lock
Due: none

Fix lint:sol & updated versions solhint etc. (#1325)
  CONTRIBUTING.md
  package.json
  packages/ethereum-contracts/.solhint.json
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperApp.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/IPureSuperToken.sol
  packages/ethereum-contracts/contracts/libs/BaseRelayRecipient.sol
  packages/ethereum-contracts/contracts/mocks/ERC777SenderRecipientMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
  packages/ethereum-contracts/package.json
  packages/solidity-semantic-money/package.json
  tasks/check-changeset.sh
  tasks/git-submodule-init.sh
  yarn.lock
Due: ethereum-contracts

Sdk-core release 0.6.3 (#1315)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

cleanup
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/SemanticMoney.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/remappings.txt
Due: ethereum-contracts

deployer library
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/SuperTokenPoolDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

Fix deploy-to-hosted-service.sh: add prepare manifest (#1319)
  packages/subgraph/tasks/deploy-to-hosted-service.sh
Due: none

deploy and link nft deployer if non-existent
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

events wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
Due: ethereum-contracts

proper fix
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

existence check in separate try/catch
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix bad ordering
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

Create force-gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/force-gov-upgrade-super-token-logic.js
Due: ethereum-contracts

temp force
  packages/ethereum-contracts/ops-scripts/force-gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

skip
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

Update gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

deploy script cleanup
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

try/catch as it was
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

test
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

add support for custom protocol release versions
  packages/sdk-core/src/Framework.ts
Due: sdk-core

split ToySuperTokenPool out
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperTokenPool.sol
Due: none

WIP certora rules
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

mumbai: same default gas settings as mainnet to prevent stuck or failing txs
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

more readable verification output, add verification of SuperToken logic (new deploy method)
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

Add back over sending through
  packages/sdk-core/src/Operation.ts
Due: sdk-core

Fix gasLimit type
  packages/sdk-core/src/Operation.ts
Due: sdk-core

Don't convert to Number to find gasLimit
  packages/sdk-core/src/Operation.ts
Due: sdk-core

ops-scripts adjustments
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/js-sdk/package.json
  yarn.lock
Due: ethereum-contracts, js-sdk

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
