Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

minor fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/InstantDistributionAgreement_test.hs
Due: none

fix sferror + update version
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

unreleased and 0.5.1
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

minor updates
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
Due: none

bump setup-node version
  .github/workflows/ci.feature.yml
Due: none

trigger build
  package.json
  yarn.lock
Due: none

0.5.1 patch fix (#996)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

check if cache hit achieved with contracts job
  package.json
Due: none

Revert "trigger build"
  yarn.lock
Due: none

Revert "Revert "trigger build""
  yarn.lock
Due: none

this should trigger
  package.json
Due: none

'yarn'
  .github/workflows/ci.feature.yml
  package.json
Due: none

sdk-core test caching
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/ci.feature.yml
  package.json
Due: none

fix workflow error
  .github/workflows/ci.feature.yml
Due: none

bump subgraph and sdk-core versions for dev
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

retrigger to test cache
  packages/sdk-core/package.json
Due: sdk-core

Revert "retrigger to test cache"
  packages/sdk-core/package.json
Due: sdk-core

bump subgraph and sdk-core versions for dev (#998)
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

anotha trigger
  .github/workflows/call.test-sdk-core.yml
  packages/sdk-core/package.json
Due: sdk-core

isNativeAssetSuperToken added to Token entity (#968)
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/holQueries.ts
  packages/subgraph/test/subgraph.test.ts
  packages/subgraph/test/validation/hol/tokenValidator.ts
Due: none

SDK-Core - isNativeAssetSuperToken query support (#970)
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

what are we caching and why
  .github/workflows/call.test-sdk-core.yml
  packages/sdk-core/package.json
Due: sdk-core

cache restore and install
  .github/workflows/call.test-sdk-core.yml
  packages/sdk-core/package.json
Due: sdk-core

Update ci.canary.yml
  .github/workflows/ci.canary.yml
Due: none

Update ci.canary.yml (#1000)
  .github/workflows/ci.canary.yml
Due: none

Subgraph 1.4.5 (#999)
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/holQueries.ts
  packages/subgraph/test/subgraph.test.ts
  packages/subgraph/test/validation/hol/tokenValidator.ts
Due: sdk-core

rename host functions
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

0.5.2 patch fix and version bump
  packages/hardhat-deployer/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/package.json
Due: sdk-core, hardhat-deployer

Update package.json
  packages/hardhat-deployer/package.json
Due: hardhat-deployer

[SDK-Core] Call App Action Support Added/Fixed CallAppAction BatchCall (#995)
  packages/sdk-core/.gitignore
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

add cache for most setup-node
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

add batchCall stuff to changelog
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
