Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

cleanup
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
  packages/sdk-core/CHANGELOG.md
Due: ethereum-contracts, sdk-core

fix typo
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
Due: none

entity cleanup
  packages/sdk-core/src/subgraph/entities/token/token.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: sdk-core

use github ref
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
Due: none

use local over v1
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

Update call.test-sdk-core.yml
  .github/workflows/call.test-sdk-core.yml
Due: none

add monetary unit laws
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/TestMonetaryTypes.hs
Due: none

[WORKFLOW] Actionlint + Fix mismatch (#1304)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.lint-workflow-files.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  .github/workflows/handler.xkcd.yml
Due: none

remove gov config queries
  packages/sdk-core/src/subgraph/entities/token/token.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
Due: sdk-core

test fix
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

remove temp job in ci.feature
  .github/workflows/ci.feature.yml
Due: none

fix up coverage for max reuse
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

really bad copy paste
  .github/workflows/ci.canary.yml
Due: none

lingering BigNumber
  packages/sdk-core/src/subgraph/entities/token/token.ts
Due: sdk-core

bad actionlint fix
  .github/workflows/ci.canary.yml
Due: none

fix publish pr packages
  .github/workflows/handler.publish-pr-packages.yml
Due: none

remove generate-graphql-schema:dev in canary
  .github/workflows/ci.canary.yml
Due: none

added BatchLiquidatorV2
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

Support pool's pending distribution.
  packages/solidity-semantic-money/src/ISuperToken.sol
  packages/solidity-semantic-money/src/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ToySuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

some adjustments
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/ToySuperToken.t.sol
Due: none

small refactor
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

some fine tuning
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

[WORKFLOWS] Canary fix (#1305)
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
Due: none

fix canary
  .github/workflows/ci.canary.yml
Due: none

test eth-contracts coverage w/ lcov
  .github/workflows/ci.feature.yml
Due: none

feat: updated SuperToken
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/BitMap.cairo
  packages/starknet-contracts/src/utils/EnumerableSet.cairo
Due: none

improve test-coverage
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
Due: none

test lcov installation
  .github/workflows/ci.feature.yml
Due: none

Update ci.feature.yml
  .github/workflows/ci.feature.yml
Due: none

properly install lcov
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

[WORKFLOWS] fix canary (#1308)
  .github/workflows/ci.canary.yml
Due: none

allow multiple distributors
  packages/solidity-semantic-money/src/ToySuperToken.sol
Due: none

remove erc20x lcov specific stuff
  .github/workflows/ci.canary.yml
Due: none

remove erc20x lcov specific stuff (#1309)
  .github/workflows/ci.canary.yml
Due: none

bubble error on single liquidation
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

last canary fix or i give up
  .github/workflows/ci.canary.yml
Due: none

last canary fix or i give up (#1310)
  .github/workflows/ci.canary.yml
Due: none

remove old batch contract, rename v2, remove old tests
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
