Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

fix build
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
Due: none

clean up echidna
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

piggyback
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

fix imports in automation
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
Due: none

cleanup
  packages/hot-fuzz/README.md
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/InstantDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperToken.hott.sol
Due: none

fixes
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

add invariants + push toga
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

parallel tests
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

try with 4 jobs
  .github/workflows/call.test-ethereum-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

test with 2
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

no run-p for coverage
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

use listAccounts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

fix broken build
  .github/workflows/call.test-ethereum-contracts.yml
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

fix build pt 69420
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
Due: none

fix some of the gda invariance issues
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

Update call.test-ethereum-contracts.yml
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

[ETHEREUM-CONTRACTS] add invariants check at the end of helper functions (#1590)
  .github/workflows/call.test-ethereum-contracts.yml
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Export all interfaces in ISuperfluid (#1588)
  .github/workflows/call.test-ethereum-contracts.yml
  packages/automation-contracts/autowrap/contracts/mocks/MockReceiverContract.sol
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IFlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingScheduler.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/TOGA.sol
Due: ethereum-contracts

bigly cleanup
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/boilerplate.js
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/deploy-super-token.js
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/scripts/resolver-list-super-token.js
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/tsconfig.typechain.json
  packages/js-sdk/package.json
  packages/js-sdk/src/loadContracts.js
Due: ethereum-contracts

BUILD_AUTOMATION_CONTRACTS=1 when ethereum-contracts builds
  tasks/check-changeset.sh
Due: none

testing cleanup
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix broken build
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/js-sdk/truffle-config.js
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Governance.ts
  packages/sdk-core/src/Host.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/scripts/getAbi.js
Due: ethereum-contracts, sdk-core

more fix attempts
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/js-sdk/truffle-config.js
  packages/subgraph/scripts/getAbi.js
Due: ethereum-contracts

artifacts => build/hardhat
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

build/truffle/contracts => build/truffle
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Update bundled-abi-contracts-list.json
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
Due: ethereum-contracts

test workflow on feature branch
  .github/workflows/call.deploy-self-hosted-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
Due: none

gov scripts for governance update and transfer: make usable for prod governance
  packages/ethereum-contracts/ops-scripts/gov-transfer-framework-ownership.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/js-sdk/src/contracts.json
Due: ethereum-contracts

ocd treatment: more consistent order of cof vs cif
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

simplify gov init
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

nix setup hint
  CONTRIBUTING.md
Due: none

store version string in Resolver, fix contract change recognition for some factory related contracts
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

workflow triggers on dispatch
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
  .github/workflows/handler.deploy-self-hosted.yml
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

fixed shellcheck warnings
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

fix code changed detection for contracts the SuperTokenFactory depends on
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

new loader contracts on gda testnets
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

rev string shall always have 8 chars
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

add a few more actions
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

make tasks/build-bundled-abi.sh parallel
  packages/ethereum-contracts/tasks/build-bundled-abi.sh
Due: ethereum-contracts
