Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

use normalized addresses in createFlow
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
Due: sdk-core

concluide draft of Payment Execution Environment
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

added branching implementation to every function using callAgreement
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/interfaces.ts
Due: sdk-core

added Payment System Solvency subsection
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

subsection Money Mediums!!
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

section relevant approaches WIP
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

lint fix
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: ethereum-contracts, sdk-core

subsection Functional Reactive Programming drafted
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

CFAV1Forwarder Fixes
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
Due: ethereum-contracts

require artifacts from hardhat
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

remove js-sdk from deploy-framework
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

pain
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

section Relevant Approaches done!
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

use truffle build not hh artifacts
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

hard code fix for now
  packages/subgraph/src/addresses.template.ts
Due: none

:-1:
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

add CFAv1Forwader to js-sdk
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/js-sdk/src/contracts.json
Due: ethereum-contracts, js-sdk

hook draft
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

half deprecate js-sdk
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  CONTRIBUTING.md
  README.md
  codecov.yml
  package.json
  packages/js-sdk/src/getConfig.js
  packages/js-sdk/tasks/build-abi-js.sh
  packages/sdk-core/package.json
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/subgraph/README.md
  packages/subgraph/tasks/testenv-ctl.sh
  tasks/check-changeset.sh
  yarn.lock
Due: js-sdk, sdk-core

Update ci.feature.yml
  .github/workflows/ci.feature.yml
Due: none

build!
  package.json
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/subgraph/tasks/testenv-ctl.sh
Due: sdk-core

Denotational Semantics WIP!
  packages/spec-haskell/Makefile
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

added index abstraction semantics
  packages/spec-haskell/yellowpaper/Paper.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

remove `protocolReleaseVersion`
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] CFAv1Forwarder Fixes (#1094)
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts

CFA Hook Tests Implemented
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
Due: ethereum-contracts

note regarding try/catch out of gas
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

fix deployment test
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

complete (mostly) Denotational Semantics section
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

fix hook tests
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

interface compatibility saves the day!
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
Due: ethereum-contracts

restatement wip
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

Update CONTRIBUTING to fix examples link
  CONTRIBUTING.md
Due: none

Update README to fix examples link
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Fix links to the examples repo (#1100)
  CONTRIBUTING.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Flow Primitive
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
Due: none
