Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

initial impl of auto-unwrap-helpers
  package.json
  packages/automation-contracts/auto-unwrap-helpers/Makefile
  packages/automation-contracts/auto-unwrap-helpers/README.org
  packages/automation-contracts/auto-unwrap-helpers/foundry.toml
  packages/automation-contracts/auto-unwrap-helpers/src/SimpleSuperTokenUnwrapper.sol
  packages/automation-contracts/auto-unwrap-helpers/test/SimpleSuperTokenUnwrapper.t.sol
Due: none

disable a rule
  tasks/check-changeset.sh
Due: none

subgraph deployment cleanup
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none

[SDK-redux] Some TX tracking changes (with version bump) (#1334)
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/DeleteStream.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/DistributeToIndex.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowCreate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowUpdate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexCreate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexDeleteSubscription.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionApprove.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionClaim.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionRevoke.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexUpdateSubscriptionUnits.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenDowngrade.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenUpgrade.tsx
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/README.md
  packages/sdk-redux/package.json
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/flowEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/indexEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/superTokenEndpoints.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/ethersError.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateOldPendingTransactionsTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/waitForOneConfirmation.ts
Due: none

add singed int range checks
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
Due: none

flow NFT hook fix
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

fix try/catch
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

make _revertWhenOutOfGas a view function
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
Due: ethereum-contracts

interface cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
Due: ethereum-contracts

remove commented out code
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
Due: ethereum-contracts

Small type fix
  packages/sdk-redux/package.json
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
Due: none

address review comments
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  packages/subgraph/config/mock.json
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

fix compile errors
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
Due: ethereum-contracts

Don't bump version
  packages/sdk-redux/package.json
Due: none

[SDK-redux] Small type fix (#1343)
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
Due: none

renamed contracts, removed mock which just duplicates code
  packages/ethereum-contracts/contracts/apps/SuperAppBaseCFA.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseCFATester.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
Due: ethereum-contracts

actual changes
  packages/ethereum-contracts/contracts/apps/SuperAppBaseCFA.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseCFATester.sol
Due: ethereum-contracts

super token pool cleanup
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
Due: ethereum-contracts

assert => assertEq
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

make view
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
Due: ethereum-contracts

Map missing IsNativeAsset from Subgraph
  packages/sdk-core/src/subgraph/entities/token/token.ts
Due: sdk-core

Add Changelog
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

[SDK-core] Map missing isNativeAssetSuperToken from Subgraph (#1345)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/token/token.ts
Due: sdk-core

fix GDA
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
Due: ethereum-contracts

small fix, refactor and tests
  packages/ethereum-contracts/contracts/apps/SuperAppBaseCFA.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseCFATester.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
Due: ethereum-contracts

finished migration of tests to foundry
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseCFATester.sol
  packages/ethereum-contracts/test/contracts/apps/SuperAppBaseFlow.test.ts
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
Due: ethereum-contracts

removed excess newlines
  packages/ethereum-contracts/contracts/apps/SuperAppBaseCFA.sol
Due: ethereum-contracts

SuperAppBaseFlow (#1278)
  packages/ethereum-contracts/contracts/apps/SuperAppBaseCFA.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseCFATester.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
Due: ethereum-contracts

address some comments
  .github/workflows/ci.lint-workflow-files.yml
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
  packages/subgraph/tasks/prepare-manifest.sh
  packages/subgraph/tasks/testenv-ctl.sh
  tasks/shellcheck-all-shell-scripts.sh
Due: none

fix shellchecks
  .husky/pre-commit
  package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/cloc.sh
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/dev.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/js-sdk/tasks/build-abi-js.sh
  packages/js-sdk/tasks/cloc.sh
  packages/sdk-core/tasks/cloc.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/tasks/testenv-ctl.sh
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux/tasks/cloc.sh
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
  packages/subgraph/tasks/prepare-manifest.sh
  packages/subgraph/tasks/setup-graph-node.sh
  tasks/check-changeset.sh
  tasks/find-dup-devDependencies.sh
  tasks/npm-publish.sh
  tasks/shellcheck-all-shell-scripts.sh
  tasks/shellcheck-all-tasks.sh
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

update packages and cleanup
  .gitmodules
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/gda-demo-script.ts
Due: ethereum-contracts

fix tasks/check-changeset.sh
  tasks/check-changeset.sh
  tasks/shellcheck-all-tasks.sh
Due: none

remove linting workflow
  .github/workflows/ci.lint-workflow-files.yml
Due: none

fix GRAPH
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

fix JQ
  packages/js-sdk/tasks/build-abi-js.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
Due: js-sdk, sdk-core

Revert "remove linting workflow"
  .github/workflows/ci.lint-workflow-files.yml
Due: none

Update ci.lint-workflow-files.yml
  .github/workflows/ci.lint-workflow-files.yml
Due: none

fix jsdoc type
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-super-token.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-app-registration-key.js
  packages/ethereum-contracts/ops-scripts/gov-create-new-factory-registration.js
  packages/ethereum-contracts/ops-scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/ops-scripts/gov-set-reward-address.js
  packages/ethereum-contracts/ops-scripts/gov-set-token-min-deposit.js
  packages/ethereum-contracts/ops-scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-governance.js
  packages/ethereum-contracts/ops-scripts/resolver-list-super-token.js
  packages/ethereum-contracts/ops-scripts/resolver-set-key-value.js
  packages/ethereum-contracts/ops-scripts/resolver-unlist-super-token.js
Due: ethereum-contracts

[WORKFLOWS] Clean Up Subgraph Deployment Workflow Files (#1333)
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-hosted-service-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-satsuma-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
  .husky/pre-commit
  package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/cloc.sh
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/dev.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/js-sdk/tasks/build-abi-js.sh
  packages/js-sdk/tasks/cloc.sh
  packages/sdk-core/tasks/cloc.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/tasks/testenv-ctl.sh
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux/tasks/cloc.sh
  packages/subgraph/config/mock.json
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
  packages/subgraph/tasks/prepare-manifest.sh
  packages/subgraph/tasks/setup-graph-node.sh
  packages/subgraph/tasks/testenv-ctl.sh
  tasks/check-changeset.sh
  tasks/find-dup-devDependencies.sh
  tasks/npm-publish.sh
  tasks/shellcheck-all-tasks.sh
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core
