Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

all dev shells in one flake.nix
  .editorconfig
  CONTRIBUTING.md
  devShells/minimum/flake.nix
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  devShells/whitehat/flake.lock
  devShells/whitehat/flake.nix
  flake.lock
  flake.nix
  package.json
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
Due: none

Update README.md
  README.md
Due: none

refine payment primitives texts
  packages/spec-haskell/Makefile
  packages/spec-haskell/cabal.project.freeze
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

realign to different number of chars per line
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
  packages/spec-haskell/utils/lhs2tex.sh
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

cleanup chapter 2
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

Real Time Balance section
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

SuperfluidFrameworkDeployer WIP
  packages/ethereum-contracts/.prettierrc.js
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

Agreement Framework
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

Change ordering of interface
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
Due: ethereum-contracts

chapter done! Superfluid Protocol - A Reference Implementation
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/assets/agreement-contract-omega-function.png
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

final words chapter DONE
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

alright, abstract done, will do a proof reading before sending out
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

add picture
  packages/spec-haskell/yellowpaper/assets/agreement-data-structures.png
Due: none

[ETHEREUM-CONTRACTS] CFA Hooks (#1099)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementHook.sol
  packages/ethereum-contracts/contracts/mocks/CFAHookMocks.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-CFAHook.test.ts
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/scripts/deployment.test.js
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
Due: ethereum-contracts

change article outline style and biblatex style
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

Deployer WIP
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/scripts/deploy-erc1820.ts
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/contracts.json
  packages/sdk-core/tasks/setupTestEnvironment.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/scripts/deployContractsAndToken.ts
Due: ethereum-contracts, sdk-core

bad merge
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
Due: ethereum-contracts

fixed a round of proof-readings
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Theory/FinancialContract.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyDistribution.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/MoneyMedium.lhs
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentExecutionEnvironment.lhs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

SDK-Core Refactor
  packages/ethereum-contracts/scripts/deploy-erc1820.ts
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/test/__setupTestEnvironment.ts
Due: ethereum-contracts, sdk-core

agreement operation output is monoid
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistribution/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistribution/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/yellowpaper/Paper1.tex
Due: none

agreement operation output is monoid
  packages/spec-haskell/yellowpaper/assets/agreement-contract-omega-function.png
Due: none

Fixes
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/TestToken.sol
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

build contracts w/ hardhat
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

mint limit in JS
  packages/subgraph/scripts/deployContractsAndToken.ts
Due: none

fix ethereum contract tests
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

Fixes WIP
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/subgraph/config/ganache.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: ethereum-contracts

adding decaying flow
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/DecayingFlowAgreement.hs
  packages/spec-haskell/yellowpaper/Paper1.tex
  packages/spec-haskell/yellowpaper/preamble.tex
Due: none

updated M with index abstraction
  packages/spec-haskell/packages/core/src/Money/Theory/PaymentPrimitives.lhs
Due: none

fix broken tests
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/subgraph/test/helpers/testers.ts
Due: ethereum-contracts

conventions!
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/4_governance.test.ts
  packages/sdk-core/test/TestEnvironment.ts
  packages/sdk-core/test/_setupTestEnvironment.ts
Due: sdk-core

this should work?
  packages/subgraph/test/helpers/updaters.ts
Due: none

fix liquidation test
  packages/subgraph/test/helpers/testers.ts
  packages/subgraph/test/subgraph.test.ts
Due: none

review fixes
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

fix ci workflow
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

renaming for clarity
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

flakey tests
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

test theory
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
Due: ethereum-contracts

keep reverting changes till it passes
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/ethereum-contracts/package.json
  packages/subgraph/tasks/testenv-ctl.sh
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
