Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

added existentialNFTCloneFactory address into all networks
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Update SubgraphClient.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

move existentialNFTCloneFactory prop position, and add it to list.d.ts
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

update addresses correlating to the stream-gating deployment files
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

[METADATA] - Include ExistentialNFTCloneFactory address in Metadata for all networks (#1632)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

disable tests
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

add required ISuperToken ABIs
  packages/subgraph/subgraph.template.yaml
Due: none

include resolver/ISuperfluid abis
  packages/subgraph/subgraph.template.yaml
Due: none

fix build
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

bump metadata version to 1.1.13
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

updated CHANGELOG
  packages/metadata/CHANGELOG.md
Due: none

subgraph tests wip
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

[METADATA] bump version to 1.1.13 (#1634)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

pool distributor tests
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

fix type error
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

node 20 as default
  flake.nix
Due: none

Revert "node 20 as default"
  flake.nix
Due: none

more echidna actions
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/InstantDistributionAgreementV1.hott.sol
Due: none

[SUPPLY-CHAIN] Fix GQL errors (#1631)
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

added conditions to handler, vedor type is choice
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy-self-hosted-network.sh
Due: none

clean up hot fuzz + gda
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: ethereum-contracts

add token actions
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperToken.hott.sol
Due: none

[SDK-CORE] piggyback change: immutable solc
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
Due: sdk-core

[ethereum-contracts]: Publish `build/hardhat/*/*` again
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

bump ethereum-contracts version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

fix sdk-core test
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

no magic numbers
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

piggyback: make hardhat parallel test work
  .github/workflows/call.test-ethereum-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

disable coverage parallel test again ...
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

[ETHEREUM-CONTRACTS] Hotfix: publish hardhat artifacts (#1637)
  .github/workflows/call.test-ethereum-contracts.yml
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/test/2_operation.test.ts
Due: ethereum-contracts, sdk-core

try w workers for coverage test
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

use build/truffle/contracts
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

revert parallel coverage again, sad
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

subgraph workflow simplification
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
  packages/subgraph/tasks/deploy.sh
Due: sdk-core

add test-slither yarn sub-task
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/cloc.sh
  packages/ethereum-contracts/tasks/test-slither.sh
Due: ethereum-contracts

update CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Miscellaneous fixes (#1640)
  .github/workflows/call.test-ethereum-contracts.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/cloc.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/test-slither.sh
Due: ethereum-contracts

subgraph workflow simplification (#1624)
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.deploy-satsuma-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/tasks/deploy-graph-networks.sh
  packages/subgraph/tasks/deploy-satsuma-networks.sh
  packages/subgraph/tasks/deploy-self-hosted-network.sh
  packages/subgraph/tasks/deploy.sh
Due: sdk-core

add TOGA as account
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
Due: none
