Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

no duplicate ethers
  package.json
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

use calldata instead of memory
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
Due: ethereum-contracts

use external instead of public
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

remove fixme comment
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

move configKey computation into if
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

use named cached variable
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

undo 0 initializations + != 0
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/libs/CallUtils.sol
  packages/ethereum-contracts/contracts/libs/ERC777Helper.sol
  packages/ethereum-contracts/contracts/libs/FixedSizeData.sol
  packages/ethereum-contracts/contracts/libs/SlotsBitmapLibrary.sol
  packages/ethereum-contracts/contracts/mocks/IDASuperAppTester.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/contracts/utils/TokenCustodian.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

fix yarn.lock
  yarn.lock
Due: none

this time is different
  package.json
  packages/sdk-core/src/Framework.ts
  yarn.lock
Due: sdk-core

wip
  package.json
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

ethers signer type fix
  packages/sdk-core/src/Framework.ts
Due: sdk-core

more package updates
  package.json
  yarn.lock
Due: none

[ETHEREUM-CONTRACTS] yAcademy Gas Savings Applied (#1062)
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
  packages/ethereum-contracts/contracts/utils/TOGA.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

more package updates!
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

fix forge issue
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

add format command
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

Updating dependencies & dedup dev packages (#1064)
  package.json
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

fix build
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

fix build (#1067)
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

TS WIP - testsuites
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/testsuites/all-contracts.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
  packages/ethereum-contracts/testsuites/custom-tokens.ts
  packages/ethereum-contracts/testsuites/superfluid-core.ts
  packages/ethereum-contracts/testsuites/superfluid-governance.ts
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

TS WIP - Typechain
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

TS WIP - UUPS and CallUtils
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

TS WIP - Utility Contract Tests
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/Resolver.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/contracts/utils/helpers.js
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

TS WIP - CFAv1Forwarder Tests
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.ts
Due: ethereum-contracts

TS WIP - Library Tests
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
Due: ethereum-contracts

TS WIP - Scenarios Tests
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.ts
Due: ethereum-contracts

TS WIP - Scenarios Tests
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
Due: ethereum-contracts

TS WIP - SuperfluidGoverannceII tests
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/testsuites/superfluid-governance.ts
Due: ethereum-contracts

TS WIP - Custom Tokens Tests
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/testsuites/custom-tokens.ts
Due: ethereum-contracts

TS WIP - Superfluid Core Tests
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/testsuites/all-contracts.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
  packages/ethereum-contracts/testsuites/custom-tokens.ts
  packages/ethereum-contracts/testsuites/superfluid-core.ts
  packages/ethereum-contracts/testsuites/superfluid-governance.ts
Due: ethereum-contracts

TS WIP - Clean up commit pollution
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

TS WIP - Clean up commit pollution (cont.)
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

TS WIP - Clean up commit pollution (cont.)
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

TS WIP - Token behavior files
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

TS WIP - CFA/IDA behavior files
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
Due: ethereum-contracts

TS WIP - Convert peripheries
  packages/ethereum-contracts/test/TestEnvironment.js
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/helpers.js
  packages/ethereum-contracts/test/contracts/utils/helpers.ts
  packages/ethereum-contracts/test/utils/expectRevert.js
  packages/ethereum-contracts/test/utils/expectRevert.ts
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
