Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

js-sdk ida gasOption invalid syntax issue resolved
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts
Due: js-sdk

Fixed:: TypeScript error in /Users/mikeghen/Documents/Projects/ricochet-frontend/node_modules/@superfluid-finance/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts(197,19): ',' expected.
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts
Due: js-sdk

fixed ida broken test cases
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/validators.ts
Due: none

changed variable name to MAX_SAFE_MILLISECONDS
  packages/subgraph/src/utils.ts
  packages/subgraph/test/helpers/helpers.ts
Due: none

comment added
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/validators.ts
Due: none

comment added
  packages/subgraph/schema.graphql
Due: none

[RFR] Added criticalAtTimestamp entity to subgraph v1 (#822)
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
Due: sdk-core

merged critical at timestamp changes into branch
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
Due: none

added isLiquidationEstimateOptimistic flag
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
Due: none

updated:: as per review comment
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
Due: none

[RFR] create account token snapshot log for each account token snapshot updates (#830)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/validators.ts
Due: none

yellow paper latex pipeline
  packages/spec-haskell/Makefile
  packages/spec-haskell/README.md
  packages/spec-haskell/hie.yaml
  packages/spec-haskell/packages/core/src/Money/Distribution/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Distribution/Concepts.lhs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/tasks/lhs2tex.sh
  packages/spec-haskell/yellowpaper/Biblio.bib
  packages/spec-haskell/yellowpaper/Biblio.bib.bbl
  packages/spec-haskell/yellowpaper/Biblio.bib.blg
  packages/spec-haskell/yellowpaper/Paper.tex
Due: none

wip tradeable_cashflow_hot_fuzz
  examples/tradeable-cashflow-truffle/.gitignore
  examples/tradeable-cashflow-truffle/contracts/RedirectAll.sol
  examples/tradeable-cashflow-truffle/contracts/TradeableCashFlow.hott.sol
  examples/tradeable-cashflow-truffle/contracts/TradeableCashFlowHotFuzz.yaml
  examples/tradeable-cashflow-truffle/package.json
  examples/tradeable-cashflow-truffle/truffle-config.js
  examples/tradeable-cashflow-truffle/yarn.lock
  packages/hot-fuzz/README.md
Due: none

add subgraph tests
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

marked registerApp as deprecated
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
Due: ethereum-contracts

added stream closer Dapp
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
Due: ethereum-contracts

Re-write rewards-distribution-token using new sdk
  examples/rewards-distribution-token-hardhat/test/DividendRightsToken.test.ts
Due: none

ISuperfluid.sol now requires solidity 0.8.2, test also done for 0.8.2
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/test/test-solc-0.8.0-compatibility.sh
Due: ethereum-contracts

Fixed:: TypeScript error in /Users/mikeghen/Documents/Projects/ricochet-frontend/node_modules/@superfluid-finance/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts(197,19): (#829)
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts
Due: js-sdk

added bsc and celo networks
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
Due: ethereum-contracts, js-sdk

env configurable native-asset symbol
  packages/ethereum-contracts/scripts/deploy-super-token.js
Due: ethereum-contracts

allow same app registration on testnets and mainnets
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/scripts/gov-transfer-framework-ownership.js
  packages/ethereum-contracts/test/test-solc-0.8.0-compatibility.sh
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/subgraph/scripts/deployContractsAndToken.ts
  packages/subgraph/types/custom.d.ts
Due: ethereum-contracts

added account token balance logs and missing field from other story
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

turns out the BSC testnet has a name
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/src/getConfig.js
Due: ethereum-contracts, js-sdk

added account token balance logs and missing field from other story
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
Due: sdk-core

generate-graphql-schema before build and release
  .github/workflows/handler.publish-release-packages.yml
Due: none

only test live subgraph release for sdk-core-release and only test previous sdk-version releases for subgraph release
  .github/workflows/ci.pre-release-draft-test-sdk-core-subgraph-integration.yml
Due: none

name modification
  .github/workflows/ci.pre-release-draft-test-sdk-core-subgraph-integration.yml
Due: none

feature => v1
  .github/workflows/ci.pre-release-draft-test-sdk-core-subgraph-integration.yml
Due: none

Sdkcore updates new fields and entities changes (#834)
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

missing chars
  .github/workflows/ci.feature.yml
Due: none

fix build
  packages/spec-haskell/packages/core/src/Money/Distribution/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Distribution/Concepts.lhs
Due: none

Revert "Sdkcore updates new fields and entities changes (#834)"
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

lower flow rate
  packages/subgraph/test/subgraph.test.ts
Due: none

Revert "Sdkcore updates new fields and entities changes (#834)" (#836)
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

Revert "Revert "Sdkcore updates new fields and entities changes (#834)" (#836)"
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

return amount is based on balanceOf
  packages/subgraph/test/subgraph.test.ts
Due: none

use query instead of framework for subgraph query tests + add console.log to see where things are breaking-local subgraph taking too long
  packages/subgraph/test/subgraph.test.ts
Due: none

try reusable workflow, use query instead of full framework object
  .github/workflows/call.setup-and-deploy-local-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core
