Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

add space
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
Due: ethereum-contracts

[CI] Changelog reminder handler (#1133)
  .github/workflows/handler.changelog-reminder.yml
  tasks/check-changeset.sh
Due: none

matchstick init commit
  packages/subgraph/matchstick.yaml
  packages/subgraph/package.json
  packages/subgraph/tests/assertionHelper.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/host/host.helpers.ts
  packages/subgraph/tests/host/host.test.ts
  yarn.lock
Due: none

Host Mappers tested
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/host/host.helper.ts
  packages/subgraph/tests/host/host.helpers.ts
  packages/subgraph/tests/host/host.test.ts
Due: none

SuperfluidGovernance Mapper Tests
  packages/subgraph/tests/assertionHelper.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.helper.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

use real addresses
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

Resolver Mapping Tests
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/tests/assertionHelper.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/helpers.ts
  packages/subgraph/tests/host/host.helper.ts
  packages/subgraph/tests/host/host.test.ts
  packages/subgraph/tests/resolver/resolver.helper.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

uncomment accidentally commented out line
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
Due: ethereum-contracts

address review comments
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

Update CODEOWNERS
  CODEOWNERS
Due: none

SuperTokenFactory Event Mapping Tests
  packages/subgraph/package.json
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/host/host.test.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.helper.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
Due: none

CFA forwarder deployment related changes (#1117)
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/scripts/gov-set-trusted-forwarder.js
  packages/ethereum-contracts/scripts/resolver-set-key-value.js
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

Implement Helpers
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/host/host.helper.ts
  packages/subgraph/tests/idav1/idav1.helper.ts
  packages/subgraph/tests/resolver/resolver.helper.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
Due: none

Create new script for deploying the SuperfluidFrameworkDeployer
  packages/ethereum-contracts/scripts/deploy-superfluid-deployer.js
Due: ethereum-contracts

Address Review Comments
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

typo fix
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

simple refactoring
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
Due: none

address review comments
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

Prepare for release
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

prepare subgraph for mainnet
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/xdai.json
  packages/subgraph/networks.json
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/tasks/deploy-all-networks.sh
Due: none

remove InitializeData from ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

add mainnet to relevant workflow files
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

ISSUE #1089 - Create2 Hybrid SuperTokenFactory (#1115)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

Remove SuperfluidErrors Library
  packages/ethereum-contracts/contracts/agreements/AgreementBase.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

no upcast - must pass entity
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
Due: none

bad copy paste
  packages/subgraph/src/utils.ts
Due: none

set non null account entity!
  packages/subgraph/src/mappings/superToken.ts
Due: none

rename to eth-mainnet
  packages/subgraph/config/eth-mainnet.json
  packages/subgraph/networks.json
Due: none

Contracts scripts typings + JS-SDK cleanup
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/deploy-test-framework.js
  packages/ethereum-contracts/scripts/deploy-test-framework.ts
  packages/ethereum-contracts/scripts/index.js
  packages/ethereum-contracts/tsconfig.json
  packages/ethereum-contracts/tsconfig.scripts.json
  packages/js-sdk/src/ConstantFlowAgreementV1Helper.d.ts
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.d.ts
  packages/js-sdk/src/InstantDistributionAgreementV1Helper.js
  packages/js-sdk/src/User.d.ts
  packages/js-sdk/src/batchCall.d.ts
  packages/js-sdk/src/loadContracts.d.ts
  packages/js-sdk/test/Framework.subgraph.test.js
  packages/js-sdk/test/InstantDistributionAgreementV1Helper.test.js
Due: ethereum-contracts, js-sdk

use module.exports
  packages/ethereum-contracts/scripts/deploy-test-framework.js
Due: ethereum-contracts

send deployer some eth for deployERC1820
  packages/ethereum-contracts/scripts/deploy-test-framework.js
Due: ethereum-contracts

Remove SuperfluidErrors Library (#1142)
  packages/ethereum-contracts/contracts/agreements/AgreementBase.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidGovernance.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

fix compilation
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.helper.ts
Due: none

review comments addressed!
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
Due: none

[SUBGRAPH] Event Entity Base Property Initialization Refactor (#1143)
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
Due: none

import and export all scripts
  packages/ethereum-contracts/scripts/index.js
Due: ethereum-contracts

update changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

bump ethereum contracts version
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

declarations next to source
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tsconfig.scripts.json
Due: ethereum-contracts

Map deposit from Subgraph to Stream
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/stream/stream.ts
  packages/sdk-core/src/subgraph/entities/stream/streams.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core
