Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

undo extra overhead changes
  packages/ethereum-contracts/tsconfig.json
  packages/subgraph/types/custom.d.ts
Due: ethereum-contracts

missed a renaming
  packages/ethereum-contracts/scripts/deploy-test-framework.js
Due: ethereum-contracts

Split SuperfluidFrameworkDeployer
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/sfFrameworkDeployer/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/scripts/deploy-test-framework.js
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  yarn.lock
Due: ethereum-contracts

remove extra main
  packages/ethereum-contracts/scripts/deploy-test-framework.js
Due: ethereum-contracts

file shuffling
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/scripts/deploy-test-framework.js
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/scripts/deploy-test-framework.js
Due: ethereum-contracts

move deployContractsAndTokens
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/scripts/deployContractsAndToken.ts
  packages/ethereum-contracts/scripts/runDeployContractsAndToken.ts
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/tsconfig.json
Due: ethereum-contracts, sdk-core

run test with localhost network
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

deploy to localhost
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

remove instances of --network localhost
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/scripts/runDeployContractsAndToken.ts
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/subgraph/README.md
  packages/subgraph/config/ganache.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

cleanup
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  packages/subgraph/types/custom.d.ts
Due: ethereum-contracts, sdk-core

update README
  packages/automation-contracts/autowrap/.env-template
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/scheduler/.env-template
  packages/automation-contracts/scheduler/README.md
Due: none

make public
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

migration intermediary scripts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/boilerplate.js
  packages/ethereum-contracts/scripts/deploy-super-token.js
  packages/ethereum-contracts/scripts/deploy-test-environment.js
  packages/ethereum-contracts/scripts/deploy-test-token.js
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/scripts/gov-set-3Ps-config.js
  packages/ethereum-contracts/scripts/resolver-list-super-token.js
Due: ethereum-contracts

Update deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

fix hardhat test network config naming
  packages/ethereum-contracts/scripts/runDeployContractsAndToken.ts
  packages/subgraph/config/ganache.json
  packages/subgraph/package.json
  packages/subgraph/test/helpers/helpers.ts
Due: ethereum-contracts

make MAX_APP_CALLBACK_LEVEL public again (#1229)
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

deploy framework not deploy test environment
  packages/ethereum-contracts/scripts/deploy-framework.js
Due: ethereum-contracts

added link to multisig source
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
Due: ethereum-contracts

stick to our style
  packages/ethereum-contracts/scripts/info-show-protocol.js
  packages/ethereum-contracts/scripts/libs/common.js
Due: ethereum-contracts

make gov admin type autodetect by default in ethereum-contracts GH script
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

add deployment scripts and hardhat tasks
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/.env-template
  packages/automation-contracts/autowrap/.gitignore
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/contracts/Manager.sol
  packages/automation-contracts/autowrap/deploy/deploy.js
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/autowrap/script/addStrategy.js
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/.env-template
  packages/automation-contracts/scheduler/.gitignore
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/package.json
  yarn.lock
Due: none

[ETHEREUM-CONTRACTS] Misc improvements of ops tooling (#1224)
  .github/workflows/handler.run-ethereum-contracts-script.yml
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/scripts/info-show-protocol.js
  packages/ethereum-contracts/scripts/libs/common.js
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

MAX_APP_CALLBACK_LEVEL public
  packages/ethereum-contracts/ops-scripts/info-show-protocol.js
Due: ethereum-contracts

Auto Wrap deployment
  packages/automation-contracts/autowrap/README.md
Due: none

Scheduler Deployments
  packages/automation-contracts/scheduler/README.md
Due: none

dev-scripts cleanup
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/dev-scripts/runDeployContractsAndToken.js
  packages/ethereum-contracts/tsconfig.scripts.json
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  yarn.lock
Due: ethereum-contracts, sdk-core

update package.json
  packages/automation-contracts/scheduler/package.json
Due: none

[ETHEREUM-CONTRACTS] | Issue #1220 | Split SuperfluidFrameworkDeployer into libraries (#1226)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/TestResolver.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/tasks/print-contract-sizes.sh
  yarn.lock
Due: ethereum-contracts

update deploy script
  packages/automation-contracts/autowrap/deploy/deploy.js
Due: none

update deployment
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/deploy/deploy.js
Due: none

update yarn.lock
  yarn.lock
Due: none

update
  packages/automation-contracts/autowrap/yarn.lock
  packages/automation-contracts/scheduler/yarn.lock
  yarn.lock
Due: none

deployContractsAndToken fix
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
