Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

Update flake.nix
  flake.nix
Due: none

[subgraph][fix] explicitly build in the subgraph deploy script for Goldsky (#1925)
  .github/workflows/call.deploy-subgraph.yml
  flake.nix
  packages/subgraph/tasks/deploy.sh
Due: none

Update handler.deploy-production-subgraphs.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

keep V1 contract, separate V2 explicitly
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

update deploy script for v2
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/package.json
Due: none

Update SuperTokenV1Library.sol:getGDANetFlowInfo
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

Update SuperTokenV1Library.sol:getGDANetFlowInfo (#1926)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

added degenchain
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

fix a big of shift_flow2a(BP, BP)
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/TokenEff.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

SemanticMoney: replace inv() with unary '-' operator
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

build ethereum-contracts when solidity library updated
  tasks/check-changeset.sh
Due: none

SemanticMoney: complete set of user defined operators
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

bump metadata version
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
Due: none

removed subgraph field from metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Aggregated improvements of solidity semantic money library (#1928)
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/TokenEff.sol
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
  tasks/check-changeset.sh
Due: none

added (undocumented) cliname, added to vendor superfluid
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/tasks/deploy.sh
Due: none

[METADATA] added degenchain (#1927)
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts

Update metadata for SDK core to support Degen chain
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

Update changelog
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
Due: sdk-core

Update metadata for SDK core to support Degen chain (#1930)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

added support for vendor airstack, version bump to 1.7.1
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy.sh
Due: none

added cabal.project.freeze
  packages/spec-haskell/cabal.project.freeze
Due: none

disable BUILD_SPEC_HASKELL
  tasks/check-changeset.sh
Due: none

[SUBGRAPH] 1.7.1 release (#1932)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/spec-haskell/cabal.project.freeze
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy.sh
  tasks/check-changeset.sh
Due: none

lowercase if address
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
Due: sdk-core

lowercase if address (#1933)
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/subgraph/subgraphQueryHandler.ts
Due: sdk-core

disable spec haskell
  .github/workflows/ci.canary.yml
Due: none

fix build
  .github/workflows/ci.canary.yml
  packages/spec-haskell/cabal.project.freeze
Due: none

disable ghc9.2
  .github/workflows/call.test-spec-haskell.yml
Due: none

add more file deps to .github/workflows/ci.canary.yml
  .github/workflows/ci.canary.yml
Due: none

increase callback gas limit to 15M
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

more readable
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

unify deploy scripts
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/autowrap/package.json
Due: none

bump sdk versions
  packages/sdk-core/CHANGELOG.md
  packages/sdk-redux/package.json
Due: sdk-core

changelog
  packages/sdk-redux/CHANGELOG.md
Due: none

[sdk-core][sdk-redux][chore] prepare package release (#1934)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
Due: sdk-core

remove polygon mumbai references
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.verify-contracts.yml
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/test/getConfig.test.js
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/tasks/deploy.sh
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/chainIds.ts
  sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
  tasks/daily-slack-bot.js
Due: ethereum-contracts, sdk-core

remove polygon mumbai references (#1935)
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.verify-contracts.yml
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/test/getConfig.test.js
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/tasks/deploy.sh
  sdk-redux-examples/sdk-redux-nextjs-typescript/redux/chainIds.ts
  sdk-redux-examples/sdk-redux-react-typecript/src/wagmiAndRainbowKit.ts
  tasks/daily-slack-bot.js
Due: ethereum-contracts, sdk-core

use newer host.registerApp & unify deploy scripts
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/.env.example
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/.env.example
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none
