Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

add support for custom protocol release versions (#1330)
  packages/sdk-core/src/Framework.ts
Due: sdk-core

Populate tx with signer when getting signed transaction
  packages/sdk-core/src/Operation.ts
Due: sdk-core

out of gas lib
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
Due: ethereum-contracts

coverage fixes
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

temp test
  .github/workflows/ci.feature.yml
Due: none

Changelog
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

remove temp test code
  .github/workflows/ci.feature.yml
Due: none

Update Operation.ts (#1323)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/Operation.ts
Due: sdk-core

ci canary fix
  .github/workflows/ci.canary.yml
Due: none

Issue #256 | Try/Catch FlowNFT Hooks (#1329)
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

ci canary fix (#1331)
  .github/workflows/ci.canary.yml
Due: none

Remove waitForConfirmation
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/DeleteStream.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/DistributeToIndex.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowCreate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/FlowUpdate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexCreate.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexDeleteSubscription.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionApprove.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionClaim.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexSubscriptionRevoke.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/IndexUpdateSubscriptionUnits.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenDowngrade.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/features/SuperTokenUpgrade.tsx
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/README.md
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/flowEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/indexEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/superTokenEndpoints.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
Due: none

Rename to
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/flowEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/indexEndpoints.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/rpcApiSlice/endpoints/superTokenEndpoints.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateOldPendingTransactionsTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Due: none

coding style fixups
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/Setup.spec
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperTokenPool.sol
Due: none

[IMPORTANT] introduce TokenMonad to simplify storage accesses
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperTokenPool.sol
Due: none

add rem, and use it in quotrem
  packages/solidity-semantic-money/src/SemanticMoney.sol
Due: none

more certora verifications
  packages/solidity-semantic-money/certora/Setup.spec
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

use relative links for semantic money code for now
  packages/solidity-semantic-money/src/ref-impl/ISuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperTokenPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperTokenPool.sol
Due: none

Simplify TransactionResponse type
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
Due: none

initial README.md
  packages/automation-contracts/streaming-invoice/README.org
Due: none

Handle replaced transaction tracking
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/ethersError.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Due: none

Use from TransactionResponse to track TX more reliably
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/ethersError.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/registerNewTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/waitForOneConfirmation.ts
Due: none

Update deploy-to-satsuma.sh
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

Bump version
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/package.json
Due: none

updated README.md
  packages/automation-contracts/streaming-invoice/README.org
Due: none

Use warning over an error
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
Due: none

Update README.org
  packages/automation-contracts/streaming-invoice/README.org
Due: none

updated folder address and readme
  packages/automation-contracts/auto-unwrap-helpers/README.org
Due: none

gda wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/temp/GDADeployer.sol
  packages/ethereum-contracts/scripts/gda-demo-script.ts
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
Due: ethereum-contracts

some certora rule updates
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

adapted verification
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

split token monad out
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
Due: none

WIP certora invariant
  packages/solidity-semantic-money/certora/ToySuperToken.spec
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken_certora.sol
Due: none

add sload hooks
  packages/solidity-semantic-money/certora/ToySuperToken.spec
Due: none

WIP certora invariances
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/certora/ToySuperToken.invariances.spec
  packages/solidity-semantic-money/certora/ToySuperToken.methods.spec
  packages/solidity-semantic-money/certora/ToySuperToken.rules.spec
  packages/solidity-semantic-money/certora/ToySuperToken.spec
Due: none

workflow and bash scripts cleanup
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
Due: none

Revert "workflow and bash scripts cleanup"
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
  packages/subgraph/tasks/deploy-all-networks.sh
  packages/subgraph/tasks/deploy-all-satsuma-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service.sh
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

fix actionlint errors
  .github/workflows/call.deploy-subgraph.yml
Due: none

quicker iteration tests
  .github/workflows/call.deploy-subgraph.yml
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
