Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

add more data to pool member events
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

start testing pool member total received amount (wip)
  packages/subgraph/tests/bugs/2024-03-07-pool-member-total-amount-received.test.ts
  packages/subgraph/tests/bugs/2024-09-26-pool-member-total-amount-received.test.ts
Due: none

handle adjustment flow properly, remove unnecessary field
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/entities/poolMember/poolMember.ts
  packages/sdk-core/src/subgraph/entities/poolMember/poolMembers.graphql
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/bugs/2024-09-26-pool-member-total-amount-received.test.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: sdk-core

use pool interfaces
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

payable macro forwarder and related use case
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

overloading
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
Due: ethereum-contracts

comment on brickability
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

new deployment on testnets
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

chore: update token list
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

chore: update token list (#2026)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

small natspec correction
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
Due: ethereum-contracts

update addresses in metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

bump version of metadata and ethereum-contracts
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

renamings to better reflect the idiomatic way we developed for Macros
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] payable macro forwarder (#2025)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/ForwarderBase.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

test failure causes exit
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

Subgraph SDK core test failure causes exit (#2031)
  .github/workflows/handler.deploy-production-subgraphs.yml
Due: none

AT0084700000000000000000006010901remove ida functionality from SuperTokenV1Library, IDAv1Library
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/IDAv1LibraryMock.t.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.t.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

also removing CFAv1Library and IDAForwarder
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.t.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.t.sol
  packages/ethereum-contracts/contracts/utils/IDAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/utils/IDAv1Forwarder.t.sol
  packages/ethereum-contracts/testsuites/apps-contracts.ts
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

automation contracts still need a copy of CFAv1Library
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/utils/CFAv1Library.sol
Due: none

remove ida functionality from SuperTokenV1Library, IDAv1Library
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/apps/IDAv1Library.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/IDAv1LibraryMock.t.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.t.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

remove from hotfuzz
  packages/hot-fuzz/contracts/SuperfluidTester.sol
Due: none

fix StreamRedirector
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.t.sol
Due: none

distributeToPool -> distribute
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.t.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

remove ida from hotfuzz
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/InstantDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
  packages/hot-fuzz/hot-fuzz
Due: none

more ida purging from hotfuzz
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/IDAHotFuzz.yaml
Due: none

deleted too much
  packages/hot-fuzz/hot-fuzz
Due: none

add setFlowrate and setFlowrateFrom
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/apps/SuperTokenV1Library.t.sol
Due: ethereum-contracts

added flowX and transferX
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/apps/SuperTokenV1Library.t.sol
Due: ethereum-contracts

remove createPool with bool args
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

remove legacy VestingScheduler
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

migrate FlowScheduler to SuperToken lib
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/FlowSchedulerResolver.sol
Due: none

migrated VestingSchedulerV2
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/utils/CFAv1Library.sol
Due: none

updated README and package.json
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/package.json
Due: none

make getFlowRate and getFlowInfo generic and add CFA specific variants
  packages/ethereum-contracts/contracts/apps/CFASuperAppBase.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.t.sol
Due: ethereum-contracts

removed updateMemberUnits, belongs to pool iface
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts
