Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

nodemon config ignore
  packages/subgraph/nodemon.json
  packages/subgraph/package.json
Due: none

Update to latest versions of dependencies: sdk-redux-react-typescript
  packages/sdk-redux-examples/sdk-redux-react-typecript/config-overrides.js
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/index.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

IDA event tests
  packages/subgraph/.gitignore
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/cfav1.test.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/host/host.event.test.ts
  packages/subgraph/tests/host/host.test.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/idav1/idav1.helper.ts
  packages/subgraph/tests/idav1/idav1.test.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

Fix Next JS example with latest packages
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/README.md
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/_app.tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/ssg/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/ssr/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/redux/store.ts
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/yarn.lock
Due: none

Update SDK-s to the latests
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

[SDK-redux] Update example projects (#1173)
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/README.md
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/package.json
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/_app.tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/ssg/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/pages/tokens/ssr/[name].tsx
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/redux/store.ts
  packages/sdk-redux-examples/sdk-redux-nextjs-typescript/yarn.lock
  packages/sdk-redux-examples/sdk-redux-react-typecript/config-overrides.js
  packages/sdk-redux-examples/sdk-redux-react-typecript/package.json
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/App.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/src/index.tsx
  packages/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

skipLibCheck=true
  packages/sdk-redux/tsconfig.json
Due: none

skipLibCheck=true (#1175)
  packages/sdk-redux/tsconfig.json
Due: none

supertoken event entity mapping tests
  packages/subgraph/schema.graphql
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
  packages/subgraph/tests/superToken/superToken.test.ts
Due: none

package updates
  package.json
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  yarn.lock
Due: ethereum-contracts, sdk-core

updated sdk-redux package
  packages/sdk-redux/package.json
  yarn.lock
Due: none

package updates
  package.json
  yarn.lock
Due: none

remove outdated instructions
  packages/subgraph/README.md
Due: none

De-duplicate dependencies in yarn.lock
  yarn.lock
Due: none

simplify as suggested
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
Due: ethereum-contracts

Build dependencies first when publishing package
  .github/workflows/handler.publish-release-packages.yml
Due: none

fix natspec
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
Due: ethereum-contracts

[MONOREPO] package updates (#1176)
  package.json
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-redux/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

assert name field
  packages/subgraph/tests/assertionHelpers.ts
Due: none

Build dependencies first when publishing package (#1182)
  .github/workflows/handler.publish-release-packages.yml
Due: none

[SUBGRAPH] Subgraph Matchstick Unit Tests (#1172)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  packages/subgraph/.gitignore
  packages/subgraph/README.md
  packages/subgraph/matchstick.yaml
  packages/subgraph/nodemon.json
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/cfav1/cfav1.helper.ts
  packages/subgraph/tests/cfav1/event/cfav1.event.test.ts
  packages/subgraph/tests/cfav1/hol/cfav1.hol.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/host/host.event.test.ts
  packages/subgraph/tests/host/host.helper.ts
  packages/subgraph/tests/idav1/event/idav1.event.test.ts
  packages/subgraph/tests/idav1/idav1.helper.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/mockedFunctions.ts
  packages/subgraph/tests/resolver/resolver.helper.ts
  packages/subgraph/tests/resolver/resolver.test.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superToken/superToken.helper.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.helper.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.helper.ts
  packages/subgraph/tests/superfluidGovernance/superfluidGovernance.test.ts
  yarn.lock
Due: none

more flavours of forwarder
  packages/ethereum-contracts/contracts/utils/CFAv1ForwarderMinimal.sol
  packages/ethereum-contracts/contracts/utils/CFAv1ForwarderSeparate.sol
Due: ethereum-contracts

cfa lib: canonical argument order & remove variants with userData and ctx
  packages/ethereum-contracts/contracts/apps/CFAv1Library.sol
  packages/ethereum-contracts/contracts/mocks/CFALibraryMock.sol
  packages/ethereum-contracts/contracts/mocks/StreamRedirector.sol
Due: ethereum-contracts

add configurable eip-1559 fees & default for matic
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

fix breaking logic root cause
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

more descriptive name
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
Due: none

[SUBGRAPH] Fix resolver breaking logic (#1184)
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/mockedFunctions.ts
Due: none

fix info script
  packages/ethereum-contracts/scripts/info-show-protocol.js
Due: ethereum-contracts

autodetect gov admin type
  packages/ethereum-contracts/contracts/interfaces/utils/IMultiSigWallet.sol
  packages/ethereum-contracts/scripts/libs/common.js
Due: ethereum-contracts

add deposit to agreement liquidated v1/v2 events
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

should map stream instead of deposit
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

update property name
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/mockedEntities.ts
Due: none

bad push
  packages/subgraph/src/mappings/superToken.ts
Due: none

[SUBGRAPH] Add `deposit` field to `AgreementLiquidatedByEvent`/`AgreementLiquidatedV2Event` (#1189)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/converters.ts
  packages/subgraph/tests/mockedEntities.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

allow to skip token info
  packages/ethereum-contracts/scripts/info-show-protocol.js
Due: ethereum-contracts

fix hardhat ethers dependency bug
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-redux/tsconfig.json
Due: sdk-core

bump versions
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/sdk-redux/tsconfig.json
  packages/subgraph/package.json
Due: sdk-core

CHANGELOG cleanup
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

flowRateAtLiquidation field for DATA
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

deploy-subgraph-changes
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/ci.canary.yml
  .github/workflows/handler.deploy-subgraph.yml
Due: none
