Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

added new supported subgraphs (#1761)
  packages/subgraph/tasks/deploy.sh
Due: none

take relative path
  package.json
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getHostedServiceNetworks.ts
Due: none

skip FlowNFT contracts if not deployed
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
Due: ethereum-contracts

undo: disable sdk-redux build
  package.json
Due: none

remove duplicate verification
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

subgraph mapping addition
  packages/subgraph/src/mappings/gdav1.ts
Due: none

bump oz to 5.0.1
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

update changelog too
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

yarnlock
  yarn.lock
Due: none

wip
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/sdk-core/contracts/NoGetUnderlyingToken.sol
  packages/sdk-core/contracts/SuperAppTester.sol
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
  packages/solidity-semantic-money/test/ref-impl/CertoraHarness.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: sdk-core

bump packages
  package.json
  yarn.lock
Due: none

update lockfile
  yarn.lock
Due: none

fix lint
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/pagination.ts
  packages/sdk-core/src/utils.ts
Due: ethereum-contracts, sdk-core

type fix
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

type fix (#1771)
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
Due: sdk-core

readme fix
  README.md
Due: none

base goerli cliName added + bumped versions all around (#1759)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

wip
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

bump versions
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/schema.graphql
Due: ethereum-contracts, sdk-core

mapping
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

upload audit report
  packages/ethereum-contracts/audits/Superfluid - Finance GDA - Comprehensive Report with Fix Review.pdf
Due: ethereum-contracts

changes since audit file added
  packages/ethereum-contracts/audits/changes-since-ToB-2023-audit.md
Due: ethereum-contracts

bump packages
  package.json
  packages/ethereum-contracts/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts

package update revert
  package.json
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

Revert "bump packages"
  package.json
  packages/ethereum-contracts/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts

package updates w/o breakage
  package.json
  packages/ethereum-contracts/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts

better terminology
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix init mapping
  packages/subgraph/src/mappingHelpers.ts
Due: none

divide by zero error
  packages/subgraph/src/mappingHelpers.ts
Due: none

update nix flake inputs: foundry flake-utils
  flake.lock
Due: none

bump monorepo packages round 1 (#1770)
  flake.lock
  package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/pagination.ts
  packages/sdk-core/src/utils.ts
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

[SUBGRAPH] Gda total amount received (#1773)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

[ETHEREUM-CONTRACT] add deployment view of Superfluid framework
  packages/ethereum-contracts/docs/deployment-view.drawio
Due: ethereum-contracts

fix flaky test
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] docs: update deployment-view.drawio
  packages/ethereum-contracts/docs/deployment-view.drawio
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
