Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

final impl with tests
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/mocks/UUPSProxiableMock.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
  packages/ethereum-contracts/scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
Due: ethereum-contracts

test for factory and token logic
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.js
Due: ethereum-contracts

Rename error 'code' back to 'type'
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/src/validation.ts
Due: sdk-core

Add fallback for Error.cause and assert it in tests
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

Better Subgraph error message
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

Add 'caused by' to error message
  packages/sdk-core/src/SFError.ts
Due: sdk-core

Fix tests
  packages/sdk-core/src/SFError.ts
Due: sdk-core

Subgraph 1.4.4 (#957)
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test-subgraph.template.yaml
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/test/subgraph.test.ts
Due: sdk-core

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

satisfy eslint
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

accomodate non-upgradable case
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
Due: ethereum-contracts

change order for consistency reasons (no semantic change)
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
Due: ethereum-contracts

Initialize logic contracts on deployment (using "castrate") (#841)
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceII.sol
  packages/ethereum-contracts/contracts/mocks/UUPSProxiableMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/upgradability/UUPSProxiable.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.js
Due: ethereum-contracts

Add '.generated' suffix to AJV validations and include in build pipeline
  packages/sdk-core/package.json
  packages/sdk-core/scripts/ajv.ts
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/ajvValidations.generated.js
  packages/sdk-core/src/validation.js
Due: sdk-core

app credit behavior model wip
  packages/ethereum-contracts/test/contracts/utils/AppCredit.behavior.ts
Due: ethereum-contracts

updated sdk core in sdk redux ex
  examples/sdk-redux-examples/sdk-redux-react-typecript/package.json
  examples/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

replace lockfile
  examples/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

update nftbillboard lockfile
  examples/nftbillboard-userdata/yarn.lock
Due: none

[SDK-core] Compile AJV validations (#954)
  packages/sdk-core/package.json
  packages/sdk-core/scripts/ajv.ts
  packages/sdk-core/scripts/ajvCustomFormats.js
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/ajvValidations.generated.js
  packages/sdk-core/src/constants.ts
  packages/sdk-core/tsconfig.json
Due: sdk-core

Update Query.ts
  packages/sdk-core/src/Query.ts
Due: sdk-core

test minimal fix
  packages/sdk-core/src/Query.ts
  packages/sdk-core/tsconfig.test.json
Due: sdk-core

new yarn.lock and --frozen-lockfile
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/tasks/testenv-ctl.sh
  yarn.lock
Due: none

SDK-Core Build Fix (#963)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/sdk-core/src/Query.ts
  packages/sdk-core/tsconfig.test.json
  packages/subgraph/tasks/testenv-ctl.sh
  yarn.lock
Due: sdk-core

bump sdk-core version to 0.5.0
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

set allowJs to true
  packages/sdk-core/tsconfig.json
Due: sdk-core

bump sdk-core version to 0.5.0 (#964)
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

(WIP) using lenses
  packages/spec-haskell/packages/core/src/Money/MoneyUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MoneyUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
Due: none

Subgraph 1.4.4 Release Bump | SDK-Core 0.4.5 Release Bump (#955)
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

(WIP) using lenses
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/Universalndexes.hs
Due: none

using lenses
  packages/spec-haskell/packages/core/src/Lens/Internal.hs
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/Universalndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MoneyUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
Due: none

AppCredit WIP
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/test/contracts/utils/AppCredit.behavior.ts
Due: ethereum-contracts

TaggedTypeable
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Data/Type/TaggedTypeable.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
Due: none
