Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

more comment about fixed-point arithmetic
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

certora wip: make it pooless again
  packages/solidity-semantic-money/certora/ToySuperToken.rules.spec
Due: none

fix buffer logic
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

make foundry profile.ci offline mode true
  packages/ethereum-contracts/foundry.toml
Due: ethereum-contracts

using latest foundry snapshot
  flake.lock
Due: none

truffle isn't ready to use the native compiler
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

foundry: use native compiler
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

use Nix provided shellcheck instead of allowing implicit downloads
  package.json
  tasks/shellcheck-all-tasks.sh
  yarn.lock
Due: none

so, no access to the env of the shell in the workflow env section
  .github/workflows/ci.feature.yml
Due: none

use native solc for foundry
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/scheduler/foundry.toml
Due: none

use Nix wherever contracts are built
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

added jq to flake, updated CONTRIBUTING.md
  CONTRIBUTING.md
  flake.nix
Due: none

be less verbose
  tasks/shellcheck-all-tasks.sh
Due: none

undo merging of steps
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
Due: none

update graph dependency to include sepolia support
  .github/workflows/ci.canary.yml
  packages/subgraph/package.json
  yarn.lock
Due: none

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

comment cleanup
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

comment out gda ops
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
Due: ethereum-contracts

remove tests
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.unit.sol
Due: ethereum-contracts

make shellcheck mandatory for CI
  tasks/shellcheck-all-tasks.sh
Due: none

typo
  CONTRIBUTING.md
Due: none

.shellcheckrc
  .shellcheckrc
Due: none

added ci-nodeXX devShells support
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

fix typo
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/ci.canary.yml
Due: none

fix typo
  .github/workflows/ci.feature.yml
Due: none

remove incorrect caching usage
  .github/workflows/call.test-spec-haskell.yml
Due: none

use ndoejs specific yarn
  flake.nix
Due: none

use internal host
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

Use fuji as canary testnet & Nixify some workflws (#1373)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-hosted-service-subgraph.yml
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.verify-contracts.yml
  .shellcheckrc
  CONTRIBUTING.md
  flake.lock
  flake.nix
  package.json
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/scheduler/foundry.toml
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/hardhat.config.ts
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-satsuma-network.sh
  tasks/shellcheck-all-tasks.sh
  yarn.lock
Due: ethereum-contracts

use internal host (#1375)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] 1.6.0 Release (#1372)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/solidity-semantic-money/package.json
Due: ethereum-contracts, sdk-core

benchmark the bottlenecks
  .github/workflows/ci.feature.yml
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/types.ts
Due: ethereum-contracts

buffer stuff
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

Update TestEnvironment.ts
  packages/ethereum-contracts/test/TestEnvironment.ts
Due: ethereum-contracts

aqueduct small refactoring
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
Due: none

small improvement to test setup
  packages/solidity-semantic-money/Makefile
  packages/solidity-semantic-money/foundry.toml
Due: none

added test_pool_random_seqs for new counter cases
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

api improvement to distributeFlow
  packages/solidity-semantic-money/src/TokenMonad.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperfluidToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
Due: none

naming + events
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenPool.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Mock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenPool.sol
Due: ethereum-contracts

fix build issue
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
