Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

cleanup pt1
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

Some improvements of github workflows (#1389)
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/foundry.toml
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
  packages/hot-fuzz/package.json
  packages/hot-fuzz/truffle-config.js
Due: ethereum-contracts

rename SuperAppBaseCFA
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
Due: ethereum-contracts

add comments
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

fix automation-contracts
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/foundry.toml
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
Due: none

fix build
  .github/workflows/ci.feature.yml
Due: none

[ETHEREUM-CONTRACTS] Foundry test guidelines (#1379)
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTUpgradabilityMock.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.ACL.t.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseCFA.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSmoke.t.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.prop.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

Rename SuperAppBaseCFA (#1381)
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppBaseFlow.t.sol
Due: ethereum-contracts

Update README.md
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] README on forge install (#1352)
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

update inputs, disabling echidna temporarily
  .github/workflows/call.test-spec-haskell.yml
  flake.lock
  flake.nix
  packages/spec-haskell/pkgs/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/pkgs/semantic-money/semantic-money.cabal
  packages/spec-haskell/pkgs/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/pkgs/validator/superfluid-protocol-spec-validator.cabal
Due: none

fix build
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

prepare sdk-core 0.6.4 release
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
Due: sdk-core

SuperTokenPool => SuperfluidPool
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

Update package.json
  packages/subgraph/package.json
Due: none

remove test breaking in build
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[SDK-core] prepare sdk-core 0.6.4 release (#1391)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

fixes as per review comment, and updated ticket
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

fixes as per review comment, and updated ticket (#1392)
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superToken.ts
Due: none

feat: updated test and pool interface
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/ISuperTokenPool.cairo
  packages/starknet-contracts/src/pools/library.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/src/utils/account/ITestAccount.cairo
  packages/starknet-contracts/src/utils/account/TestAccountImpl.cairo
  packages/starknet-contracts/src/utils/account/library.cairo
  packages/starknet-contracts/tests/test_aqueduct.cairo
  packages/starknet-contracts/tests/test_aqueduct_library.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
  packages/starknet-contracts/tests/test_super_token.cairo
Due: none

feat: updated super token interface
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
Due: none

rename networks.json to hosted-service-networks
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/subgraph/README.md
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
Due: sdk-core

missed a spot
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

[SUBGRAPH] rename networks.json to hosted-service-networks (#1393)
  packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/README.md
  packages/subgraph/hosted-service-networks.json
  packages/subgraph/tasks/deploy-all-hosted-service-networks.sh
Due: sdk-core

bring coverage up
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

reduce some gda pr noise
  .github/workflows/ci.feature.yml
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/foundry.toml
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

Update deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

fix build attempt
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

Update .solcover.js
  packages/ethereum-contracts/.solcover.js
Due: ethereum-contracts

minor test cleanups
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

[WORKFLOWS/ETHEREUM-CONTRACTS] reduce some gda pr noise (#1394)
  .github/workflows/ci.feature.yml
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/foundry.toml
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/ethereum-contracts/.solcover.js
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

test wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

SuperfluidUpgradeableBeaconTest test contract
  packages/ethereum-contracts/contracts/upgradability/SuperfluidUpgradeableBeacon.sol
  packages/ethereum-contracts/test/foundry/upgradability/SuperfluidUpgradeableBeacon.t.sol
Due: ethereum-contracts

Added, account token settings and query required for Permission and Allowance feature (Dashboard).
  packages/sdk-core/src/subgraph/entities/accountAccessSetting/accountAccessSetting.ts
  packages/sdk-core/src/subgraph/entities/accountAccessSetting/accountAccessSettings.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

added lookup for account (sender field) and accountTokenSnapshot - flow operator entity
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/superToken/hol/supertoken.hol.test.ts
Due: none

added lookup for account (sender field) and accountTokenSnapshot - flow operator entity (#1398)
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/superToken/hol/supertoken.hol.test.ts
Due: none

Update ci.canary.yml
  .github/workflows/ci.canary.yml
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
