Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

comment review WIP
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

Be more explicit with comment
  packages/sdk-core/src/events.ts
Due: sdk-core

[SDK-core] Add StreamId to FlowUpdatedEvent when querying from Subgraph (#1270)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  yarn.lock
Due: sdk-core

fix build and cleanup
  .github/workflows/ci.canary.yml
  .gitignore
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

add getFlow to SuperToken
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
Due: ethereum-contracts

split deployers
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/test/foundry/DeployerBase.t.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

NFT proxy deployment
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidNFTDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

SuperfluidNFTDeployer added
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidDevNFTDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

fix up automations tests
  packages/automation-contracts/autowrap/test/Manager.t.sol
  packages/automation-contracts/autowrap/test/SuperfluidTester.sol
  packages/automation-contracts/autowrap/test/WrapStrategy.t.sol
  packages/automation-contracts/autowrap/test/WrapUp.t.sol
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/SuperfluidTester.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
Due: none

clean up ci.canary comment
  .github/workflows/ci.canary.yml
Due: none

fix breaking test
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
Due: ethereum-contracts

fix up tsconfigs
  packages/ethereum-contracts/tsconfig.json
  packages/sdk-core/tsconfig.json
Due: ethereum-contracts, sdk-core

feat: added ISuperToken interface
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
Due: none

fixes + cleanup
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/sdk-core/test/2_operation.test.ts
Due: ethereum-contracts, sdk-core

fix the sdk-core build
  packages/sdk-core/tsconfig.json
  packages/sdk-core/tsconfig.test.json
Due: sdk-core

should use same value
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

liquidations test WIP
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

cleanup continued
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
Due: ethereum-contracts

cleanup continued
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
Due: ethereum-contracts

cleanup continued
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTMocks.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

remove SuperfluidDevNFTDeployer
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidDevNFTDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

permission control mint/burn
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

add new updateLogicContracts
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
Due: ethereum-contracts

add sanity check test
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

move creation to helpers
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

bump to node 18
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.deploy-to-mainnet.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

mock and tests
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/test/contracts/apps/SuperAppBaseFlow.test.ts
Due: ethereum-contracts

bump solc to 0.8.16
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowMock.sol
Due: ethereum-contracts

fixing hot-fuzz
  flake.lock
  flake.nix
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/package.json
  packages/hot-fuzz/truffle-config.js
  yarn.lock
Due: none

fix build
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.prop.sol
Due: none

fix: corrected ISuperToken
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/libraries/SemanticMoney.cairo
Due: none

migration test and gas test
  packages/ethereum-contracts/.gitignore
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/foundry/deployments/ERC20xDeployment.t.sol
  packages/ethereum-contracts/test/foundry/performance/Gas.t.sol
Due: ethereum-contracts

add cairo_contracts
  .gitmodules
Due: none

feat: added implementation of flow1 and flow2
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/SuperToken.cairo
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/libraries/SemanticMoney.cairo
Due: none

forge install: forge-std
  .gitmodules
Due: none

feat: added shift1 and shift2
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/libraries/SemanticMoney.cairo
  packages/starknet-contracts/src/tokens/SuperToken.cairo
  packages/starknet-contracts/src/tokens/library.cairo
Due: none

more fixes
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
  packages/hot-fuzz/tasks/digest-corpus
Due: none

make digest-corpus better
  packages/hot-fuzz/tasks/digest-corpus
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
