Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

tokenless uploads
  .github/workflows/ci.feature.yml
Due: none

fix build
  packages/ethereum-contracts/ops-scripts/deploy-aux-contracts.js
  packages/sdk-core/test/4_governance.test.ts
Due: ethereum-contracts, sdk-core

Update SuperTokenV1Library.sol: make isMemberConnected internal
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

some slither related fix
  packages/solidity-semantic-money/.gitignore
Due: none

echidna fixes wip
  packages/hot-fuzz/.gitignore
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/foundry.toml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
  packages/hot-fuzz/truffle-config.js
Due: none

add explorer api key, fix factory addr
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/compare-committed-against-build.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/config/polygon-zkevm-testnet.json
Due: ethereum-contracts

Update ci.feature.yml
  .github/workflows/ci.feature.yml
Due: none

upgrades hardhat packages
  package.json
Due: none

bump metadata version to 1.1.10
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

bump sdk-core version
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

minor upgrades of packages
  package.json
Due: none

updates dependencies
  yarn.lock
Due: none

[ETHEREUM-CONTRACTS] fix polygon-zkevm-testnet (#1546)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/compare-committed-against-build.sh
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/config/polygon-zkevm-testnet.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

sets verbose to true
  .github/workflows/ci.feature.yml
Due: none

#1540 Add codecov_token to avoid rate limits (#1543)
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

test codeccov forked PR
  .github/workflows/ci.feature.yml
Due: none

workflow housekeeping
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.placeholder-for-testing.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

workflow housekeeping (#1552)
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.packages-stable.create-release-drafts.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.placeholder-for-testing.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
Due: none

cleanup and wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

gda test cleanup
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

add assertions for distribute claimable
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

check actual flow rate
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

final helper assertion for distribute flow
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

default shell uses node18
  flake.nix
  package.json
  yarn.lock
Due: none

added two new totalNumberOfHolders and totalNumberOfAccounts fields into Tokenstatistic and its log entity
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
  packages/subgraph/tests/superTokenFactory/superTokenFactory.test.ts
Due: none

incremented patch version
  packages/subgraph/package.json
Due: none

minimum dev shell uses node20
  flake.nix
Due: none

subgraph progress
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/utils.ts
Due: ethereum-contracts

subgraph wip
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
Due: ethereum-contracts

added case to test TokenStatistic::totalNumberOfHolders should decrease its count when a user transfers tokens and the balance reaches 0.
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

use registerAppWithKey
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

superfluidpool mapping
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

Update mappingHelpers.ts
  packages/subgraph/src/mappingHelpers.ts
Due: none

use registerAppWithKey (#1554)
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/foundry/apps/SuperAppTester/FlowSplitter.sol
Due: ethereum-contracts

bump subgraph versions test + update yarn.lock
  packages/subgraph/package.json
  yarn.lock
Due: none

keep public & external SuperToken methods virtual to facilitate creation of customized logic
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
Due: ethereum-contracts

also make internal methods for transfer/mint/burn virtual
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

virtual _upgrade and _downgrade
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

subgraph tests wip
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/subgraph/.prettierrc.js
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/gdav1.helper.ts
Due: ethereum-contracts
