Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

bumping ethereum-contracts version to 1.10.0
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

[ETHEREUM-CONTRACTS] Release 1.10.0 (#1988)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

gov-upgrade-super-token-logic: auto-include tokens using the previous canonical logic
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

fix multisig detection
  packages/ethereum-contracts/ops-scripts/gov-transfer-framework-ownership.js
Due: ethereum-contracts

disable FlowNFT hooks
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

remove unused imports
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
Due: ethereum-contracts

?
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

don't update IDA, don't update FlowNFTs, remove bad test code
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

remove obsolete tests
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

fix deploy script for tests
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

updated CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

chore: no-op for pull request diff
  README.md
Due: none

[AUTOMATIONS] Vesting Scheduler - add claimable schedule feature (#1944)
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

[automations] Vesting Scheduler V2 ergonomic improvements (#1904)
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/.env.example
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/.env.example
  packages/automation-contracts/scheduler/audit/generate_diffs.sh
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

[automations] VestingSchedulerV2 add helpful view functions (#1965)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

fix: check if schedule is claimed on executeEndVesting
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
Due: none

[AUTOMATIONS] VestingSchdulerV2 improvements (#1963)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

[AUTOMATIONS] VestingSchedulerV2 claim after end date (#1964)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

add tests & fixes
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

refactor: unify `createVestingScheduleFormAmountAndDuration` and `createClaimableVestingScheduleFormAmountAndDuration` functions
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

refactor: reoder `createVestingScheduleFromAmountAndDuration` function params
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

[automations] Vesting Scheduler V2 refactoring after single-transfer feature (#1969)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

feat: added remainderAmount in `VestingScheduleUpdated`
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

refactor: unify `createClaimableVestingSchedule` and `createVestingSchedule` functions
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

test: increased `getMaximumNeededTokenAllowance` coverage
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

chore: add optimism hardhat config
  packages/automation-contracts/scheduler/.env.example
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/hardhat.config.js
Due: none

[automations] Vesting scheduler v2 - fix & v1 compatibility (#1977)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
Due: none

refactor: re-order functions for better readability
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
Due: none

[automations] Vesting Scheduler V2 final clean-up (#1973)
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

[automations][epic] Vesting Scheduler V2 (#1952)
  README.md
  packages/automation-contracts/autowrap/.env-example
  packages/automation-contracts/autowrap/.env.example
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/.env-example
  packages/automation-contracts/scheduler/.env.example
  packages/automation-contracts/scheduler/audit/generate_diffs.sh
  packages/automation-contracts/scheduler/contracts/FlowScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingScheduler.sol
  packages/automation-contracts/scheduler/contracts/VestingSchedulerV2.sol
  packages/automation-contracts/scheduler/contracts/interface/IVestingSchedulerV2.sol
  packages/automation-contracts/scheduler/deploy/deploy.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/automation-contracts/scheduler/package.json
  packages/automation-contracts/scheduler/test/FlowScheduler.t.sol
  packages/automation-contracts/scheduler/test/FlowSchedulerResolver.t.sol
  packages/automation-contracts/scheduler/test/VestingScheduler.t.sol
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.t.sol
Due: none

not in this PR
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

flowNFT purging
  packages/ethereum-contracts/contracts/apps/SuperfluidLoaderLibrary.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IFlowNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.t.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.t.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTUpgradabilityMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.prop.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
Due: ethereum-contracts

more removal, changing subgraph too. WIP
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/hot-fuzz/hot-fuzz
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantInflowNFT.ts
  packages/sdk-core/src/ConstantOutflowNFT.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/FlowNFTBase.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/config/mock.json
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: ethereum-contracts, sdk-core

fix tests & devcontainer
  .devcontainer/devcontainer.json
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

fetch newest schema and fix sdk-core build
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/handler.publish-release-packages.yml
  packages/sdk-core/package.json
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

bump sdk-redux version
  packages/sdk-redux/package.json
Due: none

appease linter
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/SuperToken.ts
Due: sdk-core

remove from verification script
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

remove ApprovalForAllEvent
  packages/sdk-core/src/events.ts
Due: sdk-core

one more
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
