Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

TS WIP - Convert TestEnvironment
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/BatchLiquidator.test.ts
  packages/ethereum-contracts/test/contracts/utils/Resolver.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
Due: ethereum-contracts

1.4.0 Release
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

TS WIP - Deprecate JS-SDK
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  CONTRIBUTING.md
  codecov.yml
  package.json
  tasks/check-changeset.sh
Due: none

move CFAv1Forwarder to utils
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] 1.4.0 Release (#1070)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/utils/CFAv1Forwarder.sol
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, js-sdk, sdk-core

TS WIP - Add JS-SDK tests
  packages/sdk-core/package.json
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

TS WIP - Packages
  package.json
  packages/ethereum-contracts/package.json
  yarn.lock
Due: ethereum-contracts

deprecate js-sdk
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  CONTRIBUTING.md
  codecov.yml
  package.json
  packages/sdk-core/package.json
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  tasks/check-changeset.sh
Due: sdk-core

fix sdk-core tests
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

README ordering
  README.md
Due: none

TS WIP - Refactor Cleanup
  packages/ethereum-contracts/.eslintrc.json
  packages/ethereum-contracts/.eslintrc.ts.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/agreements/Agreement.types.ts
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.behaviour.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/apps/CFAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/apps/IDAv1Library.test.ts
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/libs/CallUtils.test.ts
  packages/ethereum-contracts/test/contracts/scenarios/scenarios.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC20.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/ERC777.behavior.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC20.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.ERC777.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.ts
  packages/ethereum-contracts/test/contracts/tokens/SETH.test.ts
  packages/ethereum-contracts/test/contracts/upgradability/UUPS.test.ts
  packages/ethereum-contracts/test/contracts/utils/MFASupport.ts
  packages/ethereum-contracts/test/contracts/utils/Resolver.test.ts
  packages/ethereum-contracts/test/contracts/utils/SuperUpgrader.test.ts
  packages/ethereum-contracts/test/contracts/utils/TOGA.test.ts
  packages/ethereum-contracts/test/types.ts
  packages/ethereum-contracts/test/utils/expectRevert.ts
  packages/ethereum-contracts/tsconfig.json
Due: ethereum-contracts

remove parallel flag
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

bump js-sdk version
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

cleanup
  README.md
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/types.ts
  yarn.lock
Due: ethereum-contracts

use nix flake to lock build toolchains such as yarn, foundry, ghc, etc.
  flake.lock
  flake.nix
Due: none

added nodejs 16 to dependencies
  flake.nix
Due: none

Split cfa and ida test files
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.ts
  packages/ethereum-contracts/test/contracts/agreements/cfav1-callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/cfav1-mfa.test.ts
  packages/ethereum-contracts/test/contracts/agreements/cfav1-non-callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/idav1-callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/idav1-non-callback.test.ts
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
  packages/ethereum-contracts/testsuites/idav1-tests.ts
  packages/ethereum-contracts/testsuites/superfluid-core.ts
Due: ethereum-contracts

consistent file naming
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-MFA.test.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Callback.test.ts
  packages/ethereum-contracts/test/contracts/agreements/InstantDistributionAgreementV1-Non-Callback.test.ts
  packages/ethereum-contracts/testsuites/cfav1-tests.ts
  packages/ethereum-contracts/testsuites/idav1-tests.ts
Due: ethereum-contracts

fix subgraphAPIEndpoint for sdk-core
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
Due: sdk-core

add flakes/whitehat
  flakes/whitehat/flake.lock
  flakes/whitehat/flake.nix
Due: none

Update constants.ts
  packages/sdk-core/src/constants.ts
Due: sdk-core

add flakes/whitehat
  flakes/spec/flake.lock
  flakes/spec/flake.nix
Due: none

third time is the charm
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

devShells
  devShells/minimum/flake.lock
  devShells/minimum/flake.nix
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  devShells/whitehat/flake.lock
  devShells/whitehat/flake.nix
  package.json
Due: none

Update 5_subgraph.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

Don't wrap SubgraphClient's errors with SFError
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

proper env variable name
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

Update yarn.lock
  yarn.lock
Due: none

Don't wrap SubgraphClient's errors with SFError (#1075)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/subgraph/SubgraphClient.ts
Due: sdk-core

address comments
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

isArbGoerli
  packages/sdk-core/test/5_subgraph.test.ts
Due: sdk-core

[SDK-CORE] 0.5.6 Patch Fix (#1074)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

remove haskell tools
  devShells/whitehat/flake.nix
Due: none

updated contributing
  .gitattributes
  CONTRIBUTING.md
Due: none

typo
  CONTRIBUTING.md
Due: none

Get Nix Pilled (#1073)
  .gitattributes
  CONTRIBUTING.md
  devShells/minimum/flake.lock
  devShells/minimum/flake.nix
  devShells/spec/flake.lock
  devShells/spec/flake.nix
  devShells/whitehat/flake.lock
  devShells/whitehat/flake.nix
  package.json
Due: none
