Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

fix build
  packages/ethereum-contracts/test/contracts/agreements/AgreementHelper.ts
Due: ethereum-contracts

sdk-core: fix build
  packages/sdk-core/contracts/NoGetUnderlyingToken.sol
  packages/sdk-core/contracts/SuperAppTester.sol
Due: sdk-core

[ethereum-contracts] move mocks for foundry to foundry folder
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/mocks/CrossStreamSuperApp.t.sol
  packages/ethereum-contracts/test/foundry/StorageLayoutTestBase.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/SuperfluidPoolUpgradabilityMock.t.sol
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBase.t.sol
  packages/ethereum-contracts/test/foundry/apps/CFASuperAppBaseTester.t.sol
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/AgreementMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTUpgradabilityMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTUpgradabilityMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperAppMocks.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/mocks/AgreementMock.t.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.t.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.BatchCall.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

fix build
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-solidity-semantic-money.yml
  .github/workflows/ci.canary.yml
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/package.json
Due: ethereum-contracts

fix solidity pragma
  packages/ethereum-contracts/contracts/libs/CallbackUtils.sol
  packages/ethereum-contracts/test/foundry/libs/CallbackUtils.t.sol
Due: ethereum-contracts

[ethereum-contracts] updated changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ethereum-contracts] skip-on-coverage superfluid#6.24 again
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

[ethereum-contracts] update CHANGELOG
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ethereum-contracts] fix Superfluid#6.24 gasLowerBound
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

[ethereum-contracts] make testOutOfCbGasZone pass for coverage test
  packages/ethereum-contracts/test/foundry/libs/CallbackUtils.t.sol
Due: ethereum-contracts

workflows: actions/download-artifact@v4
  .github/workflows/call.upload-coverage-reports.yml
  .github/workflows/handler.publish-pr-packages.yml
Due: none

fix build
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
Due: ethereum-contracts

chore: change out the graph's hosted endpoints used in ci/cd
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/.graphqlconfig
Due: sdk-core

chore: fetch latest schema (no effect on sdk-core version)
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

[sdk-core] chore: change out the graph's hosted endpoints used in ci/cd (#1984)
  packages/sdk-core/package.json
  packages/sdk-core/src/subgraph/.graphqlconfig
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

[SUBGRAPHS] Add goldsky subgraph tag script (#1966)
  packages/subgraph/tasks/tagGoldskySubgraph.sh
Due: none

fix packages/subgraph/tasks/tagGoldskySubgraph.sh shellcheck error
  packages/subgraph/tasks/tagGoldskySubgraph.sh
Due: none

Lib CallbackUtils & Remove PoolNFT callback try/catch (#1979)
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.upload-coverage-reports.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/handler.publish-pr-packages.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/libs/CallbackUtils.sol
  packages/ethereum-contracts/contracts/libs/SafeGasLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.t.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/apps/CrossStreamSuperApp.t.sol
  packages/ethereum-contracts/test/foundry/libs/CallbackUtils.t.sol
  packages/subgraph/tasks/tagGoldskySubgraph.sh
Due: ethereum-contracts

ignore shellcheck 2181
  packages/subgraph/tasks/tagGoldskySubgraph.sh
Due: none

[ETHEREUM-CONTRACTS] per chain configurable app callback gas limit (#1982)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.t.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

bumping ethereum-contracts version to v1.9.2
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add DMZForwarder to verification script
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

init draft stateful fuzz tests
  packages/automation-contracts/scheduler/test/VestingSchedulerV2.StatefulFuzz.t.sol
Due: none

use only v1 subgraphs
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

use only v1 subgraphs (#1985)
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

workflow: lint-aways in ci.feature
  .github/workflows/ci.feature.yml
Due: none

workflow: check-pre-commit for ci.feature
  .github/workflows/ci.feature.yml
  package.json
Due: none

lint packages/sdk-core/tasks/testSchemasAndQueries.sh
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

workflow: fix ci.feature
  .github/workflows/ci.feature.yml
Due: none

Add pre-commit check in ci.feature (#1986)
  .github/workflows/ci.feature.yml
  package.json
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

feat(doc): center header
  README.md
Due: none

feat(doc): center header (#1987)
  README.md
Due: none

[SUBGRAPH] Graph studio deployment (#1983)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-production-subgraphs.yml
  packages/subgraph/tasks/deploy.sh
Due: none
