Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  sdk-core:
    paths: packages/sdk-core

ignore:
  # ignore all files in the mocks folder
  - "packages/ethereum-contracts/contracts/mocks/*.sol"

  # ignore all SuperAppBase* files in the apps folder
  # (we override the functions in these contract in the inheriting contract)
  - "packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol"

  # ignore all *Deployer files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/*Deployer.sol"

  # ignore all Test* files in the utils folder (used for testing)
  - "packages/ethereum-contracts/contracts/utils/Test*.sol"

[ETHEREUM-CONTRACT] add deployment view of Superfluid framework (#1776)
  flake.lock
  packages/ethereum-contracts/docs/deployment-view.drawio
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getHostedServiceNetworks.ts
Due: ethereum-contracts

natspec docs added (#1781)
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

[SUBGRAPH] Gda total amount received (#1773)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

removed eth-mainnet and eth-sepolia from superfluid graph network (#1784)
  packages/subgraph/tasks/deploy.sh
Due: none

[NETWORK] added optimism-sepolia, scroll-sepolia, scroll-mainnet (#1787)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy.sh
Due: ethereum-contracts, sdk-core

add gda v1 forwarder to metadata (#1789)
  packages/metadata/module/networks/list.d.ts
Due: none

flake.nix: back to using monthly snapshot (#1791)
  flake.lock
  flake.nix
Due: none

improved verification script
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

refine deploy script
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

TrustedMacros: added more comments
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/TrustedMacrosVanilla.sol
  packages/ethereum-contracts/test/foundry/utils/TrustedMacrosVanilla.t.sol
Due: ethereum-contracts

sdk-core framework fix + metadata update
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/types.ts
Due: sdk-core

fix build
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/types.ts
Due: sdk-core

[SDK-CORE] [METADATA] sdk-core framework fix + metadata update (#1810)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/types.ts
Due: sdk-core

added gda addresses and new loaders
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

updated changelog
  packages/metadata/CHANGELOG.md
Due: none

fix flakey test
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

wip
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

fix warnings
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

wip (#1813)
  packages/sdk-core/package.json
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

[METADATA] added gda addresses and new loaders (#1811)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

patch gas settings into truffle contract object, various small ops-script improvements
  packages/js-sdk/src/loadContracts.js
Due: none

patch gas settings into truffle contract object, various small ops-script improvements
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

fix for local testing
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

fix mapping logic
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

removed unused fields (mostly related to GDA inflows), fix possible overflow in updatePoolMemberTotalAmountUntilUpdatedAtFields
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/utils.ts
Due: none

fix build
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

fix gas price for other ops scripts too
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/js-sdk/src/Framework.js
Due: ethereum-contracts

polygon-mainnet gda and new loader in metadata
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

smol fix
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

fix tests
  packages/ethereum-contracts/test/contracts/gov/SuperfluidGovernanceII.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

smol fixes
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

revert BatchLiquidator
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

fix compiler version
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

inlike function for getting gas settings in Framework.js to fix failing package building
  packages/js-sdk/src/Framework.js
Due: none

consider new admin override when upgrading SuperTokens
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

[GDA][SUBGRAPH] GDA Subgraph Fixes (#1816)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tests/assertionHelpers.ts
  packages/subgraph/tests/superToken/event/superToken.event.test.ts
Due: none

fix divide by zero subgraph indexing error
  .devcontainer/devcontainer.json
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix divide by zero subgraph indexing error (#1818)
  .devcontainer/devcontainer.json
  packages/subgraph/src/mappingHelpers.ts
Due: none

fix test failure
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

add forwarders to verification
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts
