Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

fine tuning
  tasks/check-changeset.sh
Due: none

fix hotfuzz test
  .github/workflows/ci.canary.yml
Due: none

fix workflow files
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

fix workflow files
  .github/workflows/ci.canary.yml
Due: none

HotFuzz in CI (#1285)
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
  packages/hot-fuzz/echidna.yaml
  tasks/check-changeset.sh
Due: none

remove only test in truffle param
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantInflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/ConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkBaseline.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/performance/ForkPolygonGas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
Due: ethereum-contracts

add 9.4.4 to cabal
  packages/spec-haskell/pkgs/semantic-money/semantic-money.cabal
Due: none

pool and its payment primitives
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
Due: none

feat: added rtb of pool member monetary unit
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

feat: added settle and tests for proportional distributions
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

mocks to >= 0.8.0
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
Due: ethereum-contracts

added zkevm
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

WIP flow2flow2 for updp fails atm
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

SemanticMoney.t.sol tested
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
Due: none

feat: added shift2 and flow2 for proportional distribution index
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

test: added test for flow_pd
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

test: added test for shift2_pd
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

added test_UPDP_1Member_ tests
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
Due: none

SuperToken
  packages/solidity-semantic-money/foundry.toml
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

test: added property based tests for some functions
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

Semantic money spec improvements:
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
  packages/spec-haskell/pkgs/semantic-money/test/Main.hs
  packages/spec-haskell/pkgs/semantic-money/test/Money/Theory/SemanticMoney_prop.hs
  packages/spec-haskell/pkgs/simple/superfluid-protocol-system-simple.cabal
Due: none

make repl-* commands
  packages/spec-haskell/Makefile
Due: none

some WIP checkins
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/SuperToken.sol
Due: none

test: added more property based test
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

test: added property based tests for flow2_pd
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

bring back the prim2
  packages/spec-haskell/pkgs/semantic-money/src/Money/Theory/SemanticMoney.hs
Due: none

SuperToken with distributeFlow
  packages/solidity-semantic-money/src/SemanticMoney.sol
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

added ERC20 approve/allowance code
  packages/solidity-semantic-money/src/SuperToken.sol
  packages/solidity-semantic-money/test/SuperToken.t.sol
Due: none

preliminary wasm wasi build
  packages/spec-haskell/Makefile
  packages/spec-haskell/pkgs/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/pkgs/semantic-money/semantic-money.cabal
  packages/spec-haskell/pkgs/semantic-money/wasm/Exports.hs
  packages/spec-haskell/pkgs/simple/superfluid-protocol-system-simple.cabal
Due: none

added ghc-wasm to nix flake
  flake.lock
  flake.nix
  packages/solidity-semantic-money/src/SuperToken.sol
Due: none

test: added prop based test for shift2_pd
  packages/starknet-contracts/src/utils/SemanticMoney.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

didi feedback
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
  packages/ethereum-contracts/test/contracts/apps/SuperAppBaseFlow.test.ts
Due: ethereum-contracts

tidy up dev scripts
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/dev-scripts/runDeployContractsAndToken.js
Due: ethereum-contracts

fix erc20x fuzz test
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

use kebab case naming
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
Due: ethereum-contracts, sdk-core

feat: added interfaces for Pool and updated ISuperToken
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/interfaces/IPool.cairo
  packages/starknet-contracts/src/interfaces/ISuperToken.cairo
Due: none

cleanup
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/test/foundry/DeployerBase.t.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperTokenDeployer.t.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

bump versions + update changelog
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/package.json
  packages/hot-fuzz/package.json
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts
