Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

fix build
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

making SemigroupMonetaryUnitData a explicit constraint to be declared
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none

more info added
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

upgrade to ghc 9.2.4
  .github/workflows/call.test-spec-haskell.yml
  packages/spec-haskell/Makefile
  packages/spec-haskell/cabal.project.freeze
Due: none

upgrade to ghc 9.2.4
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
Due: none

hlint fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

separate ao_is_zero_sum_balance out
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
Due: none

core types + system types refactoring
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Data/Type/Any.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionCommon.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/MonetaryUnitData.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SystemTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

mkAny proxified to make φ function generalized
  packages/spec-haskell/Makefile
  packages/spec-haskell/packages/core/src/Data/Type/Any.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Indexes/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SystemTypes.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

address review comments
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/test/contracts/utils/AppCredit.behavior.ts
Due: ethereum-contracts

different revert error
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
Due: ethereum-contracts

sdk-core patch fix
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

#899 App Credit Rule CFA-2 (#945)
  packages/ethereum-contracts/.eslintrc.json
  packages/ethereum-contracts/contracts/agreements/AgreementLibrary.sol
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/AgreementMock.sol
  packages/ethereum-contracts/contracts/mocks/CFAAppMocks.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidMock.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/scripts/deploy-mfa.ts
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.behavior.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.data.js
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperfluidToken.test.js
  packages/ethereum-contracts/test/contracts/utils/MFASupport.js
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/libs/AgreementLibrary.prop.sol
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

!= 0 instead of > 0
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/libs/CallUtils.sol
  packages/ethereum-contracts/contracts/libs/FixedSizeData.sol
  packages/ethereum-contracts/contracts/mocks/IDASuperAppTester.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/TokenCustodian.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

redundant 0 initializations removed
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/libs/ERC777Helper.sol
  packages/ethereum-contracts/contracts/libs/FixedSizeData.sol
  packages/ethereum-contracts/contracts/libs/SlotsBitmapLibrary.sol
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
  packages/ethereum-contracts/contracts/utils/TestGovernance.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

prefix ++
  packages/ethereum-contracts/contracts/mocks/MultiFlowTesterApp.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/contracts/utils/SuperUpgrader.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

remove unnecessary ISuperApp casting
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

make src-internal shared
  packages/spec-haskell/hie.yaml
  packages/spec-haskell/packages/core/src-internal/Lens/Internal.hs
  packages/spec-haskell/packages/simple/src-internal
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/src-internal/Lens/Internal.hs
Due: none

cleanup the TypedValue non-sense
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/RealTimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/ConstantFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/DecayingFlow.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/InstantValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnitData/MintedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

some formatting cleanup
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/TypedValue.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

fix cloc
  packages/spec-haskell/Makefile
Due: none

add +rtb_untapped_value_to_rtb
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/CoreTypes/RealTimeBalance.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/RealTimeBalance_prop.hs
Due: none

[Sk-core patch fix (#1035)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

ConstantFlowDistributionAgreement_prop fully done
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none

use ao_go_zero_sum_balance_single_op to simplify wip
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
Due: none

ao_2pubs1sub_zero_sum_balance for cfda has precision issue
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
Due: none

ao_2pubs1sub_zero_sum_balance fully pass
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_test.hs
Due: none

remove a fixme comment
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowDistributionAgreement.hs
Due: none

bump js-sdk, sdk-core, eth-contracts
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, js-sdk, sdk-core

WIP: CFAv1Forwarder interface [skip ci]
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/ICFAv1Forwarder.sol
Due: ethereum-contracts

Remove pesky error messages that and update readme
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

Remove pesky error messages that and update readme (#1037)
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/mfa-tester.html
Due: ethereum-contracts

kwik patch
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

kwik patch (#1040)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/subgraph/package.json
Due: sdk-core

Map indexId to IndexSubscription (#1026)
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscription.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscriptions.graphql
Due: sdk-core

0.5.4 (#1041)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscription.ts
  packages/sdk-core/src/subgraph/entities/indexSubscription/indexSubscriptions.graphql
  packages/subgraph/package.json
Due: sdk-core
