Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core
  hardhat-deployer:
    paths: packages/hardhat-deployer

fix: corrected import issues and changed folder structure
  packages/starknet-contracts/.pkey
  packages/starknet-contracts/protostar.toml
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/SuperTokenImpl.cairo
  packages/starknet-contracts/src/tokens/ERC20x/SuperToken/library.cairo
  packages/starknet-contracts/tests/test_semantic_money.cairo
Due: none

fork baseline wip
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/deployments/ForkBaseline.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

when you forget to click save...
  packages/ethereum-contracts/hardhat.config.ts
Due: ethereum-contracts

Initial cleanup after discussion
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ICFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/IConstantOutflowNFT.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/deployments/ERC20xDeployment.t.sol
  packages/ethereum-contracts/test/foundry/performance/Gas.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTMock.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradabilityMocks.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/deployments/ERC20xDeployment.t.sol
Due: ethereum-contracts

further cleanup
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/libs/SuperTokenDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperTokenDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/deployments/ERC20xDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

deprecate non upgradeable deploy
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkBaseline.t.sol
Due: ethereum-contracts

superappbaseflow >= 0.8.0
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppBaseFlowTester.sol
Due: ethereum-contracts

fix broken build
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

deploy nft in SuperToken
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidNFTDeployerLibrary.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
Due: ethereum-contracts

refactor and skip tests in CI
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/foundry/deployments/ForkERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

fix build and cleanup
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

added celo-mainnet support (#1263)
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/deploy-cfa-forwarder.sh
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/config/celo-mainnet.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

Address CI env naming comment
  .github/workflows/ci.feature.yml
Due: none

address merge "deployers/*.sol" comment
  packages/ethereum-contracts/contracts/libs/SuperTokenDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
Due: ethereum-contracts

use consistent immutable var naming
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
Due: ethereum-contracts

address documentation comment
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
Due: ethereum-contracts

address scripts artifacts naming
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
  packages/ethereum-contracts/test/ops-scripts/deployment.test.sh
Due: ethereum-contracts

address baseline comment
  packages/ethereum-contracts/test/foundry/deployments/ForkSmoke.t.sol
Due: ethereum-contracts

address missing context naming comment
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/index.js
  packages/hot-fuzz/truffle-config.js
Due: ethereum-contracts

duplicate keys makes no sense
  packages/hot-fuzz/index.js
Due: none

do existence check
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] New web3-operations path for SuperTokenFactory (#1276)
  .github/workflows/ci.feature.yml
  .gitmodules
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenFactoryMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidCFAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidGovDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidHostDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidIDAv1DeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidPeripheryDeployerLibrary.sol
  packages/ethereum-contracts/contracts/utils/deployers/SuperfluidSuperTokenFactoryHelperDeployerLibrary.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/test/TestEnvironment.ts
  packages/ethereum-contracts/test/contracts/superfluid/SuperTokenFactory.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkSmoke.t.sol
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
  packages/ethereum-contracts/test/ops-scripts/deployment.test.sh
  packages/ethereum-contracts/tsconfig.json
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/index.js
  packages/hot-fuzz/truffle-config.js
Due: ethereum-contracts

additional fixes for merge
  packages/ethereum-contracts/test/contracts/utils/CFAv1Forwarder.test.ts
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonSuperTokenFactoryUpgrade.t.sol
Due: ethereum-contracts

added test-hot-fuzz.yml
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

fix feature test
  .github/workflows/ci.feature.yml
Due: none

SuperToken NFT deployAndSet
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/CFAv1NFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/ConstantFlowAgreementV1.Liquidations.t.sol
  packages/ethereum-contracts/test/foundry/deployments/ForkPolygonERC20xCFANFTDeployment.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/CFAv1NFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantInflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ConstantOutflowNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/nftUpgradability/CFAv1NFTUpgradability.t.sol
Due: ethereum-contracts

fix hotfuzz test
  .github/workflows/call.test-hot-fuzz.yml
  .github/workflows/ci.feature.yml
Due: none

fix hotfuzz test
  .github/workflows/call.test-hot-fuzz.yml
Due: none

fix hotfuzz test
  .github/workflows/call.test-hot-fuzz.yml
  packages/hot-fuzz/echidna.yaml
Due: none

fix hotfuzz test
  packages/hot-fuzz/echidna.yaml
Due: none

fix hotfuzz test
  .github/workflows/call.test-hot-fuzz.yml
  flake.nix
Due: none

fine tuning
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  tasks/check-changeset.sh
Due: none
