Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

add native token, proxy verification to verify script - requires an update of truffle-verify-plugin
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

GHC2021 ftw
  packages/spec-haskell/packages/core/src/Data/Type/TaggedTypeable.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Serialization.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Show.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/superfluid-protocol-spec-coverage.cabal
  packages/spec-haskell/packages/validator/superfluid-protocol-spec-validator.cabal
Due: none

package updates and type fix
  package.json
  packages/sdk-core/package.json
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/Framework.ts
  yarn.lock
Due: sdk-core

foundry remappings fix
  packages/ethereum-contracts/foundry.toml
  packages/sdk-core/package.json
Due: ethereum-contracts, sdk-core

Query and Subgraph Sync Workflow
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  .github/workflows/daily-query-check.yml
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

previous sdk-versions * networks
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

Update ci.feature.yml
  .github/workflows/ci.feature.yml
Due: none

fix workflows attempt 1
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

attempt 2
  .github/workflows/call.check-query-schema-against-subgraph.yml
Due: none

attempt 3
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

attempt 3
  .github/workflows/call.check-query-schema-against-subgraph.yml
Due: none

CHANGELOG and version bump
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

attempt 4
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

fix merge conflict build issue
  packages/sdk-core/src/events.ts
Due: sdk-core

sync schema.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

this time is different
  .github/workflows/call.check-query-schema-against-subgraph.yml
Due: none

Subgraph Release Branch Conflicts Fix (#934)
  examples/employment-based-loan/contracts/EmploymentLoan.sol
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/package.json
  packages/subgraph/test/helpers/helpers.ts
Due: sdk-core

resolve conflict
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

SDK-Core Release Branch Conflicts Fix (#932)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

bump version
  packages/subgraph/package.json
Due: none

duplicate removed
  packages/sdk-core/src/events.ts
Due: sdk-core

bump version (#937)
  packages/subgraph/package.json
Due: none

Prepare subgraph 1.4.3 release (#938)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: sdk-core

add hardhat deployer
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  LICENSE
  README.md
  codecov.yml
  package.json
  packages/hardhat-deployer/.eslintignore
  packages/hardhat-deployer/.eslintrc.json
  packages/hardhat-deployer/.gitignore
  packages/hardhat-deployer/.mocharc.json
  packages/hardhat-deployer/.nycrc.json
  packages/hardhat-deployer/.prettierrc
  packages/hardhat-deployer/LICENSE
  packages/hardhat-deployer/README.md
  packages/hardhat-deployer/package.json
  packages/hardhat-deployer/src/ERC1820Constants.ts
  packages/hardhat-deployer/src/SuperfluidFrameworkDeployer.ts
  packages/hardhat-deployer/src/index.ts
  packages/hardhat-deployer/src/type-extensions.ts
  packages/hardhat-deployer/tasks/testenv-ctl.sh
  packages/hardhat-deployer/test/fixture-projects/hardhat-project/hardhat.config.ts
  packages/hardhat-deployer/test/helpers.ts
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
  packages/hardhat-deployer/tsconfig.json
  tasks/check-changeset.sh
  yarn.lock
Due: none

update env
  packages/hardhat-deployer/test/superfluidFrameworkDeployer.test.ts
Due: none

defer Show integration to the simple system
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Show.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Show.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
Due: none

no Show!
  packages/spec-haskell/packages/core/src/Data/Constraint/PreConstraintOf.hs
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Communism.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Liquidity.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Show.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/SuperfluidTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
Due: none

data integrity readme
  packages/subgraph/.env.example
  packages/subgraph/hardhat.config.ts
  packages/subgraph/scripts/balanceValidation.ts
  packages/subgraph/scripts/dataIntegrity/README.md
Due: none

Don't stop transaction tracking when serialization fails
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
Due: none

Add note to CHANGELOG
  packages/sdk-redux/CHANGELOG.md
Due: none

workflow modifications
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/ci.pre-release-sdk-core.yml
  .github/workflows/ci.pre-release-subgraph.yml
  .github/workflows/daily-query-check.yml
  packages/sdk-core/tasks/testSchemasAndQueries.sh
Due: sdk-core

Fix linting issue
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
Due: none

remove expects
  packages/sdk-core/previous-versions-testing/queryTests.ts
Due: sdk-core

[SDK-redux] Don't stop transaction tracking when transaction serialization fails (#940)
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/initiateNewTransactionTrackingThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trySerializeTransaction.ts
Due: none

update workflow
  .github/workflows/call.test-hardhat-deployer.yml
Due: none

Update example project references and add back WalletConnect
  examples/sdk-redux-examples/sdk-redux-react-typecript/package.json
  examples/sdk-redux-examples/sdk-redux-react-typecript/src/InitializeSuperfluidSdk.tsx
  examples/sdk-redux-examples/sdk-redux-react-typecript/yarn.lock
Due: none

update cd
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
