Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

metadata: let pre-commit hook build
  packages/metadata/package.json
Due: none

fail if metadata isn't consistent
  packages/metadata/package.json
Due: none

bump metadata version to 1.1.9, add script for doing that
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

updated changelog
  packages/metadata/CHANGELOG.md
Due: none

include periphery contracts in verification script
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

Update Github Action peter-evans/find-comment
  .github/workflows/handler.publish-pr-packages.yml
Due: none

Update CHANGELOG.md
  packages/metadata/CHANGELOG.md
Due: none

Update Github Action peter-evans/find-comment (#1534)
  .github/workflows/handler.publish-pr-packages.yml
Due: none

include deploy-aux-contracts in tests
  packages/ethereum-contracts/ops-scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

add npm script for verifying, let the verification script get addresses itself if not provided
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
Due: ethereum-contracts

base-mainnet deployment & tooling improvements
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/ops-scripts/deploy-aux-contracts.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

add subgraph config
  packages/subgraph/config/base-mainnet.json
Due: none

fix name
  packages/subgraph/config/base-mainnet.json
Due: none

[SUBGRAPH] add config for base-mainnet (#1539)
  packages/subgraph/config/base-mainnet.json
Due: none

updateMemberUnits name change, _toSemanticMoneyUnit added, set TOGA as default reward address
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
Due: ethereum-contracts

toSemanticMoney
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

limit node versions to 18 & 20
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
  packages/metadata/build.sh
  packages/metadata/compare-committed-against-build.sh
Due: none

bump semantic money versions
  packages/solidity-semantic-money/src/examples/Aqueduct.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperfluidPool.sol
  packages/solidity-semantic-money/src/ref-impl/ISuperfluidToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperToken.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidPool.sol
  packages/solidity-semantic-money/src/ref-impl/ToySuperfluidToken.sol
  packages/solidity-semantic-money/test/SemanticMoney.t.sol
  packages/solidity-semantic-money/test/examples/Aqueduct.t.sol
  packages/solidity-semantic-money/test/ref-impl/CertoraHarness.sol
  packages/solidity-semantic-money/test/ref-impl/ToySuperToken.t.sol
Due: none

bump versions in configs
  packages/automation-contracts/autowrap/hardhat.config.js
  packages/automation-contracts/scheduler/hardhat.config.js
  packages/ethereum-contracts/contracts/libs/EventsEmitter.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol
  packages/ethereum-contracts/foundry.toml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/truffle-config.js
  packages/hot-fuzz/truffle-config.js
Due: ethereum-contracts

Revert "limit node versions to 18 & 20"
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
  packages/metadata/build.sh
  packages/metadata/compare-committed-against-build.sh
Due: none

fix .github/workflows/call.test-spec-haskell.yml
  .github/workflows/call.test-spec-haskell.yml
Due: none

permit insecure nodejs-16.20.1
  flake.nix
Due: none

limit node versions to 18 & 20
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  flake.nix
Due: none

use latest solc and update minDevSolcVer
  flake.lock
  flake.nix
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

minimize trust assumption
  packages/ethereum-contracts/test/test-solc-compatibility.sh
Due: ethereum-contracts

host should be immutable
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
Due: none

follow convention of capitalized immutable vars
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
Due: none

[ETHEREUM-CONTRACTS] host should be immutable (#1542)
  packages/ethereum-contracts/contracts/apps/SuperAppBaseFlow.sol
Due: none

added codecov_token
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

testing wip
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

update nixpkgs and reenable hot-fuzz testing
  .github/workflows/ci.canary.yml
  flake.lock
  flake.nix
Due: none

update nixpkgs and reenable hot-fuzz testing
  .github/workflows/ci.feature.yml
Due: none

fix test-hot-fuzz
  .github/workflows/call.test-hot-fuzz.yml
Due: none

try to fix hot-fuzz
  packages/hot-fuzz/index.js
Due: none

set default solc
  flake.nix
Due: none

remove unused file
  packages/ethereum-contracts/.solcover.js
Due: ethereum-contracts

hot fuzz fixing wip
  packages/hot-fuzz/.gitignore
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/echidna.yaml
  packages/hot-fuzz/hot-fuzz
  packages/hot-fuzz/index.js
Due: none

fix build to unblock
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/sdk-core/src/SuperfluidPool.ts
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
Due: ethereum-contracts, sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
