Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  ethereum-contracts:
    paths: packages/ethereum-contracts
  js-sdk:
    paths: packages/js-sdk
  sdk-core:
    paths: packages/sdk-core

(WIP) modify deployment action to be single-network, without verification, add RPC override option
  .github/workflows/handler.deploy-to-mainnets.yml
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

final touches
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
Due: none

sdk core subgraph changes
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatistic/tokenStatistics.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLogs.graphql
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
Due: sdk-core

add gasPrice test
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/eventQueries.ts
  packages/subgraph/test/validation/eventValidators.ts
Due: none

Remove `networkId` and `dataMode` from Framework Initialization (#910)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/README.md
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/types.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/test/helpers/helpers.ts
Due: sdk-core

add new networks + .env.example file
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/hardhat.config.ts
  packages/subgraph/scripts/maps.ts
Due: none

Add support of log queries to sdk-redux
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Due: sdk-core

interface renaming
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/dataIntegrity/helperFunctions.ts
  packages/subgraph/scripts/dataIntegrity/interfaces.ts
  packages/subgraph/scripts/quickDataValidation.ts
Due: none

token and governanceAddress properly mapped
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
Due: sdk-core

governanceAddress and token added
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
Due: sdk-core

subgraph integrity cleanup
  packages/subgraph/README.md
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/dataIntegrity/helperFunctions.ts
  packages/subgraph/scripts/dataIntegrity/interfaces.ts
Due: none

comment cleanup
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
Due: none

lock file
  examples/beginner-examples/token-spreader/package-lock.json
Due: none

Mark on a tracked transaction whether Subgraph polling was successful
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Due: none

Update handler.publish-pr-packages.yml
  .github/workflows/handler.publish-pr-packages.yml
Due: none

Update handler.publish-pr-packages.yml (#922)
  .github/workflows/handler.publish-pr-packages.yml
Due: none

Dummy commit
  packages/sdk-redux/CHANGELOG.md
Due: none

wip, added Agreement type class
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Serialization.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Show.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

Agreement type class refactored
  packages/spec-haskell/maths/DFA.py
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Show.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
Due: none

Token spreader fixes (#913)
  examples/beginner-examples/token-spreader/.env.template
  examples/beginner-examples/token-spreader/README.md
  examples/beginner-examples/token-spreader/arguments-tokenspreader.js
  examples/beginner-examples/token-spreader/contracts/TokenSpreader.sol
  examples/beginner-examples/token-spreader/hardhat.config.js
  examples/beginner-examples/token-spreader/package-lock.json
  examples/beginner-examples/token-spreader/scripts/cleanStatus.js
  examples/beginner-examples/token-spreader/scripts/deleteShares.js
  examples/beginner-examples/token-spreader/scripts/deploy.js
  examples/beginner-examples/token-spreader/scripts/distribute.js
  examples/beginner-examples/token-spreader/scripts/gainShare.js
  examples/beginner-examples/token-spreader/scripts/loseShare.js
  examples/beginner-examples/token-spreader/scripts/transferInSpreaderTokens.js
  examples/beginner-examples/token-spreader/scripts/viewStatus.js
Due: none

Added BSC mainnet to configuration
  packages/js-sdk/src/getConfig.js
Due: js-sdk

binance support added
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts, js-sdk, sdk-core

more BSC
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
Due: ethereum-contracts, sdk-core

added to workflows
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
Due: none

disable test governance (important for upgrade runs)
  packages/ethereum-contracts/scripts/libs/getConfig.js
Due: ethereum-contracts

remove duplicated key
  packages/js-sdk/src/getConfig.js
Due: js-sdk

BNB Chain Support (#925)
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/networks.json
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts, js-sdk, sdk-core

[SDK-REDUX] Mark on a tracked transaction whether Subgraph polling was successful (#921)
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Due: none

SDK-Core Subgraph Changes (#917)
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatistic/tokenStatistics.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLogs.graphql
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/queries/eventQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/eventValidators.ts
  packages/subgraph/test/validation/hol/subscriptionValidator.ts
  packages/subgraph/test/validation/validators.ts
Due: sdk-core

bump sdk-core version
  packages/sdk-core/package.json
Due: sdk-core

add networkNames back
  packages/sdk-core/src/constants.ts
Due: sdk-core

bump subgraph version
  packages/subgraph/package.json
Due: none

BNB Support added (#927)
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts, js-sdk, sdk-core

BNB Support for SDK-Core (#926)
  .github/workflows/handler.deploy-to-mainnets.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/utils/README.md
  packages/ethereum-contracts/utils/stream-closer.html
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/src/constants.ts
  packages/subgraph/README.md
  packages/subgraph/config/bsc-mainnet.json
  packages/subgraph/networks.json
  packages/subgraph/src/addresses.template.ts
Due: ethereum-contracts, js-sdk, sdk-core

Revert "SDK-Core Subgraph Changes (#917)"
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatistic/tokenStatistics.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLogs.graphql
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/queries/eventQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/eventValidators.ts
  packages/subgraph/test/validation/hol/subscriptionValidator.ts
  packages/subgraph/test/validation/validators.ts
Due: sdk-core

trigger js-sdk release draft
  packages/js-sdk/src/batchCall.md
Due: js-sdk

Sync w/ Subgraph 1.4.1
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core

Sync w/ Subgraph 1.4.1 (#929)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLog.ts
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
Due: sdk-core
