Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

revert some AI slop sneaky changes
  .github/workflows/ci.feature.yml
  .github/workflows/handler.publish-dev-release-packages.yml
Due: none

Replace Yarn 1 pretest/posttest hooks with an explicit testenv wrapper.
  .github/workflows/call.test-local-subgraph.yml
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  tasks/with-testenv.sh
Due: ethereum-contracts, sdk-core

Ignore ethereum-contracts mock contracts in Codecov coverage.
  codecov.yml
Due: none

Docs: describe ethereum-contracts testenv without legacy pretest/posttest notes.
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Update coverage ignore paths in codecov.yml
  codecov.yml
Due: none

Update default.nix
  default.nix
Due: none

Replace Yarn 1 pretest/posttest hooks with an explicit testenv wrapper (#2214)
  .github/workflows/call.test-local-subgraph.yml
  default.nix
  packages/ethereum-contracts/README.md
  packages/ethereum-contracts/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  tasks/with-testenv.sh
  yarn.lock
Due: ethereum-contracts, sdk-core

Updating LICENSE file
  LICENSE
Due: none

Updating LICENSE file (#2216)
  LICENSE
Due: none

Fix upgrade verification for pending Safe txs and template RPCs.
  .github/workflows/handler.verify-governance-action.yml
  packages/ethereum-contracts/scripts/fetch-safe-pending-tx.ts
  packages/ethereum-contracts/scripts/verify-bytecode.ts
  packages/ethereum-contracts/tasks/verify-governance-action-all.sh
  packages/ethereum-contracts/tasks/verify-governance-action.sh
Due: ethereum-contracts

Use account-level total deposit for CFA/GDA liquidation solvency.
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/SolvencyLiquidation.t.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
  packages/hot-fuzz/contracts/superfluid-tests/ConstantFlowAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
  packages/hot-fuzz/contracts/superfluid-tests/SuperHotFuzz.sol
Due: ethereum-contracts

Add Arc Testnet as a Superfluid testnet.
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  packages/subgraph/tasks/vendorNetworkMap.json
Due: ethereum-contracts, sdk-core

remove degenchain and scroll-sepolia
  .github/workflows/handler.deploy-to-testnets.yml
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/subgraph/tasks/deploy.sh
  packages/subgraph/tasks/tagGoldskySubgraph.sh
  packages/subgraph/tasks/vendorNetworkMap.json
  tasks/daily-slack-bot.js
Due: none

remove degenchain and scroll-sepolia (#2218)
  .github/workflows/handler.deploy-to-testnets.yml
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/subgraph/tasks/deploy.sh
  packages/subgraph/tasks/tagGoldskySubgraph.sh
  packages/subgraph/tasks/vendorNetworkMap.json
  tasks/daily-slack-bot.js
Due: none

Remove defunct pool methods from deprecated JS-SDK User class (#2034)
  packages/js-sdk/src/User.d.ts
  packages/js-sdk/src/User.js
  packages/js-sdk/test/User.test.js
Due: none

Fix totalMembers calculation in Pool entity (#2049)
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

Record canonical Arc Testnet forwarders and BatchLiquidator.
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

Note CFA/GDA liquidation deposit fix in the unreleased changelog.
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

subgraph deploy tags
  packages/metadata/networks.json
  packages/subgraph/tasks/tagGoldskySubgraph.sh
  packages/subgraph/tasks/vendorNetworkMap.json
Due: none

Sync yarn.lock after bumping metadata to 1.6.4.
  yarn.lock
Due: none

Use arctest as the Arc Testnet short name.
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

Require lockfile and syncpack checks to merge feature PRs.
  .github/workflows/ci.feature.yml
  flake.nix
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

Require lockfile and syncpack checks to merge feature PRs. (#2223)
  .github/workflows/ci.feature.yml
  flake.nix
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
  yarn.lock
Due: ethereum-contracts, sdk-core

Add Arc Testnet (#2222)
  packages/ethereum-contracts/truffle-config.js
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/tasks/tagGoldskySubgraph.sh
  packages/subgraph/tasks/vendorNetworkMap.json
Due: ethereum-contracts

add recursion in checkout
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

chore(sdk-redux): fix overridden warning text
  packages/sdk-redux/src/sdkReduxConfig.ts
Due: none

[ETHEREUM-CONTRACTS] Soft-freeze IDA except Optimism.
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/InstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IInstantDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.t.sol
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/InstantDistributionAgreementV1.Freeze.t.sol
  packages/ethereum-contracts/test/ops-scripts/deployment.test.js
Due: ethereum-contracts

fix(deps): resolve fast-uri ReDoS vulnerability in workspace resolutions
  package.json
  yarn.lock
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
