Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

add outflow/inflow address to config
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: none

fixes attempt
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/src/mappings/superfluidPool.ts
Due: none

fix build
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
Due: ethereum-contracts

fix contract size issue
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/utils/TOGA.t.sol
  packages/hot-fuzz/contracts/HotFuzzBase.sol
Due: ethereum-contracts

reuse gov config key
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

use correct sig + add gda address to config
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: ethereum-contracts

reuse gov config key (#1698)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
Due: ethereum-contracts

add nft tests
  packages/sdk-core/src/FlowNFTBase.ts
  packages/sdk-core/test/1.3_supertoken_ida.test.ts
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
Due: sdk-core

gda address can be null
  packages/subgraph/scripts/buildNetworkConfig.ts
Due: none

fix broken unit tests
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/tests/constants.ts
Due: none

fix tests
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
Due: sdk-core

Add more whitelisted addresses
  tasks/daily-slack-bot.js
Due: none

bring up coverage
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
Due: sdk-core

updated sf and satsuma supported network lists
  packages/subgraph/tasks/deploy.sh
Due: none

updated sf and satsuma supported network lists (#1701)
  packages/subgraph/tasks/deploy.sh
Due: none

[WIP]Add whitelist to verification check and query governance from host contract (#1696)
  tasks/daily-slack-bot.js
Due: none

fix sdk tests
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
Due: sdk-core

fixes
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
Due: ethereum-contracts, sdk-core

silly typo
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
Due: ethereum-contracts

copy changes to signed commit PR
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantInflowNFT.ts
  packages/sdk-core/src/ConstantOutflowNFT.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/FlowNFTBase.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.3_supertoken_ida.test.ts
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
  packages/subgraph/config/mock.json
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/subgraph.template.yaml
Due: ethereum-contracts, sdk-core

fix flakey tests
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

copy changes to signed commit PR (#1703)
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/run-deploy-contracts-and-token.js
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/ConstantInflowNFT.ts
  packages/sdk-core/src/ConstantOutflowNFT.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/ERC721Token.ts
  packages/sdk-core/src/FlowNFTBase.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/test/1.3_supertoken_ida.test.ts
  packages/sdk-core/test/1.4_supertoken_nft.test.ts
  packages/subgraph/config/mock.json
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/buildNetworkConfig.ts
  packages/subgraph/scripts/getAbi.js
  packages/subgraph/src/mappings/flowNFT.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/subgraph.template.yaml
Due: ethereum-contracts, sdk-core

fix pure supertoken issue
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

more consistent naming of verification related vars
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
Due: ethereum-contracts

register app
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

allow custom tokens to add extra logic contract via eip-1967 storage slot
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

don't revert for non-transferrable SuperTokens
  packages/ethereum-contracts/contracts/utils/BatchLiquidator.sol
Due: ethereum-contracts

pool config
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidPoolUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/echidna/EchidnaTestCases.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/superfluid/FlowNFTBase.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperfluidPool.prop.sol
Due: ethereum-contracts

move pool config out of interface
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/interfaces.ts
Due: ethereum-contracts, sdk-core

move struct to interface
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
Due: ethereum-contracts

fix build
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/sdk-core/src/interfaces.ts
Due: ethereum-contracts, sdk-core

use eip 1967 slot for admin
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/gov/SuperfluidGovernanceII.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/Superfluid.t.sol
Due: ethereum-contracts

fix build attempt
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
  packages/sdk-core/test/1.4_supertoken_gda.test.ts
Due: ethereum-contracts, sdk-core

Update SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

fTUSD isn't a default TestToken anymore
  packages/ethereum-contracts/ops-scripts/deploy-test-environment.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-proxies.sh
Due: ethereum-contracts

mention in changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
