Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

reorg agreements folder again
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistribution/Common.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistribution/ConstantFlowDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistribution/InstantDistributionAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ProportionalDistributionIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/Universal/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/UniversalIndex.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/ConstantFlowDistributionAgreement_prop.hs
  packages/spec-haskell/packages/core/test/Money/Systems/Superfluid/TestTypes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
Due: none

final cleanup
  packages/ethereum-contracts/contracts/interfaces/agreements/IConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/agreements/ConstantFlowAgreementV1.test.js
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

ctx is not clean bad rename
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.js
Due: ethereum-contracts

git statusAdd SFError name
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

all methods covered [skip ci]
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

back to int96 flowrate [skip ci]
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

remove nomore relevant files [skip ci]
  packages/ethereum-contracts/contracts/agreements/AgreementForwarder.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/ICFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/AgreementForwarder.test.js
Due: ethereum-contracts

satisfied linter, finished incomplete testcase
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
  packages/ethereum-contracts/testsuites/all-contracts.js
Due: ethereum-contracts

fixed path
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/testsuites/all-contracts.js
Due: ethereum-contracts

[SDK-core] Specify name property for `SFError` (#1048)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

Update README.md
  README.md
Due: none

one more return to be removed
  packages/ethereum-contracts/contracts/gov/SuperfluidGovernanceBase.sol
Due: ethereum-contracts

fix arbitrum-rinkeby chainId
  packages/ethereum-contracts/truffle-config.js
Due: ethereum-contracts

added gnosischain support, updated to plugin v2.5.28 with new syntax for proxy verification
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

undo changes not intended to be committed
  packages/ethereum-contracts/scripts/info-print-contract-addresses.js
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] Add gnosisscan support (#1050)
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  yarn.lock
Due: ethereum-contracts

Update README to link to examples repo
  README.md
Due: none

Update README to link to examples repo (#1051)
  README.md
Due: none

renamed matic bridged token according to new classification (native -> pure)
  packages/ethereum-contracts/contracts/interfaces/tokens/IMaticBridgedPureSuperToken.sol
  packages/ethereum-contracts/contracts/tokens/MaticBridgedPureSuperToken.sol
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedNativeSuperToken.test.js
  packages/ethereum-contracts/testsuites/custom-tokens.js
Due: ethereum-contracts

added renamed test
  packages/ethereum-contracts/test/contracts/tokens/MaticBridgedPureSuperToken.test.js
Due: ethereum-contracts

adapted deploy script
  packages/ethereum-contracts/scripts/deploy-matic-bridged-pure-super-token.js
Due: ethereum-contracts

Fix the precious slack bot message
  tasks/daily-slack-bot.js
Due: none

Fix the precious slack bot message (#1053)
  tasks/daily-slack-bot.js
Due: none

addressed review feedback + some more code removal inspired by it
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
  packages/ethereum-contracts/scripts/deploy-deterministically.js
  packages/ethereum-contracts/test/contracts/agreements/CFAv1Forwarder.test.js
Due: ethereum-contracts

less convoluted wording
  packages/ethereum-contracts/contracts/agreements/CFAv1Forwarder.sol
Due: ethereum-contracts

fix deployment test
  packages/ethereum-contracts/test/scripts/deployment.test.js
Due: ethereum-contracts

actions/setup-node cache property added (#1002)
  .github/workflows/call.check-query-schema-against-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-hardhat-deployer.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  .github/workflows/cd.ethereum-contracts-stable.create-release-drafts.yml
  .github/workflows/cd.feature.create-pr-artifact.yml
  .github/workflows/cd.hardhat-deployer-stable.create-release-drafts.yml
  .github/workflows/cd.js-sdk-lts-v0_6.create-release-drafts.yml
  .github/workflows/cd.js-sdk-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-core-stable.create-release-drafts.yml
  .github/workflows/cd.sdk-redux-stable.create-release-drafts.yml
  .github/workflows/cd.subgraph-stable.create-release-drafts.yml
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
  .github/workflows/daily-slack-message.yml
  .github/workflows/handler.build-examples.yml
  .github/workflows/handler.deploy-subgraph.yml
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.publish-pr-packages.yml
  .github/workflows/handler.publish-release-packages.yml
  .github/workflows/handler.update-evm-contracts-docs.yml
  .github/workflows/handler.verify-contracts.yml
  packages/subgraph/tasks/testenv-ctl.sh
Due: none

specify cache-dependency-path (#1018)
  .github/workflows/handler.build-examples.yml
Due: none

Deprecate networks (#1032)
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.run-ethereum-contracts-script.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

[SUBGRAPH] Update addresses.template.ts (#1047)
  packages/subgraph/src/addresses.template.ts
Due: none

Update CHANGELOG.md
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

Deprecate networks (#1032)
  .github/workflows/handler.deploy-to-network.yml
  .github/workflows/handler.deploy-to-testnets.yml
  .github/workflows/handler.list-super-token.yml
  .github/workflows/handler.verify-contracts.yml
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/etherscan-verify-framework.sh
  packages/ethereum-contracts/truffle-config.js
  packages/js-sdk/package.json
  packages/js-sdk/src/getConfig.js
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/config/arbitrum-goerli.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/optimism-goerli.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/networks.json
  packages/subgraph/package.json
  packages/subgraph/scripts/maps.ts
  packages/subgraph/src/addresses.template.ts
  yarn.lock
Due: ethereum-contracts, js-sdk, sdk-core

[SDK-core] Don't wrap transaction errors with `SFError` & don't serialize a massive internal error into `SFError` message (#1046)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  yarn.lock
Due: sdk-core

[SDK-core] Don't wrap transaction errors with `SFError` & don't serialize a massive internal error into `SFError` message (#1046)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/miniSerializeError.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
Due: sdk-core

[SDK-core] Specify name property for `SFError` (#1048)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/test/0_framework.test.ts
Due: sdk-core

Update CHANGELOG.md (#1055)
  packages/sdk-core/CHANGELOG.md
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
