Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

update workflows to include new package
  .github/workflows/ci.feature.yml
  tasks/check-changeset.sh
Due: none

lint and update readme typo
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/deploy/deploy.js
  packages/automation-contracts/scheduler/deploy/deploy.js
Due: none

fix indentation
  tasks/check-changeset.sh
Due: none

[ETHEREUM-CONTRACTS/SUBGRAPH/SDK-CORE] | Issue #1220 | Move `runDeployContractsAndToken` (#1227)
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/dev-scripts/deployContractsAndToken.js
  packages/ethereum-contracts/dev-scripts/runDeployContractsAndToken.js
  packages/ethereum-contracts/hardhat.config.ts
  packages/ethereum-contracts/tsconfig.scripts.json
  packages/ethereum-contracts/utils/README.md
  packages/sdk-core/hardhat.config.ts
  packages/sdk-core/package.json
  packages/sdk-core/test/TestEnvironment.ts
  packages/subgraph/README.md
  packages/subgraph/config/ganache.json
  packages/subgraph/hardhat.config.ts
  packages/subgraph/package.json
  packages/subgraph/test/helpers/helpers.ts
  packages/subgraph/tsconfig.json
  packages/subgraph/types/custom.d.ts
Due: ethereum-contracts, sdk-core

[monorepo] don't exclude foundry config file
  .gitignore
  packages/automation-contracts/autowrap/foundry.toml
  packages/automation-contracts/scheduler/foundry.toml
Due: none

undo breaking changes
  packages/ethereum-contracts/contracts/utils/SuperfluidSuperTokenCreator.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
Due: ethereum-contracts

fix SuperfluidFrameworkDeployer
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/sdk-core/test/3_batch_call.test.ts
Due: ethereum-contracts, sdk-core

ci fixes
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

test improvement
  .github/workflows/call.checkout-and-install-lockfile.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

catch my silly typos please
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

Update call.setup-deploy-and-test-local-subgraph.yml
  .github/workflows/call.setup-deploy-and-test-local-subgraph.yml
Due: none

always true
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
Due: ethereum-contracts

various ci fixes (#1233)
  .github/workflows/ci.canary.yml
  .github/workflows/ci.feature.yml
Due: none

update deploy and readme
  packages/automation-contracts/autowrap/README.md
  packages/automation-contracts/autowrap/deploy/deploy.js
  packages/automation-contracts/autowrap/script/addStrategy.js
  packages/automation-contracts/scheduler/README.md
  packages/automation-contracts/scheduler/deploy/deploy.js
Due: none

fix test
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

reusable wf
  .github/workflows/call.test-automation-contracts.yml
  .github/workflows/ci.feature.yml
  tasks/check-changeset.sh
Due: none

only one job
  .github/workflows/call.test-automation-contracts.yml
Due: none

add to all-packages-tested job
  .github/workflows/ci.feature.yml
Due: none

[ETHEREUM-CONTRACTS/SDK-CORE] Add `send` operation to BatchCall (#1218)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/superfluid/Definitions.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/test/contracts/superfluid/SuperToken.NonStandard.test.ts
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/SuperfluidFrameworkDeployer.t.sol
  packages/ethereum-contracts/test/foundry/libs/SlotsBitmapLibrary.prop.sol
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/test/TestEnvironment.ts
Due: ethereum-contracts, sdk-core

add to canary
  .github/workflows/ci.canary.yml
Due: none

subgraph deploy cleanup
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service.sh
  packages/subgraph/tasks/deploy-to-satsuma.sh
  packages/subgraph/tasks/deploy.sh
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

npx + missing inputs.network
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

handler fix
  .github/workflows/handler.deploy-subgraph.yml
Due: none

squash commit
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.CFA.test.ts
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.IDA.test.ts
  packages/ethereum-contracts/testsuites/apps-contracts.ts
Due: ethereum-contracts

test echo
  .github/workflows/call.deploy-subgraph.yml
Due: none

last test
  .github/workflows/call.deploy-subgraph.yml
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

must checkout
  .github/workflows/call.deploy-subgraph.yml
Due: none

test again
  .github/workflows/call.deploy-subgraph.yml
Due: none

gm
  .github/workflows/call.deploy-subgraph.yml
Due: none

one last try
  .github/workflows/call.deploy-subgraph.yml
Due: none

fix run
  .github/workflows/call.deploy-subgraph.yml
Due: none

fix subgraph deploy workflow
  .github/workflows/call.deploy-subgraph.yml
Due: none

uncomment
  packages/subgraph/tasks/deploy-to-satsuma.sh
Due: none

updated changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[GITHUB ACTIONS/SUBGRAPH] Clean up subgraph deploy (#1237)
  .github/workflows/call.deploy-subgraph.yml
  .github/workflows/handler.deploy-subgraph.yml
  packages/subgraph/package.json
  packages/subgraph/tasks/deploy-all-networks.sh
  packages/subgraph/tasks/deploy-to-hosted-service-network.sh
  packages/subgraph/tasks/deploy-to-hosted-service.sh
  packages/subgraph/tasks/deploy-to-satsuma.sh
  packages/subgraph/tasks/deploy.sh
  packages/subgraph/tasks/prepare-manifest.sh
Due: none

add missing natspec
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
Due: ethereum-contracts

relax callAppAction requirements
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/mocks/NonSuperAppContractMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperAppMocks.sol
  packages/ethereum-contracts/contracts/superfluid/Superfluid.sol
  packages/ethereum-contracts/test/contracts/superfluid/Superfluid.test.ts
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/mocks/NonSuperAppContractMock.sol
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
