Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

updated ExistentialNFTCloneFactory addresses (#1670)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

cleanup
  packages/ethereum-contracts/contracts/agreements/ConstantFlowAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/libs/SolvencyHelperLibrary.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/package.json
  packages/ethereum-contracts/tasks/coverage-cleanup.sh
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
Due: ethereum-contracts

cof/cif nft addresses added
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

cof/cif nft for polygon-zkevm-testnet
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

add to event
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/superfluid/SuperfluidPool.sol
Due: ethereum-contracts

[METADATA] cof/cif nft addresses added (#1671)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

bump metadata version
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

bump metadata version (#1672)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

added the right address for celo
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

added the right address for celo (#1673)
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

bump version
  packages/metadata/package.json
Due: none

bump all references
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

[METADATA]: Release v1.1.15 (#1674)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fix gda address for avalanche-fuji
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/subgraph/config/avalanche-fuji.json
Due: none

bump and push
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

subgraph and sdk-core changes
  packages/sdk-core/src/GeneralDistributionAgreementV1.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/interfaces.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/superfluidPool.ts
  packages/subgraph/subgraph.template.yaml
  yarn.lock
Due: sdk-core

wip
  packages/ethereum-contracts/contracts/agreements/DelegatableTokenMonad.sol
  packages/ethereum-contracts/contracts/agreements/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/dev-scripts/deploy-contracts-and-token.js
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/gdav1.ts
  packages/subgraph/subgraph.template.yaml
Due: ethereum-contracts

workaround for goerli resolver
  packages/ethereum-contracts/ops-scripts/libs/common.js
Due: ethereum-contracts

support updating to custom supertoken logic
  packages/ethereum-contracts/ops-scripts/gov-upgrade-super-token-logic.js
Due: ethereum-contracts

deploy script for gda forwarder & addition to framework deploy script
  packages/ethereum-contracts/ops-scripts/deploy-deterministically.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/ethereum-contracts/tasks/deploy-gda-forwarder.sh
Due: ethereum-contracts

added gdaV1Forwarder addresses for testnets
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: none

fix subgraph tests
  packages/subgraph/tests/gdav1/event/gdav1.event.test.ts
  packages/subgraph/tests/gdav1/gdav1.helper.ts
  packages/subgraph/tests/gdav1/hol/gdav1.hol.test.ts
Due: none

Update deploy.sh
  packages/subgraph/tasks/deploy.sh
Due: none

deployment env
  packages/subgraph/tasks/deploy.sh
Due: none

change file structure
  packages/ethereum-contracts/contracts/agreements/gdav1/DelegatableTokenMonad.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GDAv1Internal.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolAdminNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolMemberNFT.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/PoolNFTBase.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/SuperfluidPool.sol
  packages/ethereum-contracts/contracts/apps/SuperTokenV1Library.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IGeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IPoolAdminNFT.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IPoolMemberNFT.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/IPoolNFTBase.sol
  packages/ethereum-contracts/contracts/interfaces/agreements/gdav1/ISuperfluidPool.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/libs/SuperfluidPoolDeployerLibrary.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTMock.sol
  packages/ethereum-contracts/contracts/mocks/PoolNFTUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/mocks/SuperTokenLibraryV1Mock.sol
  packages/ethereum-contracts/contracts/mocks/SuperfluidPoolUpgradabilityMock.sol
  packages/ethereum-contracts/contracts/utils/GDAv1Forwarder.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/FoundrySuperfluidTester.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/echidna/EchidnaTestCases.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/ERC721.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/FlowNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolAdminNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolMemberNFT.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/PoolNFTBase.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperToken.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperTokenFactory.t.sol
  packages/ethereum-contracts/test/foundry/superfluid/SuperfluidPool.prop.sol
  packages/ethereum-contracts/test/foundry/utils/BatchLiquidator.t.sol
Due: ethereum-contracts

Update deploy.sh (#1677)
  packages/subgraph/tasks/deploy.sh
Due: none

unnecessary suffering
  packages/ethereum-contracts/contracts/agreements/gdav1/GeneralDistributionAgreementV1.sol
  packages/ethereum-contracts/contracts/mocks/GeneralDistributionAgreementV1Harness.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeploymentSteps.sol
  packages/ethereum-contracts/test/foundry/agreements/GeneralDistributionAgreementV1.prop.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreement.t.sol
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

cleanup
  packages/ethereum-contracts/contracts/agreements/gdav1/DelegatableTokenMonad.sol
  packages/ethereum-contracts/dev-scripts/deploy-test-framework.js
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/test/contracts/apps/SuperTokenV1Library.GDA.test.ts
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
  packages/sdk-core/src/interfaces.ts
Due: ethereum-contracts, sdk-core

update persistent forwarder addresses & make name generic
  packages/ethereum-contracts/ops-scripts/deploy-framework.js
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
Due: ethereum-contracts

moved trusted forwarders to metadata, added (numeric) sfId, added Gelato forwarders (GelatoRelayERC2771 and GelatoRelay1BalanceERC2771) as forwarders to testnets
  packages/ethereum-contracts/ops-scripts/libs/getConfig.js
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.d.ts
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
Due: ethereum-contracts

bump and push (#1676)
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/main/networks/list.cjs
  packages/metadata/module/networks/list.js
  packages/metadata/networks.json
  packages/metadata/package.json
  packages/sdk-core/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

fix hot fuzz breaking
  packages/hot-fuzz/contracts/SuperfluidTester.sol
  packages/hot-fuzz/contracts/superfluid-tests/GeneralDistributionAgreementV1.hott.sol
Due: none

Update bundled-abi-contracts-list.json
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
Due: ethereum-contracts

remove GDAv1Internal
  packages/ethereum-contracts/contracts/agreements/gdav1/GDAv1Internal.sol
Due: ethereum-contracts

Delete GDAv1Internal.sol
  packages/ethereum-contracts/contracts/agreements/gdav1/GDAv1Internal.sol
Due: ethereum-contracts

more memory for the job
  .github/workflows/call.test-ethereum-contracts.yml
Due: none

remove token info
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperToken.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperTokenFactory.sol
  packages/ethereum-contracts/contracts/interfaces/superfluid/ISuperfluid.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/ERC20WithTokenInfo.sol
  packages/ethereum-contracts/contracts/interfaces/tokens/TokenInfo.sol
  packages/ethereum-contracts/contracts/mocks/CFAv1NFTMock.sol
  packages/ethereum-contracts/contracts/superfluid/SuperToken.sol
  packages/ethereum-contracts/contracts/superfluid/SuperTokenFactory.sol
  packages/ethereum-contracts/contracts/utils/SuperfluidFrameworkDeployer.sol
  packages/ethereum-contracts/ops-scripts/deploy-super-token.js
  packages/ethereum-contracts/ops-scripts/deploy-unlisted-super-token.js
  packages/ethereum-contracts/tasks/bundled-abi-contracts-list.json
  packages/ethereum-contracts/utils/supertoken-deployer.html
  packages/js-sdk/README.md
  packages/js-sdk/src/Framework.js
  packages/js-sdk/test/Framework.test.js
  packages/sdk-core/src/ERC20Token.ts
Due: ethereum-contracts, sdk-core

fix formatting
  packages/js-sdk/src/Framework.js
  yarn.lock
Due: none

rename test functions
  packages/ethereum-contracts/test/foundry/agreements/gdav1/GeneralDistributionAgreementV1.prop.sol
Due: ethereum-contracts

Update CHANGELOG.md
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
