Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, sdk-core

dependency: try to update graphql-request
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

Revert "dependency: try to update graphql-request"
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
  yarn.lock
Due: sdk-core

fix build
  .github/workflows/call.test-local-subgraph.yml
Due: none

workflow: tweak test-local-subgraph
  .github/workflows/call.test-local-subgraph.yml
  packages/subgraph/.gitignore
  packages/subgraph/docker-compose.yml
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

make some changes to subgraph package
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/default.nix
Due: none

push a little
  packages/subgraph/default.nix
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

fix build
  .github/workflows/call.test-local-subgraph.yml
  packages/subgraph/.gitignore
  packages/subgraph/docker-compose.yml
Due: none

fix build
  packages/subgraph/docker-compose.yml
Due: none

fix build
  .github/workflows/call.test-local-subgraph.yml
  packages/subgraph/docker-compose.yml
Due: none

better test case for postCheck()
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

changelog
  packages/ethereum-contracts/CHANGELOG.md
Due: ethereum-contracts

[ETHEREUM-CONTRACTS] User Macro: added postCheck and recommendation for getParams (#1903)
  packages/ethereum-contracts/CHANGELOG.md
  packages/ethereum-contracts/contracts/interfaces/utils/IUserDefinedMacro.sol
  packages/ethereum-contracts/contracts/utils/MacroForwarder.sol
  packages/ethereum-contracts/tasks/deploy-macro-forwarder.sh
  packages/ethereum-contracts/test/foundry/utils/MacroForwarder.t.sol
Due: ethereum-contracts

fix build
  .github/workflows/call.test-local-subgraph.yml
  packages/subgraph/docker-compose.yml
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

try node20
  .github/workflows/call.test-local-subgraph.yml
Due: none

resolve cross-fetch to ^4.0.0 to support node 20+
  package.json
  yarn.lock
Due: none

revert subgraph changes, to be solved in a different PR
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/docker-compose.yml
  packages/subgraph/tasks/setup-graph-node.sh
  packages/subgraph/test/helpers/helpers.ts
Due: none

use node20 for sdk-core testing
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

clean up
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

clean up
  .github/workflows/call.test-sdk-core.yml
  packages/subgraph/tasks/setup-graph-node.sh
Due: none

clean up
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
Due: none

dependency: remove resolutions.mocha
  package.json
  yarn.lock
Due: none

depencency: remove resolution.graphql
  packages/sdk-core/package.json
Due: sdk-core

workflow: make node22 default and testing 18,20,22
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  flake.nix
  tasks/find-dup-devDependencies.sh
Due: none

workflow: make node22 default and testing 18,20,22
  flake.nix
  packages/ethereum-contracts/README.md
Due: ethereum-contracts

Workflow: tweak test-local-subgraph (#2013)
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
  package.json
  packages/subgraph/default.nix
  packages/subgraph/docker-compose.yml
  packages/subgraph/tasks/setup-graph-node.sh
  yarn.lock
Due: none

add .yarnrc to build input files
  default.nix
Due: none

workflow cleanups
  .github/workflows/call.test-ethereum-contracts.yml
  .github/workflows/call.test-local-subgraph.yml
  .github/workflows/call.test-sdk-core.yml
  .github/workflows/call.test-subgraph-on-previous-sdk-core-versions.yml
Due: none

pre-commit script cleanup
  .husky/pre-commit
Due: none

syncpack fix mismatches in semvers
  .syncpackrc.yml
  package.json
  packages/automation-contracts/autowrap/package.json
  packages/automation-contracts/scheduler/package.json
  packages/ethereum-contracts/package.json
  packages/js-sdk/package.json
  packages/sdk-core/package.json
  packages/sdk-redux/package.json
  packages/subgraph/package.json
Due: ethereum-contracts, sdk-core

update yarn.lock
  yarn.lock
Due: none

fix .husky/pre-commit
  .husky/pre-commit
Due: none

remove @superfluid-finance/ethereum-contracts from special semver group rule
  .syncpackrc.yml
  packages/sdk-core/package.json
Due: sdk-core

update readme
  .syncpackrc.yml
Due: none

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
  sdk-core: any of: packages/sdk-core, but not: packages/ethereum-contracts/contracts/mocks/*.sol, packages/ethereum-contracts/contracts/apps/SuperAppBase*.sol, packages/ethereum-contracts/contracts/utils/*Deployer.sol, packages/ethereum-contracts/contracts/utils/Test*.sol
