Repository superfluid-finance/protocol-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: ethereum-contracts, js-sdk, sdk-core, hardhat-deployer

Add back the serialized error to SFError's message (#978)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/SFError.ts
Due: sdk-core

fix isNativeAssetSuperToken indexing
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
  packages/subgraph/test/subgraph.test.ts
Due: none

fix Invalid workflow file error
  .github/workflows/handler.placeholder-for-testing.yml
Due: none

add if for previous versions tests
  .github/workflows/ci.feature.yml
Due: none

Fix Invalid workflow file error (#979)
  .github/workflows/ci.feature.yml
  .github/workflows/handler.placeholder-for-testing.yml
Due: none

[SDK-core] Refactor SFError to follow more conventional Error object structure (#960) (#977)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/BatchCall.ts
  packages/sdk-core/src/ConstantFlowAgreementV1.ts
  packages/sdk-core/src/ERC20Token.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/InstantDistributionAgreementV1.ts
  packages/sdk-core/src/Operation.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/SuperToken.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/subgraph/SubgraphClient.ts
  packages/sdk-core/src/utils.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/1_supertoken.test.ts
  packages/sdk-core/test/2_operation.test.ts
  packages/sdk-core/test/3_batch_call.test.ts
  packages/sdk-core/tsconfig.json
  packages/sdk-redux/tsconfig.json
Due: sdk-core

remove extra
  packages/subgraph/test/subgraph.test.ts
Due: none

SDK-Core - isNativeAssetSuperToken query support (#970)
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/src/addresses.template.ts
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/tasks/testenv-ctl.sh
Due: sdk-core

DFA System Tests added
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Communism.lhs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Integrations/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/superfluid-protocol-system-simple.cabal
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/System_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
  packages/spec-haskell/packages/simple/test/Tests.hs
  packages/spec-haskell/tasks/lhs2tex.sh
Due: none

better typedValuesToRTB impl
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
Due: none

first working function with test
  packages/ethereum-contracts/contracts/agreements/AgreementForwarder.sol
  packages/ethereum-contracts/test/contracts/agreements/AgreementForwarder.test.js
Due: ethereum-contracts

defer dfa_default_lambda to the last module
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/SuperfluidTypes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

removed some Default instance related boiler plates
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
Due: none

simplify Token monad code
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

untypeValue and DefaultSignatures
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

AnyTappedValue instead of AnyTyped
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/TypedValue.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/SubSystems/BufferBasedSolvency.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
Due: none

Use serialize-error
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
Due: sdk-core

create operation from framework
  packages/sdk-core/src/Framework.ts
Due: sdk-core

fix handler.publish-release-packages
  .github/workflows/handler.publish-release-packages.yml
Due: none

Downgrade serialize-error
  packages/sdk-core/package.json
Due: sdk-core

[SDK-core] Use `serialize-error` (#983)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/package.json
  packages/sdk-core/src/SFError.ts
Due: sdk-core

fix handler.publish-release-packages (#985)
  .github/workflows/handler.publish-release-packages.yml
Due: none

small fixes
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
Due: none

Split minter agreement out, added PDIDX extension for ITA
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/ProportionalDistributionIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/validator/src/Money/Systems/Superfluid/Validator/Simulation.hs
Due: none

minor fixes
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Due: none

split call.test-spec-haskell.yml out
  .github/workflows/call.test-spec-haskell.yml
  .github/workflows/ci.feature.yml
Due: none

Add missing stringify
  packages/sdk-core/src/SFError.ts
Due: sdk-core

Export Operation & OperationType
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/index.ts
Due: sdk-core

make test-spec-haskell part of canary build
  .github/workflows/ci.canary.yml
Due: none

Add missing stringify (#988)
  packages/sdk-core/src/SFError.ts
Due: sdk-core

create operation from framework (#984)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/index.ts
Due: sdk-core

cleanup
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/InstantTransferAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/MinterAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/ProportionalDistributionIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Indexes/UniversalIndexes.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/MonetaryUnit.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Token.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Types.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/ConstantFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/DecayingFlowAgreement_test.hs
  packages/spec-haskell/packages/simple/test/Money/Systems/Superfluid/TokenTester.hs
Due: none

test framework created operation
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

remove isNativeAssetSuperToken support for release
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
Due: sdk-core

Test Framework Created Operation + Remove isNativeAssetSuperToken from query (#989)
  packages/sdk-core/src/interfaces.ts
  packages/sdk-core/src/subgraph/entities/token/tokens.graphql
  packages/sdk-core/src/subgraph/queries/getAccountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/queries/getIndexSubscriptions.graphql
  packages/sdk-core/src/subgraph/queries/getIndexes.graphql
  packages/sdk-core/src/subgraph/queries/getStreams.graphql
  packages/sdk-core/src/subgraph/queries/getTokens.graphql
  packages/sdk-core/test/2_operation.test.ts
Due: sdk-core

Path conditions:
  ethereum-contracts: any of: packages/ethereum-contracts
  js-sdk: any of: packages/js-sdk
  sdk-core: any of: packages/sdk-core
  hardhat-deployer: any of: packages/hardhat-deployer
